.text_red{
	color: #ff0000;
}
.cart{
	position: relative;
}
.cart .cart_step {
	text-align: right;
  margin-bottom: 40px;
}
.cart .presently {
	width: 280px;
	padding: 30px;
	background: #eeeeee;
	position: absolute;
	right: 0;
	box-sizing: border-box;
	z-index: 1;
}
.cart .presently table {
 	width: 100%;
 	margin: 10px 0;
 	box-sizing: border-box;
}
.cart .presently tr td {
	text-align: right;
} 
.cart .presently tr td:first-child {
	text-align: left;
} 
.cart .presently table td {
	padding: 2px;
}
.cart .presently input[type="checkbox"] {
 	display: block;
	float: left;
}
.cart .presently table.top{
	margin-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.cart .presently table.middle {
	margin-bottom: 20px;
}
.cart .presently table.bottom {
	border-top: 1px solid #d6d6d6;
}
.cart .presently table.bottom td {
	padding: 10px 0;
	font-size: 14px;
}
.cart .presently table.bottom .total {
	font-size: 16px;
	text-align: right;
}
.cart .presently table.bottom .decision {
	padding: 0;
	text-align: center;
}
.cart .presently table.bottom .decision a {
	width: 100%;
	height: 100%;
	padding: 12px 0 8px;
	color: #fff;
	display: block;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 173px 15px;
}
.cart .presently table.bottom .decision a:hover {
	width: 100%;
	height: 100%;
	padding: 12px 0 8px;
	color: #fff;
	display: block;
	background: #b4cd37 url('../img/common/modal_nextArrow.png') no-repeat 173px 15px;
}
.order_contents {
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.order_contents table {
	margin-top: 20px;
	width: 100%;
	border-bottom: 2px solid #eee;
}
.order_contents tr {
	width: 100%;
	border-bottom: 1px solid #eee;
}
.order_contents tr th {
	display: inline-block;
	margin-bottom: 20px;
}
.order_contents .item_title,
.order_contents .price,
.order_contents .quantity,
.order_contents .change{
	padding: 0 20px;
	font-size: 13px;
	vertical-align: middle;
}
.order_contents .blank {
	width: 206px;
}
.order_contents .item_title {
	position: relative;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
}
.order_contents .item_title span {
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.order_contents .price {
	padding: 0;
	font-size: 13px;
}
.order_contents .quantity {
	padding-right: 0px;
}
.order_contents .quantity span{
	margin-left: 10px;
}
.order_contents .change a {
	padding: 3px 7px 1px;
	color: #fff;
	font-size: 12px;
	background: #8cb202;
}
.order_contents .change a:hover {
	background: #b4cd37;
}
/* のし */
.order_contents tr.present {
	border-bottom: 1px solid #eee;
}
.order_contents .present th {
	width: 160px;
	text-indent: 9px;
	text-align: left;
	font-weight: normal;
	font-size: 14px;
	margin-top: 20px;
}
.order_contents .present td {
	width: 100%;
}
.order_contents .present div {
	margin-bottom: 15px;
 	display: block;
}
.order_contents .present input {
	margin-bottom: 12px;
	margin-right: 7px;
}
.order_contents .present label {
	display: inline-block;
	width: 80px;
	font-size: 14px;
}
.order_contents .present select {
	margin-bottom: 20px;
}
.order_contents .payment .last{
	margin-bottom: 20px;
}

.delivering {
	margin-bottom: 100px;
}
.delivering table {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.delivering table table{
	margin-bottom: 0;
	border-bottom: none;
}
.delivering th {
	width: 160px;
	text-indent: 9px;
	text-align: left;
	font-weight: normal;
	font-size: 14px;
}
.delivering td {
	font-size: 14px;
}
.delivering .default,
.delivering .new {
	margin-bottom: 15px;
	overflow: hidden;
}
/* お届け先 */
.delivering .explanation p {
	margin-bottom: 3px;
}
.delivering .explanation select {
	margin-bottom: 28px;
}
.delivering .explanation p input{
	width: 190px;
	height: 35px;
	border: none;
	background-color: #6a6866;
	color: #fff;
	cursor: pointer;
	margin-bottom: 30px;
	font-size: 12px;
	position: relative;
	top: 10px;
}
.delivering .explanation p input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* 複数のお届け先に送る */
input.hukusuBtn {
	background-color: #b4cd37 !important;
	margin-right: 18px;
}

.delivering .default input[type="radio"],
.delivering .new input[type="radio"],
.delivering .present input[name="present"],
.delivering .payment input[name="payment"] {
	margin-right: 10px;
	float: left;
}
.delivering .payment td {
	padding-bottom: 20px;
}

/* creditForm */
#creditForm {
	display: none;
	margin-top: 5px;
}
#creditFormA {
	width: 593px;
	height: 178px;
	padding: 0 0 12px 30px;
	border: 1px solid #ccc;
	font-size: 14px;
	margin-bottom: 6px;
}
#creditFormA p {
	margin-top: 13px;
}
#creditFormA input {
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 6px;
}
#cf_long {
	width: 306px;
}
.cf_short {
	width: 46px;
}
.cf_middle {
	width: 136px;
	margin-right: 14px;
}
#creditFormA label {
	display: inline-block;
	width: 140px;
}
#creditFormA label.lable_meigi {
	width: 20px;
}
#creditFormA span {
	font-size: 12px;
	margin-left: 14px;
}
#creditFormA span a {
	color: #789415;
}
#creditFormB {
	font-size: 12px;
	line-height: 19px;
	padding-left: 48px;
	margin-bottom: 22px;
}
p#cfb_p1 {
	font-weight: bold;
}
#creditFormB p span {
	text-decoration: underline;
	margin-left: 30px;
}
#creditFormB > div input {
	margin-left: 13px;
}

.delivering .default p {
	float: left;
}
.new table th {
	width: 120px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
.new table td {
	padding: 5px 0;
}
.new table td div {
	float: left;
}
.new table .name span {
	width: 28px;
	display: inline-block;
}
.new table .name input{
	width: 115px;
	height: 30px;
	margin-right: 8px;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
}
.new table .adress_number input{
	width: 60px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
}
.new table .adress input{
	width: 360px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #e0e0e0;	
}
.new table .tel input{
	width: 95px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #e0e0e0;	
}
.new table .tel a.change {
	padding: 3px 7px 1px;
	margin-left: 25px;
	color: #fff;
	font-size: 12px;
	background: #8cb202;
}
.new table .tel a.change:hover {
	background: #b4cd37;
}
.desired td {
	margin-bottom: 4px;
	display: block;
}
.desired div {
	margin-bottom: 15px;
}

/* 備考・ご要望 */
.delivering .bikou {
	border-bottom: none;
}
.delivering .bikou a{
	color: #789415;
}
.delivering .bikou a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
.delivering .bikou td p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
}
.delivering .bikou td textarea {
	width: 498px;
	height: 117px;
	resize: none;
	font-size: 13px;
}
.delivering .bikou td div {
	font-size: 12px;
}

/* お届け先の追加モーダル（mypage.cssから流用:584-752） */
.modal_bg {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20000;
	background: url('../img/common/modal_bg.png') repeat left top;
	width: 100%;
	height: 100%;
}
#modal_addAddress_wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20001;
	width: 100%;
	height: 100%;
}
#modal_addAddress {
	width: 880px;
	padding: 30px 45px 60px;
	background-color: #fff;
	margin: 100px auto 0px;
	color: #383838;
	position: relative;
}
#modal_addAddress span.cartClose {
  position: absolute;
  right: 23px;
  top: 23px;
  display: inline-block;
  width: 33px;
  height: 33px;
  background: url('../img/common/modal_close.png') no-repeat left top;
  text-indent: -9999px;
  cursor: pointer;
}
#modal_addAddress h2 {
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-bottom: 5px;
} 
#modal_addAddress table{
	width: 100%;
	margin-top: 15px;
}
#modal_addAddress tr {
	min-height: 55px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
}

#modal_addAddress .date_no {
	height: 50px;
}
#modal_addAddress th {
	width: 210px;
	padding-top: 4px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
#modal_addAddress td {
	padding: 10px 20px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	border-left: 1px solid #e5e5e5;
}
#modal_addAddress td div {
	float: left;
}
#modal_addAddress div .name {
	min-width: 35px;
	padding-top: 8px;
	display: block;
	float: left;
}
#name01,
#kana01 {
	margin-right: 12px;
}
#modal_addAddress input{
	height: 30px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	background: #ecf1d6;
	border-radius: 4px;
	cursor: pointer;
}
#modal_addAddress select {
	width: 100px;
	height: 34px;
	border: 1px solid #e0e0e0;
	background: #ECF1D6;
}
#modal_addAddress input[type="checkbox"] {
	height: auto;
	display: block;
	float: left;
}
#modal_addAddress .short {
	width: 90px;
}
#modal_addAddress .middle {
	width: 170px;
}
#modal_addAddress .long {
	width: 305px;
}
#modal_addAddress .free {
	background: #fff;
}
#modal_addAddress .mail span,
#modal_addAddress .pass span {
	font-size: 11px;
}
#modal_addAddress .adress_number .text {
	font-size: 11px;
}
#modal_addAddress .adress div {
	width: 100%;
	margin-bottom: 15px;
}
#modal_addAddress .adress div:last-child{
	margin-bottom: 0;
}
#modal_addAddress .adress .text {
	width: 112px;
	display: block;
	float: left;
}
#modal_addAddress .tel .text {
	font-size: 11px;
}
#modal_addAddress span.name {
	font-size: 11px;
	margin-left: 10px;
	display: block;
	float: left;
}
#modal_addAddress input[type="submit"] {
	display: block;
	width: 290px;
	height: 40px;
	padding: 10px 0 7px;
	margin: 45px auto 0;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 250px 14px;
	border: none;
	border-radius: 0;
}
#modal_addAddress input[type="submit"]:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
.dis {
	cursor: default !important;
  background-color: #ccc !important;
  opacity: 0.7 !important;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

/* 複数のお届け先に送る */
.otodokesaki {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 76px;
	height: 19px;
	border: 2px solid #fe9900;
	color: #fe9900;
	text-align: center;
}
table.make  {
	width: 100%;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}
.desired {
	border-bottom: 1px solid #7f7f7f !important;
}
.newDesired {
	border-bottom: 1px solid #7f7f7f !important;
}
.newDesired tr {
	display: block;
	margin-bottom: 15px;
}
.newDesired tr:first-child {
	margin-bottom: 5px;
}
.newOtodoke .hukusuBtn {
	display: none;
}




/* ---------- */
/* step2 */
/* ---------- */
.step2_oreder{
	z-index: 0;
	margin-bottom: 130px;
}
.step2_oreder dl {
	clear: both;
	display: table;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	padding: 23px 0;
}
.step2_oreder dt,
.step2_oreder dd {
	display: block;
	float: left;
}
.step2_oreder dt {
	width: 160px;
	height: 100%;
}
.step2_oreder dd {
	width: 840px;
}
.step2_oreder .step2_item {
	padding-bottom: 40px;
}
.step2_oreder .step2_item dd {
	display: table !important;
}
.step2_oreder .step2_item dd > div:first-child {
	width: 152px;
}
.step2_oreder .step2_item dd > div {
	display: inline-block;
	vertical-align: middle;
	width: 155px;
}
.step2_oreder .step2_item_price {
	margin-left: 50px;
}





/* ---------- */
/* step3 */
/* ---------- */
#main_step3 #thankArea {
	background-color: #ecf1d6;
	text-align: center;margin-bottom: 230px;
	font-weight: bold;
	padding: 95px 0 92px;
}
#main_step3 #thankArea01 {
	color: #789415;
	font-size: 16px;
	margin-bottom: 20px;
}
#main_step3 #thankArea01:before {
	display: inline-block;
	content: '';
	width: 118px;
	border-top: 1px solid #b4cd37;
	position: relative;
	top: -5px;
	left: -15px;
}
#main_step3 #thankArea01:after {
	display: inline-block;
	content: '';
	width: 118px;
	border-top: 1px solid #b4cd37;
	position: relative;
	top: -5px;
	right: -15px;
}
#main_step3 #thankArea02 {
	color: #789415;
	font-size: 26px;
	margin-bottom: 45px;
}
#main_step3 #thankArea03 {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 22px;
}
#main_step3 #thankArea04 {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 24px;
}
#main_step3 #thankArea > div {
	border: 10px solid #f6f8eb;
	width: 544px;
	padding: 13px 0px;
	margin: 0px auto;
	font-size: 16px;
	margin-bottom: 15px;
}
#main_step3 #thankArea > div p {
	display: inline-block;
	margin: 0 5px;
}
#main_step3 #thankArea > div p span#ta04_a {
	margin-left: 6px;
}
#main_step3 #thankArea > div p span#ta04_b {
	margin-left: 16px;
}
#main_step3 #thankArea06 {
	font-size: 15px;
}
#main_step3 #thankArea07 {
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 52px;
}
#main_step3 #thankArea08 a {
	display: inline-block;
	width: 270px;
	height: 45px;
	color: #fff;
	font-size: 15px;
	line-height: 45px;
	font-weight: normal;
	background: url(../img/common/next_arrow.png) no-repeat 215px 16px; 
	background-color: #b4cd37;
}
#main_step3 #thankArea08 a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}


