/* ----------
	main 
---------- */
#contentsArea {
	display: table;
}
main {
	margin-bottom: 130px;
}
footer {
	z-index: 20;
}




/* ----------
	top 
---------- */
#formTop {
	position: relative;
}
#formTop h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 25px;
}
#formTop > p {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 30px;
}
/* 緑丸BOX */
#absoluteBox {
	position: absolute;
	width: 170px;
	height: 170px;
	right: 0;
	top: -35px;
}
/* 緑丸 */
#greenFixed {
	width: 170px;
	height: 122px;
	padding-top: 48px;
	background: url(../img/common/green_round.png) no-repeat left top;
	color: #474747;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	z-index: 10;
}
#greenFixed .text_red {
	color: #f30000;
}
#greenFixed.objFix {
	position: fixed;
	right: auto;
	left: auto;
	top: 50px;
}
/* 入力完了後（緑丸） */
#changeText {
	padding-top: 10px;
	font-size: 10px;
}
#changeText span {
	display: block;
}
#changeText span#redSpan {
	color: #f30000;
	font-size: 11px;
	font-weight: bold;
}





/* ----------
	form 
---------- */
/* table */
main table {
	width: 100%;
	font-size: 14px;
}
main form input {
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	padding: 5px 5px 6px;
	font-size: 14px;
}
/* tr */
main form tr {
	border-bottom: 1px solid #e5e5e5;
}
main form tr:first-child {
	border-top: 1px solid #e5e5e5;
}
tr.date_nothing {
	height: 45px;
}
/* th */
main form th {
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	border-right: 1px solid #e5e5e5;
	padding-left: 2px;
	width: 195px;
}
/* td */
main form td {
	padding: 10px 0px 10px 19px;
	position: relative;
}

/* 共通 */
main span.noticeText {
	position: absolute;
	left: 332px;
	top: 16px;
	font-size: 11px;
}
input.long {
	width: 278px;
}
/* お名前 */
.row_name td div {
	display: inline-block;
}
.row_name td label {
	display: inline-block;
	width: 36px;
}
.row_name td input {
	width: 158px;
	margin-right: 7px;
}
/* 郵便番号 */
main input.short {
	width: 78px;
}
/* 住所 */
#row_jusho td div {
	margin-bottom: 15px;
}
#row_jusho label {
	display: inline-block;
	width: 103px;
}
main form select {
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	height: 30px;
	font-size: 14px;
}
input.free {
	background-color: #fff;
}
/* アンケート */
#research td label {
	min-width: 18px;
	font-size: 13px;
	margin-right: 22px;
	margin-bottom: 18px;
}
label#zasshi {
	width: 37px;
}
#research td input[type="checkbox"] + label {
	padding-left: 20px;
}
#research td input[type="checkbox"] + label:before {
	top: 2px;
	left: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #ccc;
	background-color: #ccc;
}
#research td input[type="checkbox"]:checked + label:after {
	top: 1px;
	left: 4px;
	width: 6px;
	height: 10px;
  border-right: 3px solid #378200;
  border-bottom: 3px solid #378200;
}
#research td input[type="text"] {
	background-color: #fff;
	width: 278px;
	margin-left: -18px;
}



/* プライバシーポリシー */
section#privacyPolicy {
	margin-top: 40px;
}
section#privacyPolicy h3 {
	font-size: 15px;
	margin-bottom: 5px;
}
section#privacyPolicy div {
	height: 240px;
	overflow: auto;
	padding: 30px;
	font-size: 13px;
	background: #f1f1f1;
	box-sizing: border-box;
}
section#privacyPolicy h4 {
	margin-bottom: 5px;
}
section#privacyPolicy div p,
section#privacyPolicy div ol {
	margin-bottom: 12px;
}
section#privacyPolicy div p#pp_ceo {
	text-align: right;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
}
section#privacyPolicy div li {
	list-style-type: decimal;
	margin-left: 20px;
}



/* button */
p#reset_submit {
	margin-top: 53px;
	text-align: center;
}
p#reset_submit input {
	display: inline-block;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
}
p#reset_submit input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
p#reset_submit input[type="reset"] {
	background: url(../img/common/back_arrow.png) no-repeat 52px 13px;
	background-color: #939393 !important;
	width: 200px;
	text-indent: 10px;
	margin-right: 20px;
}
p#reset_submit input[type="submit"] {
	background: url(../img/common/next_arrow.png) no-repeat 225px 13px;
	background-color: #8cb202;
	width: 288px;
	text-indent: -10px;
}
input.dis {
	cursor: default !important;
	background-color: #ccc !important;
	opacity: 0.7 !important;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}






