main h2 {
	font-size: 22px;
	border-bottom: none;
	margin-bottom: 26px;
	padding-left: 2px;
}
p#main_topTest {
	line-height: 20px;
}
p#main_topTest span {
	color: #d12626;
}

/* ボタン */
.main_buttons {
	text-align: center;
	height: 40px;
	margin-top: 25px;
	margin-bottom: 42px;
}
.main_buttons input {
	display: inline-block;
	border: none;
	color: #fff;
	font-size: 15px;
	height: 40px;
	text-indent: -7px;
	cursor: pointer;
}
.main_buttons input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
.main_buttons_left {
	width: 250px;
	background: url(../img/common/next_arrow.png) no-repeat 208px 13px;
	background-color: #939393;
	margin-right: 20px;
}
.main_buttons_right {
	width: 270px;
	background: url(../img/common/next_arrow.png) no-repeat 194px 13px;
	background-color: #8cb202;
}

/* リスト */
main table {
	width: 100%;
	margin-bottom: 47px;
}
main table tr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
main table th {
	vertical-align: middle;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	font-weight: normal;
	height: 50px;
}
#thFirst {
	border-left: none !important;
}
#thLast {
	border-right: none !important;
}
#thTanka {
	text-indent: 10px;
}
main table td {
	vertical-align: middle;
	border: 1px solid #e5e5e5;
	text-align: center;
	font-size: 13px;
	height: 100px;
}
/* 商品コード */
.td_search {
	border-left: none !important;
	width: 170px;
	text-align: left;
}
.td_search input.searchbox {
	width: 96px;
	padding: 7px 2px 7px 5px;
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
		  -ms-border-radius: 3px;
		   -o-border-radius: 3px;
					border-radius: 3px;
	font-size: 13px;
	margin-right: 8px;
}
.td_search input[type="button"] {
	position: relative;
	top: -1px;
	width: 48px;
	height: 32px;
	background-color: #b8b8b8;
	border: none;
	color: #fff;
	cursor: pointer;
}
/* 商品写真 */
.td_img {
	width: 130px;
}
.td_img span {
	color: #888;
}
/* 商品名 */
.td_title {
	width: 204px;
	padding-left: 2px;
	padding-right: 2px;
}
/*　単価（税込） */
.td_price {
	width: 95px;
}
/* 数量 */
.td_number {
	width: 74px;
	position: relative;
}
.td_number span {
	position: absolute;
	left: 0;
	top: 4px;
	color: #f00;
	font-size: 10px;
	line-height: 12px;
}
.td_number input {
	width: 45px;
	padding: 7px 2px 7px 5px;
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
		  -ms-border-radius: 3px;
		   -o-border-radius: 3px;
					border-radius: 3px;
	font-size: 13px;
}
/* 小計 */
.td_sum {
	width: 63px;
}
/* のし */
.td_noshi {
	width: 109px;
}
.td_noshi select {
	width: 96px;
	height: 32px;
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
		  -ms-border-radius: 3px;
		   -o-border-radius: 3px;
					border-radius: 3px;
	font-size: 13px;
}
.td_noshi select option {
	vertical-align: middle;
}
/* 予約 */
.td_yoyaku {
	width: 85px;
}
/* 削除 */
.td_delete {
	border-right: none !important;
	width: 58px;
	text-align: right;
}
.td_delete input {
	width: 48px;
	height: 27px;
	background-color: #e6e6e6;
	border: none;
	cursor: pointer;
}
/* （共通） */
.td_search input[type="button"]:hover,
.td_delete input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

footer {
	margin-top: 144px;
}
