/* ----------
	main 
---------- */
main {
	margin-bottom: 130px;
}





#thankyouArea {
	width: 100%;
	height: 312px;
	padding-top: 96px;
	background-color: #ecf1d6;
	color: #789415;
	text-align: center;
	margin-top: -5px;
}
#thankyouArea p {
	font-size: 16px;
	margin-bottom: 21px;
}
#thankyouArea p:before,
#thankyouArea p:after {
	display: inline-block;
	content: '';
	width: 118px;
	height: 1px;
	border-top: 1px solid #b4cd37;
	position: relative;
	top: -4px;
	margin: 0px 18px;
}
#thankyouArea h2 {
	border: none;
	font-size: 26px;
	text-indent: 30px;
	margin-bottom: 66px;
}
#thankyouArea div input {
	display: inline-block;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 45px;
	cursor: pointer;
	background: url(../img/common/next_arrow.png) no-repeat 205px 16px;
	background-color: #8cb202;
	width: 270px;
	text-indent: -10px;
}
#thankyouArea div input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}