/* ----------
	main 
---------- */
main {
	margin-bottom: 130px;
}





/* ----------
	top 
---------- */
#formTop {
	position: relative;
}
#formTop h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 25px;
}
#formTop > p {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 30px;
}





/* ----------
	table 
---------- */
/* table */
main table {
	width: 100%;
	font-size: 14px;
}
/* tr */
main table tr {
	border-bottom: 1px solid #e5e5e5;
}
main table tr:first-child {
	border-top: 1px solid #e5e5e5;
}
tr.date_nothing {
	height: 45px;
}
/* th */
main table th {
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	border-right: 1px solid #e5e5e5;
	padding-left: 2px;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 195px;
}
/* td */
main table td {
	padding: 14px 0px 14px 19px;
	position: relative;
	vertical-align: middle;
}



/* button */
p#back_submit {
	margin-top: 53px;
	text-align: center;
}
p#back_submit input {
	display: inline-block;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
}
p#back_submit input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
p#back_submit input[type="button"] {
	background: url(../img/common/back_arrow.png) no-repeat 20px 13px;
	background-color: #939393;
	width: 200px;
	text-indent: 10px;
	margin-right: 20px;
}
p#back_submit input[type="submit"] {
	background: url(../img/common/next_arrow.png) no-repeat 193px 13px;
	background-color: #8cb202;
	width: 288px;
	text-indent: -10px;
}






