/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}
main section {
	width: 100%;
	margin-bottom: 44px;
}
main h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 7px;
}



/* ---------------
	カテゴリータイトル
--------------- */
#categoryTitle {

}
#categoryTitle > div {
	background: url('../img/category/category_houjicha.jpg') no-repeat center top;
	width: 760px;
	height: 260px;
	text-indent: -9999px;
	margin-bottom: 21px;
}
#categoryTitle h2 {
	font-size: 16px;
	line-height: 24px;
	border-bottom: 1px solid #b2b2b2;
	text-indent: 1px;
	margin-bottom: 11px;
}
#categoryTitle p {
	font-size: 13px;
	line-height: 19px;
	padding-left: 1px;
}



/* ---------------
	sortingArea
--------------- */
#sortingArea {
	text-align: right;
	margin: 13px 0px 40px;
}
#sortingArea>p, #sortingArea>div {
	display: inline-block;
}
#sortingArea>p {
	font-size: 13px;
	margin-right: 44px;
}
/* selectカスタマイズ */
.selectBox {
	width: 105px;
	height: 20px;
	padding-top: 1px;
	z-index: 1;
	border: 1px solid #c7c7c7;
	background: url('../img/category/sorting_arrow.png') no-repeat 88px 6px;
	text-align: center;
	text-indent: -10px;
	font-size: 13px;
}
.select {
	-webkit-box-sizing:border-box;
	-webkit-appearance: none;
	display: inline-block;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 109px;
	height: 25px;
	cursor: pointer;
}



/* ---------------
			list
--------------- */
#itemArea {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 7px;
	display: table;
	width: 775px;
	margin-left: -9px;
}
#itemArea li {
	width: 142px;
	display: inline-block;
	margin-left: 9px;
	margin-bottom: 40px;
	vertical-align: top;
}
#itemArea li a {
	display: block;
}
#itemArea li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* 商品画像 */
#itemArea li a img {
	margin-bottom: 8px;
}
/* タグ */
/*
.item_tag {
	display: inline-block;
	padding: 0px 13px;
	background-color: #b9d01e;
	font-size: 10px;
	color: #fff;
	letter-spacing: 0.5px;
}
*/
#itemArea li a > div {
	position: relative;
	min-height: 19px;
}
span.item_tag_yoyaku,
span.item_tag_kisetsu,
span.item_tag_new,
span.item_tag_kanbai,
span.item_tag_suryo,
span.item_tag_teiki,
span.item_tag_chilled,
span.item_tag_cool,
span.item_tag_muryo,
span.item_tag_sample,
span.item_tag_machi,
span.item_tag_okaidoku,
span.item_tag_newsale,
span.item_tag_kani,
span.item_tag_zumi,
span.item_tag_huka,
span.item_tag_osusume {
	display: inline-block !important;
	width: 68px;
	height: 18px;
	padding-top: 1px;
	text-align: center;
	margin-bottom: 4px;
	font-size: 11px;
	position: relative;
	vertical-align: top;
}
span.item_tag_yoyaku {
	background-color: #c7edd6;
}
span.item_tag_kisetsu {
	background-color: #f7df97;
}
span.item_tag_new {
	background-color: #daeb6a;
}
span.item_tag_kanbai {
	background-color: #ea244e;
	color: #fff;
}
span.item_tag_suryo {
	background-color: #efbfca;
}
span.item_tag_teiki {
	background-color: #ecc6a5;
}
span.item_tag_chilled {
	background-color: #cbe7ed;
}
span.item_tag_cool {
	background-color: #bbd3e6;
}
span.item_tag_muryo {
	border: 2px solid #ea244e;
	width: 64px;
	height: 13px;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 16px;
}
span.item_tag_sample {
	background-color: #e4d4ed;
}
span.item_tag_machi {
	background-color: #ded9cb;
}
span.item_tag_okaidoku {
	background-color: #fac8d3;
}
span.item_tag_newsale {
	background-color: #f58830;
	color: #fff;
}
span.item_tag_kani,
span.item_tag_zumi,
span.item_tag_huka {
	border: 2px solid #ff8560;
	width: 64px;
	height: 13px;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 16px;
}
span.item_tag_osusume {
	background-color: #fac8d3;
}
/* 商品番号 */
.item_number {
	display: block;
	font-size: 11px;
	margin-top: 3px;
	margin-bottom: 2px;
}
/* 詳細 */
#itemArea li a dl {
	font-size: 13px;
	line-height: 18px;
}
#itemArea li a dt {
	font-weight: bold;
}



/* ---------------
		pagerArea
--------------- */
ul#pagerArea {
	clear: both;
	width: 100%;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 120px;
}
ul#pagerArea li {
	display: inline-block;
	margin: 0px 4px;
}
ul#pagerArea li a {
	display: table-cell;
	width: 33px;
	height: 33px;
	background: url('../img/category/pager_off.png') no-repeat left top;
	vertical-align: middle;
}
ul#pagerArea li#active a {
	background: url('../img/category/pager_on.png') no-repeat left top !important;
	color: #fff !important;
}
ul#pagerArea li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}



