@charset "utf-8";
/* ===============================================================
CSS information
#このスタイルシートの構成
■リセット
■基本設定
・ヘッダ
・カルーセル
・サイド
・フッタ
=============================================================== */

/*---------------------------
	リセット
----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	 -webkit-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset input[type="search"] */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
input[type="search"]:focus {
  outline-offset: -2px;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}





/*---------------------------
	基本設定
----------------------------*/
body {
	*font-size: small;
	*font: x-small;
	font: normal normal normal 12px/1.6 'ＭＳ Ｐゴシック', 'Lucida Grande', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'HG丸ゴシックM-PRO', sans-serif;
	font-family: 'メイリオ', 'Meiryo','ＭＳ Ｐゴシック', 'Lucida Grande', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3','HG丸ゴシックM-PRO', sans-serif;
	position: relative;
	background-color: #ffffff;
	color: #3c3c3c;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	font-family: 'メイリオ', 'Meiryo','ＭＳ Ｐゴシック', 'Lucida Grande', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3','HG丸ゴシックM-PRO', sans-serif !important;
}

h2 {
	font-size: 14px;
	border-bottom: 1px solid #d9d9d9;
}

a {
	color: #3c3c3c;
	text-decoration: none;
}

img {
	vertical-align: bottom;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

/* html5 */
header,footer,aside,main,nav,section,article {
	display: block;
	position: relative;
}





/* ---------- 
	ヘッダ 
---------- */
/* topA */
header:before {
	display: block;
	position: absolute;
	content: "";
	background-color: #8c989b;
	width: 100%;
	height: 30px;
}
#topA {
	position: relative;
	z-index: 1;
	background-color: #8c989b;
	color: #fff;
	width: 100%;
	height: 30px;
	margin-bottom: 27px;
}
#topA h1 {
	font-weight: normal;
	font-size: 11px;
	position: absolute;
	left: 0;
	top: 5px;
}

ul#header_topA {
	position: absolute;
	right: 60px;
	top: 11px;
	font-size: 12px;
}
ul#header_topA li {
	float: left;
}
ul#header_topA li {
	margin: 0 4px;
	display: inline-block;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid #fff;
}
ul#header_topA li a {
	display: block;
	position: relative;
	top: -15px;
	color: #fff;
	padding: 5px 4px;
}
ul#header_topA li:hover {
	border-left: 4px solid #ecff95;
	-webkit-transition: border-left 0.2s ease-in-out;
		 -moz-transition: border-left 0.2s ease-in-out;
			 -o-transition: border-left 0.2s ease-in-out;
			    transition: border-left 0.2s ease-in-out;
}
ul#header_topA li a:hover {
	color: #ecff95 !important;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}
/* sns */
ul#header_sns {
	position: absolute;
	right: 8px;
	top: 4px;
	width: 52px;
	height: 22px;
}
#topA_facebook, #topA_twitter {
	display: inline-block;
}
#topA_facebook a, #topA_twitter a{
	display: block;
	width: 23px;
	height: 22px;
	text-indent: -9999px;
}
#topA_facebook a {
	background: url('../img/common/header_facebook.png') no-repeat left center;
}
#topA_twitter a {
	background: url('../img/common/header_twitter.png') no-repeat left center;
}
ul#header_sns a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* tel */
/*
#topA p {
	position: absolute;
	right: 0;
	top: 0;
}
#topA p a {
	display: block;
	width: 229px;
	height: 71px;
	background: url('../img/common/header_tel.png') no-repeat left top;
	text-indent: -9999px;
}
*/

/* topB */
#topB {
	clear: both;
	position: relative;
	margin-bottom: 14px;
}
#satoenLogo a {
	display: inline-block;
	width: 405px;
	height: 64px;
	background: url('../img/common/header_logo.png') no-repeat left top;
	text-indent: -9999px;
}

/* ログイン前 */
#login {
	position: absolute;
	right: 70px;
	bottom: 0;
	z-index: 1000;
}
#login_title {
	display: inline-block;
	position: relative;
	z-index: 10;
	background: url('../img/common/header_signup.png') no-repeat left 3px;
	text-indent: 6px;
	padding: 0px 10px;
	font-weight: bold;
	font-size: 13px;
}
#login_child {
	display: none;
	width: 200px;
	height: 220px;
	padding: 52px 13px 0px;
	position: absolute;
	top: -15px;
	left: -20px;
	background-color: #f0f0f0;
	background-color: rgba(240,240,240,0.9);
	border: 1px solid #dfdedf;
	z-index: 1;
	font-weight: normal;
}
.same_size input {
/*#login_child input[type="email"], #login_child input[type="password"] {*/
	width: 195px;
	padding: 2px 0px 3px 5px;
	border: 1px solid #dfdedf;
	margin-top: 12px;
	font-size: 13px;
	color: #626262;
}
#login_child input[type="submit"] {
	width: 202px;
	height: 29px;
	background-color: #8cb202;
	border: none;
	color: #fff;
	font-size: 13px;
	vertical-align: bottom;
}
p#check {
	font-size: 12px;
	line-height: 12px;
	margin: 6px 1px 19px;
	color: #626262;
}
/* checkboxカスタマイズ */
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	padding-left: 15px;
	cursor: pointer;
}
input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 9px;
	height: 9px;
	border: 1px solid #999;
}
input[type="checkbox"]:checked + label:after {
	content: "";
	position: absolute;
	top: -1px;
	left: 3px;
	display: block;
	width: 4px;
	height: 8px;
  border-right: 2px solid #789415;
  border-bottom: 2px solid #789415;
  -webkit-transform: rotate(40deg);
     -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
       -o-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* /checkboxカスタマイズ */
p#forget a {
	display: block;
	text-decoration: underline;
	color: #626262;
	font-size: 11px;
	margin: 3px 0px 18px 3px;
}
p#forget a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}
p#signup a {
	display: block;
	width: 202px;
	height: 24px;
	padding-top: 5px;
	background-color: #939393;
	color: #fff;
	font-size: 13px;
	text-align: center;
}
#login_child input[type="submit"]:hover, p#signup a:hover {
	cursor: pointer;
	color: #fff;
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* いらっしゃいませ */
p#mypage_name {
	display: none;
	position: absolute;
	right: 15px;
	top: 0;
	font-size: 13px;
}
p#mypage_name span {
	margin: 0px 5px 0px 7px;
}
/* マイページ */
#mypage {
	display: none;
	width: 150px;
	position: absolute;
	right: 62px;
	bottom: -5px;
	z-index: 1000;
}
/* マイページ */
#mypage_title {
	display: block;
	position: relative;
	text-indent: 23px;
	background: url('../img/common/header_mypage.png') no-repeat 5px 8px;
	font-size: 13px;
	font-weight: bold;
	line-height: 29px;
	z-index: 10000;
	width: 200px;
}
/*
#mypage_hello {
	position: relative;
	z-index: 10000;
	line-height: 18px;
}
#mypage_name {
	position: relative;
	z-index: 10000;
	font-size: 14px;
	line-height: 14px;
	width: 190px;
}
*/
#mypage_child {
	display: none;
	width: 202px;
	padding: 36px 13px 2px;
	position: absolute;
/*	bottom: -238px; */
	bottom:-298px;
	left: -18px;
	background-color: #ecf1d6;
	border: 1px solid #dfdedf;
	z-index: 1;
	font-weight: normal;
}
#mypage_child ul {
	color: #f00;
	border-top: 1px solid #d4d8c0;
	padding: 10px 15px 10px;
}
ul#mypage_child_a {
	border-top: none;
	padding-bottom: 23px;
}
#mypage_child ul li {
	line-height: 26px;
	font-size: 13px;
}
#mypage_child ul li a:before {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 3px solid transparent;
	border-left: 4px solid #626262;
}
#mypage_child ul li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}

/* ポイント数表示 */
#mypage_child ul div.spoint {
	position:relative;
	line-height: 0px;
	left:-15px;
	width:202px;
	height:40px;
	margin:0 0 20px 0;
	background-color:#fff;
	font-size: 13px;
	color:#000;
}

#mypage_child ul div.spoint p{
	text-align:left;
	padding:20px 0 0 1em;
	float:left;
	
}
#mypage_child ul div.spoint span{
	text-align:right;
	padding:0 1em 0 0;
	font-size:16px;
	float:right;
	clear:both;
}


/* 右の2つ */
#topB > ul {
	position: absolute;
	bottom: 0;
	right: 210px;
	font-size: 13px;
	font-weight: bold;
}
#topB > ul li {
	float: left;
}
#topB_liB {
	background: url('../img/common/header_cart.png') no-repeat left center;
	text-indent: 19px;
	margin-left: 75px;
	margin-right: 27px;
	cursor: pointer;
}
#topB_liC {
	background: url('../img/common/header_catalog.png') no-repeat left center;
	text-indent: 15px;
	padding: 0px 3px 0px 10px;
}
#topB_liB:hover, #topB_liC a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}





/* ---------- 
	パンくずリスト 
---------- */
ul#pankuzulist {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 25px;
}
ul#pankuzulist li {
	display: inline-block;
	font-size: 12px;
}
ul#pankuzulist li a {
	margin-right: 4px;
}
ul#pankuzulist li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}





/* ---------- 
	サイド 
---------- */
aside {
	float: left;
	width: 200px;
	margin-bottom: 130px;
}

/* 芯蒸し茶 */
.cnt_shinmushi {
	margin-bottom: 60px;
}
.cnt_shinmushi a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
.cnt_shinmushi h2 {
	background: url(../img/index/title_side_shinmushicha.png) no-repeat 40px 5px;
	height: 17px;
	text-indent: -9999px;
	border-bottom: 1px solid #bad450;
	margin-bottom: 6px;
	padding: 5px 0 5px 40px;
	position: relative;
}
.cnt_shinmushi h2:before {
	content: url(../img/index/ico_title_leaf01.png);
	position: absolute;
	top: 0px;
	left: 5px;
	text-indent: 0;
}

/* 検索　*/
#side_search {
	position: relative;
	margin-bottom: 28px;
}
#side_search input[type="text"]{
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	font-size: 13px;
	padding: 5px 35px 5px 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#side_search input::-webkit-input-placeholder {
    color: #383838;
}
#side_search input:-moz-placeholder {
    color: #383838;
}
#side_search .btn_search {
	position: absolute;
	top: 5px;
	right: 12px;
	background: none;
	border: none;
	z-index: 9999;
}

/* aside01 */
#aside01 {
	margin-bottom: 27px;
}
#aside01 a {
	display: block;
	width: 200px;
	height: 310px;
	background: url('../img/common/side_bnr_trialset.jpg') no-repeat left center;
	text-indent: -9999px;
}
#aside01 a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

/* 最近の投稿（news） */
#aside_newsNew {
	margin-bottom: 21px;
}
#aside_newsNew h2 {
	font-size: 14px;
	text-align: center;
	background-color: #d3e188;
	width: 200px;
	height: 28px;
	padding-top: 8px;
}
#aside_newsNew li a {
	display: block;
	width: 196px;
	padding: 9px 2px;
	border-bottom: 1px solid #ececec;
	font-size: 14px;
	line-height: 20px;
}
#aside_newsNew li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}
#aside_newsNew p {
	text-align: right;
	margin-top: 5px;
}
#aside_newsNew p a:before {
	display: inline-block;
	content: '';
	width: 0px;
	height: 0px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 3px solid transparent;
	border-left: 4px solid #383838;
	margin-bottom: 1px;
}
#aside_newsNew p a {
	font-size: 12px;
}
#aside_newsNew p a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}

/* アーカイブ（news） */
#aside_newsArchive {
	margin-bottom: 32px;
}
#aside_newsArchive h2 {
	font-size: 14px;
	text-align: center;
	background-color: #d3e188;
	width: 200px;
	height: 28px;
	padding-top: 8px;
}
#aside_newsArchive li a {
	display: block;
	width: 196px;
	padding: 9px 2px;
	border-bottom: 1px solid #ececec;
	font-size: 14px;
	line-height: 20px;
}
#aside_newsArchive li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}

/* aside02 */
#aside02 {
	width: 200px;
	margin-bottom: 20px;
}
#aside02 h2 {
	font-size: 15px;
	font-weight: normal;
	border: none;
	padding: 8px 0 6px 42px;
	margin-bottom: 8px;
	line-height: 1;
	background: url(../img/common/ico_contents_rank.png) no-repeat left center;
}
#aside02 ul li {
	padding-top: 30px;
	margin-bottom: 8px;
}
#aside02 ul li span.aside02_date {
	display: block;
	text-align: right;
	font-size: 11px;
}
#aside02 ul li#aside02_no1 {
	background: url(../img/common/title_rank01.png) no-repeat left top;
}
#aside02 ul li#aside02_no2 {
	background: url(../img/common/title_rank02.png) no-repeat left top;
}
#aside02 ul li#aside02_no3 {
	background: url(../img/common/title_rank03.png) no-repeat left top;
}

#aside02 ul li a:hover {
	opacity: 0.8;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}
#aside02 .btn_more {
	text-align: right;
	margin-top: 20px;
}
#aside02 .btn_more a {
	padding-left: 12px;
	background: url(../img/common/ico_arrow_more.png) no-repeat left center;
	font-size: 13px;
}
#aside02 .btn_more a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}

/* aside04 */
#accordion {
	width: 200px;
	margin: 0 auto 40px;
 	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
/* 親要素 */
#accordion dt {
	display: block;
	font-size: 15px;
	color: #1c4600;
	cursor: pointer;
	padding: 19px 0px 5px 73px;
	margin-bottom: 2px;
	position: relative;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
#accordion dt:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#accordion > dt {
	margin-bottom: 5px;
	background: url(../img/common/side_dot_line.png) no-repeat bottom;
	position: relative;
}

#accordion dd dt {
	color: #3c3c3c;
	margin-bottom: 0;
}
#accordion dd ul li {
	position: relative;
}
#accordion_02 .accordion:before ,#accordion dd ul li:before {
	content: url(../img/common/side_ico_level1.png);
	position: absolute;
	left: -15px;
	top: 0;
}


/*150517追加*/
#accordion_02 .accordion{
	text-align:left;
	padding:0;
	background:#FFFFFF;
	text-indent: 18px;
}
#accordion_02 .accordion{
  background-color:none;

}
#accordion_02 dt.open {
  background-color: none;
}
#accordion_02 dd ul li{
	text-indent: 30px;
}
dt#aside_ac08 {
	
}

#aside_ac01:before {
	content: url('../img/common/ico_side_tea.png');
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#aside_ac02:before {
	content: url('../img/common/ico_side_tokuho.png');
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#aside_ac03:before {
	content: url('../img/common/ico_side_teabag.png');
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#aside_ac04:before {
	content: url('../img/common/ico_side_chaki.png');
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

#aside_ac06:before {
	content: url('../img/common/ico_side_ochauke.png');
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#aside_ac07:before {
	content: url('../img/common/ico_side_matome.png');
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#aside_ac08:before {
	content: url('../img/common/ico_side_gift.png');
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

#accordion dt#aside_ac07 {
	padding: 0;
}
#accordion dt#aside_ac07 a {
	display: block;
	color: #1c4600;
	cursor: pointer;
	padding: 19px 0px 5px 73px;
}

/* 子要素 */
#accordion dd {
	display: none;
	padding: 7px 0px 7px 10px;
	color: #3c3c3c;
}
#accordion dd li {
	font-size: 13px;
	line-height: 26px;
	text-indent: 18px;
}
#accordion dd li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}
#accordion #accordion_02 dd {
	padding: 0;
}
#accordion_02 dd ul li:before {
	content: url(../img/common/side_ico_level2.png);
	left: -12px;
}
#accordion_02 dd ul li.tag_gift:after {
	content: url(../img/common/side_tag_gift.png);
	position: absolute;
	top: 0;
	right: 0;
}
#accordion_02 dd ul li.tag_recommend:after {
	content: url(../img/common/side_tag_recommend.png);
	position: absolute;
	top: 0;
	right: 0;
}
#accordion_02 dd ul li.tag_ranking:after {
	content: url(../img/common/side_tag_ranking.png);
	position: absolute;
	top: 0;
	right: 0;
}

/* aside05~13 */
#aside05 a, #aside06 a, #aside09-2 a, #aside08 a, #aside09 a, #aside10 a {
	display: block;
	width: 200px;	
	text-indent: -9999px;
}
#aside05 a:hover, #aside06 a:hover, #aside09-2 a:hover, #aside08 a:hover, #aside09 a:hover, #aside10 a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* aside05 */
#aside05 a {
	height: 170px; 
	background: url('../img/common/aside05.jpg') no-repeat left top;
	margin-bottom: 8px;
}
/* aside06 */
#aside06 a {
	height: 115px; 
	background: url('../img/common/aside06.png') no-repeat left top;
	margin-bottom: 25px;
}
/* aside08 */
#aside08 a {
	height: 75px; 
	background: url('../img/common/aside08.jpg') no-repeat left top;
	margin-bottom: 25px;
}
/* aside09 */
#aside09 a {
	height: 75px; 
	background: url('../img/common/aside09.png') no-repeat left top;
	margin-bottom: 6px;
}
#aside09-2 a {
	height: 75px; 
	background: url('../img/common/aside09-2.png') no-repeat left top;
	margin-bottom: 17px;
}
/* aside10 */
#aside10 a {
	height: 95px; 
	background: url('../img/common/aside10.jpg') no-repeat left top;
	margin-bottom: 33px;
}
/* aside12 */
#aside11 {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 21px;
}
/* aside12 */
#aside12 {
	width: 100%;
	height: 58px;
	background: url('../img/common/aside12.jpg') no-repeat center top;
	text-indent: -9999px;
	padding-bottom: 9px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 29px;
}
/* aside13 */
#aside13 {
	width: 100%;
	height: 39px; 
	background: url('../img/common/aside13.jpg') no-repeat center top;
	text-indent: -9999px;
}


/* マイページメニュー */
#aside_mypage ul li {
	height: 40px;
	background: #ecf1d6;
	border-bottom: 1px solid #fff;
}
#aside_mypage ul li a {
	font-size: 13px;
	padding: 11px 20px 10px;
	display: block;
	color: #262626;
}
#aside_mypage ul li.active,#aside_mypage ul li:hover {
	background: #d3e189;
	-webkit-transition: 0.2s ease-in-out;
		 -moz-transition: 0.2s ease-in-out;
			 -o-transition: 0.2s ease-in-out;
			    transition: 0.2s ease-in-out;
}


/* ----------
	bottom（最近チェックした商品）
---------- */
#contents_bottom {
	clear: both;
	display: table;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 120px;
}
#contents_bottom h2 {
	padding-top: 40px;
	border-bottom: none;
	margin-bottom: 15px;
}
#contents_bottom li {
	float: left;
	display: block;
	width: 179px;
	height: 100%;
	margin-left: 26px;
	position: relative;
}
li#history01 {
	margin-left: 1px !important;
}
#contents_bottom li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#contents_bottom li a {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#contents_bottom li a img {
	margin-bottom: 9px;
}
#contents_bottom li a span {
	display: block;
	line-height: 18px;
}
/*
span.history_tag {
	font-size: 12px;
	color: #fff;
	background-color: #b9d01e;
	width: 72px;
	height: 18px;
	padding-top: 1px;
	text-align: center;
	margin-bottom: 4px;
}
*/
#contents_bottom li a > div {
	min-height: 23px;
}
span.history_tag_yoyaku,
span.history_tag_kisetsu,
span.history_tag_new,
span.history_tag_kanbai,
span.history_tag_suryo,
span.history_tag_teiki,
span.history_tag_chilled,
span.history_tag_cool,
span.history_tag_muryo,
span.history_tag_sample,
span.history_tag_machi,
span.history_tag_okaidoku,
span.history_tag_newsale,
span.history_tag_kani,
span.history_tag_zumi,
span.history_tag_huka,
span.history_tag_osusume,
span.history_tag_teiki {
	display: inline-block !important;
	width: 68px;
	padding-top: 1px;
	text-align: center;
	margin-bottom: 4px;
	font-size: 11px;
}
span.history_tag_yoyaku {
	background-color: #c7edd6;
}
span.history_tag_kisetsu {
	background-color: #f7df97;
}
span.history_tag_new {
	background-color: #daeb6a;
}
span.history_tag_kanbai {
	background-color: #ea244e;
	color: #fff;
}
span.history_tag_suryo {
	background-color: #efbfca;
}
span.history_tag_teiki {
	background-color: #ecc6a5;
}
span.history_tag_chilled {
	background-color: #cbe7ed;
}
span.history_tag_cool {
	background-color: #bbd3e6;
}
span.history_tag_muryo {
	border: 2px solid #ea244e;
	width: 64px;
	height: 13px;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 16px;
}
span.history_tag_sample {
	background-color: #e4d4ed;
}
span.history_tag_machi {
	background-color: #ded9cb;
}
span.history_tag_okaidoku {
	background-color: #fac8d3;
}
span.history_tag_newsale {
	background-color: #f58830;
	color: #fff;
}
span.history_tag_kani,
span.history_tag_zumi,
span.history_tag_huka {
	border: 2px solid #ff8560;
	width: 64px;
	height: 13px;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 16px;
}
span.history_tag_osusume {
	background-color: #fac8d3;
}
span.history_sub {
	font-size: 13px;
	color: #789415;
}
span.history_main {
	font-size: 13px;
	font-weight: bold;
}
span.history_price {
	font-size: 13px;
}





/* ------------ 
	フッタ 
------------ */
footer {
	clear: both;
	background-color: #5f6a6c;
	width: 100%;
	height: 380px;
	color: #fff;
}
footer .container {
	position: relative;
	height: 100%;
	background-color: #5f6a6c;
}
footer .container:after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 98px;
	background-color: #555f61;
}
p#footer_toplink {
	position: absolute;
	top: -32px;
	right: 0px;
	text-align: center;
}
#footer_toplink a {
	background-color: #5f6a6c;
	display: block;
	width: 162px;
	height: 29px;
	padding-top: 6px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#footer_toplink a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#footer_toplink a:after {
	display: inline-block;
	content: '';
	width: 0px;
	height: 6px;
	border-top: 0px solid transparent;
	border-bottom: 10px solid #fff;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	margin-left: 7px;
}
footer li:before {
	display: inline-block;
	content: '';
	width: 0px;
	height: 0px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 3px solid transparent;
	border-left: 4px solid #fff;
	margin-bottom: 1px;
}
footer li a {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}
footer li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}

#footerLink01 {
	position: absolute;
	top: 46px;
	left: 5px;
}
#footerLink02 {
	position: absolute;
	top: 166px;
	left: 5px;
}
#footerLink03 {
	position: absolute;
	top: 46px;
	left: 184px;
}
#footerLink04 {
	position: absolute;
	top: 94px;
	left: 184px;
}
/*
#footerLink04 > li {
	display: inline-block;
	font-size: 14px;
}
#footerLink04 > li:before {
	border: none !important;
}*/
/*
#footerLink04 > li span {
	display: inline-block;
	text-indent: -23px;
}
*/
#footerLink05 {
	position: absolute;
	top: 46px;
	left: 390px;
}

/* TEL */
#footer_tel {
	position: absolute;
	left: 687px;
	top: 35px;
	width: 197px;
	height: 95px;
	text-indent: -9999px;
	background: url('../img/common/footer_tel.png') no-repeat left top;
}
/* FAX */
#footer_fax {
	position: absolute;
	left: 687px;
	top: 165px;
	width: 193px;
	height: 79px;
	text-indent: -9999px;
	background: url('../img/common/footer_fax.png') no-repeat left top;
}

#copy {
	position: absolute;
	bottom: 0;
	background-color: #555f61;
	width: 100%;
	height: 98px;
	text-align: center;
}
#copy span {
	display: block;
	width: 227px;
	height: 13px;
	margin: 43px auto 0px;
	text-indent: -9999px;
	background: url('../img/common/footer_copy.png') no-repeat left top;
}










/* モーダルウィンドウ */
#modal_bg {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20000;
	background: url('../img/common/modal_bg.png') repeat left top;
	width: 100%;
	height: 100%;
}
#modal_wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20001;
	width: 100%;
	height: 100%;
}
#modal_mainArea {
	width: 880px;
	padding: 30px 45px 60px;
	background-color: #fff;
	margin: 100px auto 0px;
	color: #383838;
	position: relative;
}
/* 閉じる */
span#cartClose {
	position: absolute;
	right: 23px;
	top: 23px;
	display: inline-block;
	width: 33px;
	height: 33px;
	background: url('../img/common/modal_close.png') no-repeat left top;
	text-indent: -9999px;
	cursor: pointer;
}
span#cartClose:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* ショッピングカート */
h2#cartTitle {
	border: none;
	font-size: 20px;
	position: relative;
	bottom: -9px;
	background: url('../img/common/modal_cartIcon.png') no-repeat 1px 4px;
	text-indent: 35px;
}
/* リストヘッダ */
p#cartHeader {
	border-bottom: 1px solid #ccc;
	padding-left: 378px;
}
p#cartHeader span {
	display: inline-block;
	margin-bottom: 2px;
}
span#cartHeader01 {
	margin-right: 95px;
}
span#cartHeader02 {
	margin-right: 49px;
}
span#cartHeader03 {
	margin-right: 40px;
}
/* 商品リスト */
ul#cartList > li {
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
}
ul#cartList li li {
	display: table-cell;
	vertical-align: middle;
}
ul#cartList li img {
	display: inline-block;
	margin-right: 24px;
}
ul#cartList li.cartMainName span {
	display: block;
}
ul#cartList li span {
	display: inline-block;
}
ul#cartList li span.cl_name {
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	width: 190px;
}
ul#cartList li span.cl_days {
	font-size: 14px;
	width: 165px;
}
ul#cartList li span.cl_noshi {
	font-size: 14px;
	width: 120px;
	text-align: center;
}
ul#cartList li span.cl_price {
	font-size: 14px;
	width: 90px;
	text-align: center;
}
ul#cartList li select {
	display: inline-block;
	width: 50px;
	margin: 0px 18px 0px 10px;
	background-color: #fff;
	cursor: pointer;
}
ul#cartList li input {
	display: inline-block;
	width: 100px;
	background-color: #fff;
	border: 1px solid #dedede;
	width: 65px;
	height: 22px;
	cursor: pointer;
}
ul#cartList li input:hover {
	color: #fff;
	background-color: #789415;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		 -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			 -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
/* cartAfterList */
#cartAfterList {
	position: relative;
	width: 100%;
	margin-top: 12px;
	margin-bottom: 55px;
}
/* 値引き */
p#cartDis {
	position: absolute;
	right: 20px;
	top: 0;
	width: 190px;
}
p#cartDis span {
	position: absolute;
	right: 0;
	display: inline-block;
}
/* 小計 */
p#cartSum {
	position: absolute;
	right: 20px;
	top: 25px;
	font-weight: bold;
	font-size: 14px;
	width: 190px;
}
p#cartSum span {
	position: absolute;
	right: 0;
	font-size: 16px;
	color: #ff1600;
}
/* ご注意 */
p#cartNote {
	color: #fe9900;
	font-size: 20px;
	line-height: 18px;
}
/* ボタン2つ */
p#cartButton {
	margin-bottom: 170px;
}
p#cartButton input {
	float: right;
	display: inline-block;
	border: none;
	color: #fff;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
}
p#cartButton input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#cartButton_back {
	background: url('../img/common/modal_backArrow.png') no-repeat 25px 13px;
	background-color: #939393;
	width: 200px;
	margin-right: 20px;
	text-indent: 5px;
}
#cartButton_next {
	background: url('../img/common/modal_nextArrow.png') no-repeat 175px 13px;
	background-color: #8cb202;
	width: 250px;
	margin-right: 15px;
}
/* こちらの商品もおすすめ！ */
section#cartSliderArea {
	display: block;
	width: 760px;
	margin: 0px auto;
	position: relative;
	right: -5px;
}
section#cartSliderArea h3 {
	font-size: 14px;
	margin-bottom: 9px;
}
ul#sliderCart {
	width: 300px;
}
ul#sliderCart li {
	width: 142px; 
}
ul#sliderCart li:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
ul#sliderCart li dt {
	margin-bottom: 5px;
}
ul#sliderCart li dd {
	font-size: 13px;
}
ul#sliderCart li dd div {
	width: 125px;
}
ul#sliderCart li dd div:first-child {
	font-weight: bold;
}
/**/
#cartSliderArea .bx-prev, #cartSliderArea .bx-next {
	display: inline-block;
	text-indent: -9999px;
	width: 21px;
	height: 21px;
	position: absolute;
	z-index: 9999;
	top: 100px;
}
#cartSliderArea .bx-prev:hover, #cartSliderArea .bx-next:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#cartSliderArea .bx-prev {
	background: url(../img/common/modal_prev.png) no-repeat left top;
	left: -30px;	
}
#cartSliderArea .bx-next {
	background: url(../img/common/modal_next.png) no-repeat left top;
	right: -30px;
}




/* ========== formツールチップのカスタマイズ ========== */
	.formError .formErrorContent {
		width: 100% !important;
	}
	.formError .formErrorClose {
		right: -27px !important;
		top: -8px !important;
		width: 14px !important;
		height: 14px !important;
		line-height: 14px !important;
		background-color: #c00 !important;
		border-color: #c00 !important;
	}
	.formError .formErrorClose:hover {
		opacity: 0.8 !important;
		-webkit-transition: opacity 0.2s ease-in-out;
			 -moz-transition: opacity 0.2s ease-in-out;
				 -o-transition: opacity 0.2s ease-in-out;
				    transition: opacity 0.2s ease-in-out;
		filter: alpha(opacity=80);
	  -ms-filter: "alpha(opacity=80)";
	  -khtml-opacity: 0.8;
	  -moz-opacity: 0.8;
	}
/* ========== /formツールチップのカスタマイズ ========== */










/* ========== PC/SP切り替え ========== */
#spLinkBlockInPc {
	display: none; /* PCの場合は絶対に非表示になる */
	margin-bottom: 2px;
}
#spLinkBlockInPc a {
	display: block;
	width: 100%;
	height: 55px;
	padding-top: 15px;
	background: url(../img/common/smartphone.png) no-repeat 328px center;
	background-color: #e0e0e0;
	color: #6a6866;
	font-size: 24px;
	text-align: center;
}
/* ========== / PC/SP切り替え ========== */


