/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
	overflow: hidden;
}





/* ---------------
	コンテンツ記事 
--------------- */
/* ヘッダ */
.contents_title {
	border: none;
	width: 760px;
	height: 50px;
	background: url('../img/contents/contents_title_bg.png') no-repeat left top;
	text-align: center;
	font-size: 14px;
	line-height: 50px;
	position: relative;
}
.contents_title:before {
	display: block;
	content: '';
	background: url('../img/contents/contents_title_book.png') no-repeat left top;
	width: 34px;
	height: 24px;
	position: absolute;
	left: 227px;
	top: 13px;
}
#contents_title_rensai:after,
#contents_title_recipe:after,
#contents_title_interview:after,
#contents_title_ocha:after {
	display: block;
	content: '';
	position: absolute;
}
#contents_title_rensai:after {
	background: url('../img/contents/contents_title_rensai.png') no-repeat left top;
	width: 45px;
	height: 29px;
	right: 224px;
	top: 11px;
}
#contents_title_recipe:after {
	background: url('../img/contents/contents_title_recipe.png') no-repeat left top;
	width: 34px;
	height: 29px;
	right: 229px;
	top: 10px;
}
#contents_title_interview:after {
	background: url('../img/contents/contents_title_interview.png') no-repeat left top;
	width: 25px;
	height: 26px;
	right: 236px;
	top: 13px;
}
#contents_title_ocha:after {
	background: url('../img/contents/contents_title_ocha.png') no-repeat left top;
	width: 27px;
	height: 26px;
	right: 233px;
	top: 13px;
}
/* 本文 */
article#contents_main {
	border: 1px solid #eee;
	padding: 0px 57px 25px;
	margin-bottom: 34px;
}
/* （ヘッダー） */
section#header {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 25px;
}
section#header p#date {
	width: 100%;
	height: 30px;
	margin-bottom: 18px;
}
section#header #date span {
	position: absolute;
	right: 0;
	top: 5px;
}
section#header h2 {
	font-size: 18px;
	line-height: 18px;
	border: none;
	margin-bottom: 18px;
}
section#header h2 span {
	color: #f58830 !important;
}
section#header #lead {
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}

/* （本文） */
section#honbun {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 31px;
	padding-bottom: 20px;
}
section#honbun h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 21px 0px;
}
section#honbun p {
	font-size: 14px;
	line-height: 26px;
	margin: 23px 0px;
}

figure {
	width: 640px;
	margin: 0px;
}
figcaption {
	margin-top: 5px;
	margin-bottom: 22px;
}

/* （フッター） */
section#footer {
	font-size: 13px;
	margin-bottom: 47px;
}
section#footer div#info {
	min-height: 110px;
	background: url('../img/contents/photo01.jpg') no-repeat left top;
	margin-bottom: 38px;
}
div#info ul {
	margin-left: 150px;
	padding: 5px 10px 0px 22px;
	line-height: 24px;
}
div#info li#infoname {
	font-weight: bold;
}
section#footer div#author {
	min-height: 110px;
	background: url('../img/contents/column_author.jpg') no-repeat left top;
}
div#author dl {
	margin-left: 150px;
	padding: 5px 10px 0px 22px;
	line-height: 20px;
}
div#author dt {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
div#author dt span {
	display: block;
	font-weight: normal;
}

/* SNS */
section#share {
	text-align: center;
}

/* articleNav */
p#articleNav {
	text-align: center;
	margin-bottom: 70px;
}
p#articleNav a#pager_left,
p#articleNav a#pager_center,
p#articleNav a#pager_right {
	display: inline-block;
	width: 139px;
	height: 33px;
	font-size: 15px;
	color: #2d2d2d;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	margin: 0px 10px;
}
p#articleNav a#pager_left:hover,
p#articleNav a#pager_center:hover,
p#articleNav a#pager_right:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
p#articleNav a#pager_left {
	text-indent: 5px;
	background: url('../img/contents/pager_left.png') no-repeat left top;
}
p#articleNav a#pager_center {
	background: url('../img/contents/pager_center.png') no-repeat left top;
}
p#articleNav a#pager_right {
	text-indent: -5px;
	background: url('../img/contents/pager_right.png') no-repeat left top;
}




/* ----------------------
		新着記事 & おすすめ記事
---------------------- */
#new_recomend_posts {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display: table;
	width: 760px;
	padding: 31px 20px 30px;
	background: url('../img/contents/contents_title_bg.png') repeat-y left top;
	margin-bottom: 53px;
}
#new_recomend_posts section {
	display: table;
}
#new_recomend_posts article {
	float: left;
	margin-left: 21px;
	margin-bottom: 24px;
}
#new_recomend_posts h2 {
	border: none;
	font-size: 17px;
	line-height: 1;
	margin-bottom: 18px;
}
#new_recomend_posts .ochaClumnLeft {
	margin-left: 0px;
}
#new_recomend_posts dd {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 226px;
	height: 200px;
	position: relative;
	background-color: #fff;
	padding: 41px 15px 0 18px;
}
#new_recomend_posts dd > span {
	position: absolute;
	top: 9px;
	right: 15px;
}
#new_recomend_posts dd h3 {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 12px;
}
#new_recomend_posts dd h3 span {
	color: #ff4716;
}
.new_recomend_posts_text {
	font-size: 14px;
	line-height: 18px;
}
.new_recomend_posts_continue {
	font-size: 11px;
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.new_recomend_posts_continue:before {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 3px solid transparent;
	border-left: 4px solid #383838;
}
hr#hrline {
  clear: both;
  width: 720px;
  margin: 12px auto 36px;
  border: none;
  border-top: 1px solid #fff;
}
#new_recomend_posts a {
	display: block;
}
#new_recomend_posts a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* コラムをもっと読む */
p#more_column {
	width: 100%;
	text-align: center;
	margin-top: 19px;
}
p#more_column a {
	display: block;
	width: 400px;
	height: 30px;
	padding-top: 10px;
	margin: 0px auto;
	/*background: url('../img/contents/moreColumn_arrow.png') no-repeat 275px center;*/
	background-color: #6a6866;
	color: #fff;
	font-size: 13px;
	position: relative;
}
p#more_column a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}