/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}





/* ---------------
	コンテンツタイトル
--------------- */
#contentsTitle h2 {
	width: 100%;
	height: 210px;
	background: url('../img/contents_index/index_nihoncha.jpg') no-repeat left top;
	text-indent: -9999px;
	padding-bottom: 30px;
	border: none;
}





/* ---------------
		コラムリスト
--------------- */
.category_rensai,
.category_recipe,
.category_ochacolumn,
.category_interview {
	left: 13px;
	top: 8px;

}
#contents_index {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display: table;
	width: 760px;
}
#contents_index article {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 226px;
	float: left;
	margin-left: 41px;
	margin-bottom: 30px;
	border: 1px solid #e0e0e0;
}
#contents_index .indexLeft {
	margin-left: 0px;
}
#contents_index dt {
	position: relative;
	left: -1px;
	top: -1px;
	width: 226px;
}
#contents_index dd {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 224px;
	height: 200px;
	position: relative;
	background-color: #fff;
	padding: 41px 14px 0 13px;
}
#contents_index dd > span {
	position: absolute;
	top: 9px;
	right: 15px;
}
#contents_index dd h3 {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 12px;
}
#contents_index dd h3 span {
	color: #ff4716;
}
.contents_index_text {
	font-size: 14px;
	line-height: 18px;
}
.contents_index_continue {
	font-size: 11px;
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.contents_index_continue:before {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 3px solid transparent;
	border-left: 4px solid #383838;
}
/*
hr#hrline {
  clear: both;
  width: 720px;
  margin: 12px auto 36px;
  border: none;
  border-top: 1px solid #fff;
}
*/
#contents_index a {
	display: block;
}
#contents_index a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}





/* ---------------
		pagerArea
--------------- */
ul#pagerArea {
	clear: both;
	width: 100%;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 100px;
	padding-top: 34px;
	border-top: 1px solid #e5e5e5;
}
ul#pagerArea li {
	display: inline-block;
	margin: 0px 4px;
}
ul#pagerArea li a {
	display: table-cell;
	width: 33px;
	height: 33px;
	background: url('../img/category/pager_off.png') no-repeat left top;
	vertical-align: middle;
}
ul#pagerArea li#active a {
	background: url('../img/category/pager_on.png') no-repeat left top !important;
	color: #fff !important;
}
ul#pagerArea li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#pagerDots {
	position: relative;
	top: -10px;
	letter-spacing: -2px;
	font-weight: bold;
	font-size: 14px;
}