/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}


/* h2 */
#free_shippingArea h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 20px;
}
#free_shippingArea h3.bdb {
	font-size: 16px;
	line-height: 18px;
	margin-top: 30px;
	padding-bottom: 9px;
	margin-bottom: 5px;
	border-bottom: 1px solid #d9d9d9;
}
#free_shippingArea h4 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
#free_shippingArea p {
	font-size: 13px;
}