/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}


/* h2 */
#giftArea h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 5px;
}
#giftArea p.attention {
	color: #f30000;
}
.gift_bloc {
	margin-top: 55px;
}
.gift_bloc h3 {
	margin-bottom: 15px;
	padding-left: 70px;
	height: 40px;
	line-height: 2.7;
	font-size: 16px;
	font-weight: normal;
	background-color: #ecf1d6;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.gift_bloc h3.point01 {
	background-image: url(../img/common/ico_point01.png);
}
.gift_bloc h3.point02 {
	background-image: url(../img/common/ico_point02.png);
}
.gift_bloc h3.point03 {
	background-image: url(../img/common/ico_point03.png);
}
.gift_bloc h4 {
	font-size: 13px;
}
.gift_bloc p {
	margin-bottom: 20px;
	font-size: 13px;
}
