/* ----------
		guide
---------- */
main {
	float: right;
	width: 760px;
	min-height: 650px;
}
.tar {text-align: right !important;}
.tac {text-align: center !important;}

.guideWrap {
	margin-bottom: 100px;
}
.guideWrap h2 {
	font-size: 22px;
	font-weight: bold;
	border-bottom: none;
	margin-bottom: 20px;
}
.guideWrap h3.bdb {
	font-size: 16px;
	line-height: 18px;
	margin-top: 30px;
	padding-bottom: 9px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}
.guideWrap p {
	line-height: 22px;
}
.guideWrap p.outline {
	margin-bottom: 20px;
}


/* guide_nav */
#guide_nav {
	border: 1px solid #edebde;
	border-radius: 3px;
	margin-bottom: 38px;
}
#guide_nav ul.nav_main {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#guide_nav ul.nav_main li {
	display: table-cell;
	vertical-align: middle;
	border-left: 1px solid #fff;
	height: 48px;
}
#guide_nav ul.nav_main li:first-child {
	border-left: none;
}
#guide_nav ul.nav_main li a {
	display: block;
	padding: 14px 0 13px;
	text-align: center;
	background: #f2f6db;
	font-size: 14px;
	font-weight: bold;
}
#guide_nav ul.nav_main li:hover a,#guide_nav ul.nav_main li.active a  {
	background: #d3e188;
}
#guide_nav ul.nav_flow {
	display: table;
	width: 100%;
}
#guide_nav ul.nav_flow li {
	display: table-cell;
	vertical-align: middle;
}
#guide_nav ul.nav_flow li a {
	display: block;
	padding: 21px 0 18px 38px;
	background: url(../img/guide/ico_nav_flow.png) no-repeat 24px center;
}
#guide_nav ul.nav_flow li:hover a,#guide_nav ul.nav_flow li.active a  {
	color: #8aa532;
}


/* ----------
	guide_indexArea
---------- */
	    
/* for_beginner */
.for_beginner {
	margin-bottom: 45px;
}
.for_beginner .cnt_bloc {
	background: #fff;
	border: 10px solid #f2f6db;
	padding: 25px;
	margin-bottom: 15px;
}
.for_beginner .cnt_bloc h3 {
	font-size: 16px;
	margin-bottom: 20px;
}
.for_beginner .cnt_bloc h4 {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: normal;
}
.for_beginner .cnt_bloc .btn {
	margin: 20px auto 0;
	width: 250px;
}
.for_beginner .cnt_bloc .btn a {
	width: 100%;
	height: 100%;
	padding: 12px 0 8px;
	color: #fff;
	display: block;
	font-size: 14px;
	text-indent: 40px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 205px 15px;
}
.for_beginner .cnt_bloc .btn a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

/* present */
.present .inner {
	background: url('../img/guide/bg_present.jpg') no-repeat;
	height: 293px;
}
.present .inner h4 {
	font-size: 21px;
	line-height: 1.6;
	color: #e1396f;
	padding: 55px 0 0 38px;
	font-weight: normal;
}
.present .inner p {
	margin-top: 40px;
	padding-left: 38px;
}


/* ----------
	guide_memberArea
---------- */
#guide_memberArea h4 {
	font-size: 16px;
	margin-bottom: 15px;
}
#guide_memberArea h4.gr {
	color: #a0b52d;
}
#guide_memberArea .cnt_member {
	margin-bottom: 60px;
}
#guide_memberArea .cnt_member .inner {
	margin-top: 25px;
}
#guide_memberArea .cnt_member .inner .image {
	float: right;
	padding-left: 20px;
}
#guide_memberArea .cnt_member .inner p {
	margin-bottom: 15px;
}
#guide_memberArea .cnt_member .inner span.attention {
	color: #ff0000;
}
#guide_memberArea .cnt_member.bloc02 a {
	color: #607b00;
	text-decoration: underline;
}
#guide_memberArea .cnt_member.bloc03 .btn {
	width: 250px;
	margin-bottom: 50px;
}
#guide_memberArea .cnt_member.bloc03 .btn a {
	width: 100%;
	height: 100%;
	padding: 12px 0 8px;
	color: #fff;
	display: block;
	font-size: 14px;
	text-indent: 40px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 205px 15px;
}
#guide_memberArea .cnt_member.bloc03 .btn :hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}



/* ----------
	guide_guidanceArea
---------- */
#guide_nav ul.nav_guidance {
	overflow: hidden;
	padding: 25px 22px 18px;
	width: 100%;
}
#guide_nav ul.nav_guidance li {
	float: left;
	margin-bottom: 5px;
	width: 25%;
}
#guide_nav ul.nav_guidance li a {
	display: block;
	padding: 0 0 0 18px;
	background: url(../img/guide/ico_nav_guidance.png) no-repeat 0 center;
}


#guide_guidanceArea h4 {
	font-size: 16px;
	margin-bottom: 10px;
}
#guide_guidanceArea h4.gr {
	color: #a0b52d;
}
#guide_guidanceArea h5 {
	font-size: 14px;
}
#guide_guidanceArea .cnt_guidance {
	margin-bottom: 60px;
}
#guide_guidanceArea .cnt_guidance .inner {
	margin-top: 0;
	padding-top: 16px;
	border-top: 1px dotted #b2b2b2;
	overflow: hidden;
}
#guide_guidanceArea .cnt_guidance .inner.bdn {
	border: none;
	padding-top: 0;
}
#guide_guidanceArea .cnt_guidance .inner p {
	margin-bottom: 15px;
}
#guide_guidanceArea .cnt_guidance span.attention {
	color: #ff0000;
}
#guide_guidanceArea .cnt_guidance span.attention a {
	color: #607b00;
	text-decoration: underline;
}

#guide_guidanceArea #bloc02 h4 {
	margin-top: 18px;
	font-size: 14px;
}

#guide_guidanceArea #bloc05 .image01 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 26px;
}
#guide_guidanceArea #bloc05 .image02 {
	float: right;
	padding-bottom: 18px;
}
#guide_guidanceArea #bloc05 .image03 {
	text-align: center;
	margin-top: 10px;
	  margin-bottom: 25px;
}

#guide_guidanceArea #bloc06 .image {
	float: right;
	padding-left: 15px;
}

/* tag */
#guide_guidanceArea .cnt_guidance dl dt {
	float: left;
	width: 80px;
	padding-top: 16px;
	text-align: center;
}
#guide_guidanceArea .cnt_guidance dl dt span {
	height: 24px;
	line-height: 2.1;
	display: block;
}
#guide_guidanceArea .cnt_guidance dl dd {
	padding: 17px 0 16px 120px;
	border-top: 1px dotted #b2b2b2;
}
#guide_guidanceArea .cnt_guidance dl dt:first-child {
	padding-top: 0;
}
#guide_guidanceArea .cnt_guidance dl dt:first-child + dd {
	border: none;
	padding-top: 0;
}
#guide_guidanceArea .cnt_guidance dl dd h4 {
	margin-bottom: 5px;
}
span.guidance_tag_yoyaku {
	background-color: #c7edd6;
}
span.guidance_tag_kisetsu {
	background-color: #f7df97;
}
span.guidance_tag_new {
	background-color: #daeb6a;
}
span.guidance_tag_kanbai {
	background-color: #ea244e;
	color: #fff;
}
span.guidance_tag_suryo {
	background-color: #efbfca;
}
span.guidance_tag_teiki {
	background-color: #ecc6a5;
}
span.guidance_tag_chilled {
	background-color: #cbe7ed;
}
span.guidance_tag_cool {
	background-color: #bbd3e6;
}
span.guidance_tag_muryo {
	border: 2px solid #ea244e;
	width: 76px;
	height: 18px !important;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 22px !important;
}
span.guidance_tag_sample {
	background-color: #e4d4ed;
}
span.guidance_tag_machi {
	background-color: #ded9cb;
}
span.guidance_tag_okaidoku {
	background-color: #fac8d3;
}
span.guidance_tag_newsale {
	background-color: #f58830;
	color: #fff;
}
span.guidance_tag_kani,
span.guidance_tag_zumi,
span.guidance_tag_huka {
	border: 2px solid #ff8560;
	width: 76px;
	height: 18px !important;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 22px !important;
}
span.guidance_tag_osusume {
	background-color: #fac8d3;
}



/* ----------
	guide_flow
---------- */
.guideFlow .flow_bloc {
	margin-bottom: 10px;
	overflow: hidden;
}
.guideFlow .flow_bloc .image {
	float: right;
	padding-left: 25px;
}
.guideFlow .flow_bloc .bloc_inn {
	margin-top: 20px;
}
.guideFlow .flow_bloc .bloc_inn.first {
	margin-top: 0;
}
.guideFlow .flow_bloc .bloc_inn h4 {
	font-size: 16px;
	margin-bottom: 10px;
}
.guideFlow .flow_bloc .bloc_inn h4.gr {
	color: #a0b52d;
}
.guideFlow .flow_bloc span.attention {
	color: #ff0000;
}
.guideFlow .flow_bloc a {
	color: #006600;
	text-decoration: underline;
}
/* ----------
	guide_flow_mypageArea
---------- */
#guide_flow_mypageArea .bloc_inn {
	float: left;
	width: 435px;
}
#guide_flow_mypageArea .list ul li {
	font-weight: bold;
	padding-bottom: 12px;
	margin-bottom: 15px;
	border-bottom: 1px solid #b2b2b2;
	list-style-type: decimal;
	list-style-position: inside;
	padding-left: 20px;
	text-indent: -1.4em;
	color: #383838;
}


/* ----------
	guide_flow_newArea
---------- */
#guide_flow_newArea dl dt {
	float: left;
	width: 80px;
	padding-top: 8px;
	text-align: center;
}
#guide_flow_newArea dl dt span {
	height: 24px;
	line-height: 2.1;
	display: block;
	background-color: #daeb6a;
}
#guide_flow_newArea dl dd {
	padding: 11px 0 9px 90px;
}
#guide_flow_newArea .pickup {
	padding: 20px;
	margin-top: 15px;
	background: #f2f6db;
	width: 400px;
}
#guide_flow_newArea .pickup p {
	margin-top: 5px;
}
#guide_flow_newArea .pickup p.pl14 {
	padding-left: 14px;
}


/* ----------
	guide_flow_reserveArea
---------- */
#guide_flow_reserveArea dl dt {
	float: left;
	width: 80px;
	padding-top: 8px;
	text-align: center;
}
#guide_flow_reserveArea dl dt span {
	height: 24px;
	line-height: 2.1;
	display: block;
	background-color: #c7edd6;
}
#guide_flow_reserveArea dl dd {
	padding: 11px 0 9px 90px;
}
#guide_flow_reserveArea .pickup {
	padding: 20px;
	margin-top: 15px;
	background: #f2f6db;
	width: 400px;
}

/* ----------
	guide_flow_qaArea
---------- */
#guide_flow_qaArea .inner a {
	color: #819800;
}
#guide_flow_qaArea h3 {
	padding-left: 30px;
	position: relative;
}
#guide_flow_qaArea h3:before {
	content: 'Q.';
	position: absolute;
	top: 0;
	left: 0;
}
#guide_flow_qaArea .inner {
	padding-left: 30px;
	position: relative;
}
#guide_flow_qaArea .inner:before {
	content: 'A';
	position: absolute;
	top: 0;
	left: 0;
	color: #a0b52d;
	font-size: 16px;
	font-weight: bold;
}

#guide_flow_qaArea h4 {
	font-size: 14px;
}
#guide_flow_qaArea h4.mt20 {
	margin-top: 20px;
}

