/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}



#howtoArea h3 {
	margin-top: 40px;
	font-size: 16px;
	padding-bottom: 9px;
	border-bottom: 1px solid #b2b2b2;
}

#howtoArea .btn_area {
	background: #f2f6db;
	padding: 20px 20px 8px;
}
#howtoArea .btn_area ul li a {
	display: block;
	margin-bottom: 12px;
	padding: 15px 0 13px 20px;
	font-size: 14px;
	background-color: #fff;
	background-image: url(../img/common/btn_arrow_gy.png);
	background-repeat: no-repeat;
}
#howtoArea .btn_area ul li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#howtoArea .btn_area.col2 ul {
	margin-left: -20px;
	overflow: hidden;
}
#howtoArea .btn_area.col2 ul li a {
	float: left;
	width: 330px;
	margin-left: 20px;
	background-position: 330px center;
}

#howtoArea .btn_area.col1 ul li a {
	background-position: 700px center;
}