/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}
main section {
	width: 100%;
	margin-bottom: 60px;
}
main h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 7px;
}




/* ----- カルーセル ----- */
#carousel {
	width: 100%;
	min-width: 1000px;
	height: 440px;
	margin: 27px auto 90px;
	background-color: #fff;
}
#container {
	width: 1000px;
	margin: 0 auto;
}
.flex-direction-nav a.flex-prev {
	background: url(../img/index/carousel_prev.png) no-repeat ;
	width: 29px;
	height: 29px;
	text-indent: -99999px;
}
.flex-direction-nav a.flex-next {
	background: url(../img/index/carousel_next.png) no-repeat ;
	width: 29px;
	height: 29px;
	text-indent: -99999px;
}


/* ----- 重要なお知らせ ----- */
#main_importantInfo {
	position: relative;
	display: table;
	width: 756px;
	border: 2px solid #cf1818;
	padding-bottom: 5px;
	margin-bottom: 25px;
}
#main_importantInfo h2 {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	display: inline-block;
	background-color: #cf1818;
	border-bottom: none;
	color: #fff;
	font-size: 13px;
	line-height: 14px;
	padding: 3px 21px 4px;
	height: 14px;
}
#main_importantInfo ul {
	margin-left: 150px;
	font-size: 13px;
	line-height: 19px;
}
#main_importantInfo ul span.mainII_left {
	display: block;
	float: left;
	margin-right: 12px;
}
#main_importantInfo ul span.mainII_right {
	display: block;
	float: left;
	width: 510px;
}
#main_importantInfo ul li {
	clear: both;
	height: 100%;
	padding: 5px 0px;
}
#main_importantInfo ul li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}



/* ----- TOPコンテンツ ----- */
#top_content {
	overflow: hidden;
	margin-bottom: 60px;
}
#top_content a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#top_content h2 {
	border-bottom: 1px solid #bad450;
	margin-bottom: 6px;
	padding: 5px 0 5px 40px;
	position: relative;
}
#top_content h2:before {
	content: url(../img/index/ico_title_leaf01.png);
	position: absolute;
	top: 0px;
	left: 5px;
	text-indent: 0;
}

#top_content .cnt_brand h2 {
	background: url(../img/index/title_3brand.png) no-repeat 40px 5px;
	height: 17px;
	text-indent: -9999px;
}


/* ----- TOPバナー ----- */
#mainA a {
	display: block;
	height: 200px;
	text-indent: -9999px;
	margin-bottom: 40px;
}
#mainA a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#mainA #mainA_bnr_01 a {
	background: url(../img/index/bnr_trialset.jpg) no-repeat;
}
#mainA #mainA_bnr_02 {
	background: url(../img/index/bnr_concept.jpg) no-repeat;
	text-indent: -99999px;
	height: 265px;
}



/* ----- 季節のおすすめ ----- */
#mainB {
	margin-bottom: 55px;
}
#mainB h2 {
	padding: 3px 0 7px 0;
	border: none;
	background: url(../img/index/title_season.png) no-repeat 40px center;
	position: relative;
	text-indent: -9999px;
}
#mainB h2:before {
	content: url(../img/index/ico_title_leaf01.png);
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
}
#mainB_article_wrap {
	margin: 40px 0 0;
}
#mainB_article_wrap ul {
	overflow: hidden;
}
#mainB_article_wrap ul li {
	float: left;
	width: 234px;
	margin-left: 29px;
}
#mainB_article_wrap ul li:first-child {
	margin-left: 0;
}
#mainB_article_wrap ul li a {
	display: block;
}
#mainB_article_wrap ul li p.image {
	margin-bottom: 8px;
}
#mainB a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}



/* ----- メールマガジン会員募集中 ----- */
#main_mailmagazine {
	clear: both;
	position: relative;
	width: 732px;
	height: 70px;
	padding: 26px 0px 0px 28px;
	background: url('../img/index/mailmagazine_bg.png') no-repeat left center;
	margin-bottom: 44px;
}
#main_mailmagazine h2 {
	background: url('../img/index/mailmagazine_icon.png') no-repeat left -3px;
	border: none;
	font-size: 20px;
	line-height: 22px;
	text-indent: 42px;
}
#main_mailmagazine p {
	font-size: 12px;
}
#main_mailmagazine a {
	position: absolute;
	right: 25px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	display: block;
	width: 229px;
	height: 28px;
	padding-top: 6px;
	color: #fff;
	font-size: 13px;
	text-align: center;
	text-indent: -20px;
	background: url('../img/common/next_arrow.png') no-repeat 200px center;
	background-color: #70abd1;
}
#main_mailmagazine a:after {
	
}
#main_mailmagazine a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

/* ----- よみもの ----- */
#mainC h2 {
	border: none;
	background: url(../img/index/title_yomimono.png) no-repeat left center;
	height: 46px;
	text-indent: -9999px;
	margin-bottom: 30px;
}

#mainC #mainC_article_wrap {
	overflow: hidden;
	margin: 0 35px;
}
#mainC #mainC_article_wrap .bloc_inn {
	height: 325px;
}

#mainC #mainC_article_wrap .tag {
	margin-bottom: 5px;
	width: 100px;
	height: 13px;
	text-indent: -9999px;
}
#mainC #mainC_article_wrap .tag.tag_interview {
	background: url(../img/index/column_tag_interview.png) no-repeat;
}
#mainC #mainC_article_wrap .tag.tag_recipe {
	background: url(../img/index/column_tag_recipe.png) no-repeat;
}
#mainC #mainC_article_wrap .tag.tag_column {
	background: url(../img/index/column_tag_column.png) no-repeat;
}

#mainC #mainC_article_wrap h4 {
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	margin-bottom: 3px;
}
#mainC #mainC_article_wrap p.date {
	font-size: 11px;
	text-align: right;
}
#mainC #mainC_article_wrap a {
	display: block;
}
#mainC a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

#mainC #mainC_article_wrap .bloc_inn ul {
	padding-top: 8px;
}
#mainC #mainC_article_wrap .bloc_inn ul li {
	margin: 0 20px;
}
#mainC #mainC_article_wrap .bloc_inn ul li a {
	overflow: hidden;
	padding: 13px 0 3px;
	height: 86px;
	background: url(../img/index/dot_line_pink.png) no-repeat left top;
}
#mainC #mainC_article_wrap .bloc_inn ul li:first-child a {
	background: none;
}
#mainC #mainC_article_wrap .bloc_inn ul li a .image {
	float: left;
}
#mainC #mainC_article_wrap .bloc_inn ul li a .text_bloc {
	padding: 0 0 0 90px;
}

#mainC #mainC_article_wrap .left {
	float: left;
	width: 334px;
}
#mainC #mainC_article_wrap .left h3 {
	background: url(../img/index/title_ohara.png) no-repeat right;
	height: 55px;
	text-indent: -9999px;
}
#mainC #mainC_article_wrap .left .bloc_inn {
	background: #f2f6de;
}
#mainC #mainC_article_wrap .left .bloc_inn ul li a {
	background: url(../img/index/dot_line_green.png) no-repeat left top;
}
#mainC #mainC_article_wrap .left .bloc_inn ul li:first-child a {
	background: none;
}
/*記事1件*/
#mainC #mainC_article_wrap .left .bloc_inn .single a {
	padding: 16px 20px;
	height: 293px;
}
#mainC #mainC_article_wrap .left .bloc_inn .single .image {
	margin-bottom: 30px;
}

#mainC #mainC_article_wrap .right {
	float: right;
	width: 334px;
}
#mainC #mainC_article_wrap .right h3 {
	background: url(../img/index/title_tea_column.png) no-repeat right;
	height: 55px;
	text-indent: -9999px;
}
#mainC #mainC_article_wrap .right .bloc_inn {
	background: #feedf0;
}
#mainC .btn_more a {
	width: 295px;
	margin: 20px auto 0;
	padding: 7px 0 5px;
	display: block;
	position: relative;
	background: #a3d041;
	text-align: center;
	font-size: 15px;
	color: #fff;
	border-radius: 3px;
}
#mainC .btn_more a:before {
	content: url(../img/common/ico_more_l.png);
	position: absolute;
	top: 9px;
	right: 18px;
}

/* ----- 佐藤園おすすめ商品 ----- */
#mainD {
	margin-bottom: 30px;
}
#mainD h2 {
	padding: 3px 0 7px 0;
	border: none;
	background: url(../img/index/title_bnr.png) no-repeat 40px center;
	position: relative;
	text-indent: -9999px;
}
#mainD h2:before {
	content: url(../img/index/ico_title_leaf01.png);
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
}
#mainD_article_wrap {
	margin: 5px 0 0;
}
#mainD_article_wrap ul {
	overflow: hidden;
}
#mainD_article_wrap ul li {
	float: left;
	width: 234px;
	margin-left: 29px;
}
#mainD_article_wrap ul li:first-child {
	margin-left: 0;
}
#mainD_article_wrap ul li a {
	display: block;
}
#mainD_article_wrap ul li p.image {
	margin-bottom: 8px;
}
#mainD a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}





/* ----- 最新情報 NEWS ----- */
#mainE {
	clear: both;
	margin-bottom: 60px;
}
#mainE h2 {
	background: url(../img/index/title_news.png) no-repeat 0 0;
	height: 30px;
	text-indent: -9999px;
	border: none;
	position: relative;
}
#mainE h2:before {
	content: url(../img/index/title_news_line.png);
	position: absolute;
	bottom: -7px;
	left: 0;
	text-indent: 0;
}
#mainE ul {
	margin-top: 10px;
	margin-left: 25px;
}
#mainE li {
	font-size: 13px;
	line-height: 24px;
}
#mainE a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}
#mainE li a {
	display: block;
	width: 100%;
}
#mainE li a span {
	display: inline-block;
	width: 110px;
}
#mainE p {
	overflow: hidden;
}
#mainE p a {
	width: 165px;
	margin: 20px 0 0;
	float: right;
	padding: 4px 0 2px;
	display: block;
	position: relative;
	background: #a3d041;
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 3px;
}
#mainE p a:before {
	content: url(../img/common/ico_more_s.png);
	position: absolute;
	top: 5px;
	right: 10px;
}
#mainE p a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
	color: #fff;
}




/* ----- バナー4つ ----- */
#mainF {
	padding-top: 7px;
}
#mainF li {
	display: inline-block;
	width: 174px;
	height: 75px;
	margin-left: 17px;
}
#mainF a {
	display: inline-block;
	width: 174px;
	height: 75px;
	text-indent: -9999px;
}
#mainF01 {
	margin-left: 0px !important;
}
#mainF01 {
	background: url('../img/index/gift.jpg') no-repeat left top;
}
#mainF02 {
	background: url('../img/index/matomegai.jpg') no-repeat left top;
}
#mainF03 {
	background: url('../img/index/regularpurchase.jpg') no-repeat left top;
}
#mainF04 {
	background: url('../img/index/fax.jpg') no-repeat left top;
}
#mainF li:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}