/* ----------
	main 
---------- */
main {
	margin-bottom: 130px;
}
footer {
	z-index: 20;
}


/* ----------
	form.html 
---------- */
/* ===== top ===== */
#formTop {
	position: relative;
}
#formTop h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 25px;
}
#formTop > p {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 30px;
}
/* 緑丸BOX */
#absoluteBox {
	position: absolute;
	width: 170px;
	height: 170px;
	right: 0;
	top: -35px;
}
/* 緑丸 */
#greenFixed {
	width: 170px;
	height: 122px;
	padding-top: 48px;
	background: url(../img/common/green_round.png) no-repeat left top;
	color: #474747;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	z-index: 10;
}
#greenFixed .text_red {
	color: #f30000;
}
#greenFixed.objFix {
	position: fixed;
	right: auto;
	left: auto;
	top: 50px;
}
/* 入力完了後（緑丸） */
#changeText {
	padding-top: 10px;
	font-size: 10px;
}
#changeText span {
	display: block;
}
#changeText span#redSpan {
	color: #f30000;
	font-size: 11px;
	font-weight: bold;
}
/* ===== table ===== */
#main_form form table {
	width: 100%;
	font-size: 14px;
}
#main_form form input {
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	padding: 5px 5px 6px;
	font-size: 14px;
}
/* tr */
#main_form form tr {
	border-bottom: 1px solid #e5e5e5;
}
#main_form form tr:first-child {
	border-top: 1px solid #e5e5e5;
}
tr.date_nothing {
	height: 45px;
}
/* th */
#main_form form th {
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	border-right: 1px solid #e5e5e5;
	padding-left: 2px;
	width: 195px;
}
/* td */
#main_form form td {
	padding: 10px 0px 10px 19px;
	position: relative;
}
/* 共通 */
#main_form span.noticeText {
	position: absolute;
	left: 333px;
	top: 16px;
	font-size: 11px;
}
#main_form form td p {
	font-size: 11px;
	line-height: 11px;
	padding-top: 8px;
}
/* 件名 */
#main_form form select {
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	height: 30px;
	font-size: 14px;
}
/* お名前 */
.row_name td div {
	display: inline-block;
}
.row_name td p {
	font-size: 11px;
	line-height: 11px;
	padding-top: 8px;
}
.row_name td label {
	display: inline-block;
	width: 36px;
}
.row_name td input {
	margin-right: 6px;
}
/* メールアドレス */
.row_mail td input {
	width: 292px;
}
/* 電話番号 */
#row_tell td input {
	width: 78px;
	background-color: #fff;
}
/* 内容 */
#row_naiyou td textarea {
	background-color: #ecf1d6;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	padding: 5px 5px 6px;
	font-size: 14px;
	width: 508px;
	height: 120px;
	margin-bottom: -6px;
	resize: none;
}



/* プライバシーポリシー */
section#privacyPolicy {
	margin-top: 40px;
}
section#privacyPolicy h3 {
	font-size: 15px;
	margin-bottom: 5px;
}
section#privacyPolicy div {
	height: 240px;
	overflow: auto;
	padding: 30px;
	font-size: 13px;
	background: #f1f1f1;
	box-sizing: border-box;
}
section#privacyPolicy h4 {
	margin-bottom: 5px;
}
section#privacyPolicy div p,
section#privacyPolicy div ol {
	margin-bottom: 12px;
}
section#privacyPolicy div p#pp_ceo {
	text-align: right;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
}
section#privacyPolicy div li {
	list-style-type: decimal;
	margin-left: 20px;
}



/* button */
p#reset_submit {
	margin-top: 53px;
	text-align: center;
}
p#reset_submit input {
	display: inline-block;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
}
p#reset_submit input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
p#reset_submit input[type="reset"] {
	background: url(../img/common/back_arrow.png) no-repeat 52px 13px;
	background-color: #939393 !important;
	width: 200px;
	text-indent: 10px;
	margin-right: 20px;
}
p#reset_submit input[type="submit"] {
	background: url(../img/common/next_arrow.png) no-repeat 193px 13px;
	background-color: #8cb202;
	width: 288px;
	text-indent: -10px;
}
input.dis {
	cursor: default;
	background-color: #ccc !important;
	opacity: 0.7 !important;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}









/* ----------
	kakunin.html 
---------- */
/* table */
#main_kakunin table {
	width: 100%;
	font-size: 14px;
}
/* tr */
#main_kakunin table tr {
	border-bottom: 1px solid #e5e5e5;
}
#main_kakunin table tr:first-child {
	border-top: 1px solid #e5e5e5;
}
#main_kakunin tr.date_nothing {
	height: 45px;
}
/* th */
#main_kakunin table th {
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	border-right: 1px solid #e5e5e5;
	padding-left: 2px;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 195px;
}
/* td */
#main_kakunin table td {
	padding: 14px 0px 14px 19px;
	position: relative;
	vertical-align: middle;
}
/* button */
#main_kakunin p#back_submit {
	margin-top: 53px;
	text-align: center;
}
#main_kakunin p#back_submit input {
	display: inline-block;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
}
#main_kakunin p#back_submit input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#main_kakunin p#back_submit input[type="button"] {
	background: url(../img/common/back_arrow.png) no-repeat 20px 13px;
	background-color: #939393;
	width: 200px;
	text-indent: 10px;
	margin-right: 20px;
}
#main_kakunin p#back_submit input[type="submit"] {
	background: url(../img/common/next_arrow.png) no-repeat 193px 13px;
	background-color: #8cb202;
	width: 288px;
	text-indent: -10px;
}










/* ----------
	kanryo.html 
---------- */
#main_kanryo #thankyouArea {
	width: 100%;
	height: 312px;
	padding-top: 96px;
	background-color: #ecf1d6;
	color: #789415;
	text-align: center;
	margin-top: -5px;
}
#main_kanryo #thankyouArea p {
	font-size: 16px;
	margin-bottom: 21px;
}
#main_kanryo #thankyouArea p:before,
#main_kanryo #thankyouArea p:after {
	display: inline-block;
	content: '';
	width: 118px;
	height: 1px;
	border-top: 1px solid #b4cd37;
	position: relative;
	top: -4px;
	margin: 0px 18px;
}
#main_kanryo #thankyouArea h2 {
	border: none;
	font-size: 26px;
	text-indent: 30px;
	margin-bottom: 66px;
}
#main_kanryo #thankyouArea div input {
	display: inline-block;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 45px;
	cursor: pointer;
	background: url(../img/common/next_arrow.png) no-repeat 205px 16px;
	background-color: #8cb202;
	width: 270px;
	text-indent: -10px;
}
#main_kanryo #thankyouArea div input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}