/* --------------------
	レイアウト
-------------------- */
#main_left {
	float: left;
	width: 500px;
}
#main_right {
	float: right;
	width: 425px;
}



/* --------------------
	(L)商品詳細
-------------------- */
#main_left {
	border-bottom: 1px solid #ccc;
}
#main_left > div {
	width: 500px;
	height: 500px;
	background-color: #e6e6e6;
	margin-bottom: 12px;
}
#main_left ul {
	text-align: center;
	padding-bottom: 37px;
}
#main_left ul li {
	display: inline-block;
	background-color: #e6e6e6;
	margin-left: 10px;
	cursor: pointer;
}
#main_left ul li:first-child {
	margin-left: 0px !important;
}
#main_left ul li:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}


/* --------------------
	(R)商品詳細
-------------------- */
/* タグ */
#r_topTag {
	margin-bottom: 18px;
	width: 428px;
	margin-left: -3px;
}
#r_topTag li {
	display: inline-block;
	width: 81px;
	height: 24px;
	text-align: center;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 26px;
	position: relative;
	vertical-align: top;
	margin-left: 1px;
}
li#topTag_yoyaku {
	background-color: #c7edd6;
}
li#topTag_kisetsu {
	background-color: #f7df97;
}
li#topTag_new {
	background-color: #daeb6a;
}
li#topTag_kanbai {
	background-color: #ea244e;
	color: #fff;
}
li#topTag_suryo {
	background-color: #efbfca;
}
li#topTag_teiki {
	background-color: #ecc6a5;
}
li#topTag_chilled {
	background-color: #cbe7ed;
}
li#topTag_cool {
	background-color: #bbd3e6;
}
li#topTag_muryo {
	border: 2px solid #ea244e;
	width: 77px;
	height: 20px;
	position: relative;
	line-height: 21px;
}
li#topTag_sample {
	background-color: #e4d4ed;
}
li#topTag_machi {
	background-color: #ded9cb;
}
li#topTag_okaidoku {
	background-color: #fac8d3;
}
li#topTag_newsale {
	background-color: #f58830;
	color: #fff;
}
li#topTag_kani,
li#topTag_zumi,
li#topTag_huka {
	border: 2px solid #ff8560;
	width: 77px;
	height: 20px;
	position: relative;
	line-height: 21px;
}
li#topTag_osusume {
	background-color: #fac8d3;
}
#r_topTag li:first-child {
	margin-left: 0px !important;
}
/* 商品説明 */
#exp_top {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}
#exp_title {
	font-size: 22px;
	line-height: 40px;
}
#exp_num {
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 16px;
}
#exp_bottom {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 40px;
}
/* 価格・数量 */
#mainright_price {
	font-weight: bold;
	margin-left: 6px;
	margin-bottom: 30px;
}
#mainright_price dt {
	display: inline-block;
	margin-right: 10px;
}
#mainright_price dd {
	display: inline-block;
	color: #e12600;
}
#mainright_price #price_en {
	font-size: 20px;
	margin-right: 7px;
}
#mainright_price #price_price {
	font-size: 26px;
}
#mainright_price #price_tax {
	font-size: 14px;
}
/* form */
#mainright_selectArea {
	margin-left: 6px;
	position: relative;
	display: table;
	width: 419px;
}
/* select */
#mainright_selectArea dl {
	display: inline-block;
	margin-bottom: 21px;
	position: relative;
}
#noshi {
	float: left;
	margin-left:28px;
}
#suryo {
	float: right;
}
#mainright_selectArea dt {
	display: inline-block;
	font-size: 14px;
	margin-right: 15px;
}
#mainright_selectArea dd {
	display: inline-block;
	z-index: 1;
}


.selectBox {
	background-color: #fff;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
		 	-ms-border-radius: 5px;
			 -o-border-radius: 5px;
			    border-radius: 5px;
	font-size: 14px;
	text-align: center;
	text-indent: -10px;
	position: relative;
}
#noshi .selectBox {
	padding: 7px 26px 7px 19px;
	width: 97px;
	background: url('../img/item/select_arrow.png') no-repeat 110px 14px;
}
#suryo .selectBox {
	padding: 4px 25px 4px 19px;
	width: 72px;
	font-size: 18px;
	background: url('../img/item/select_arrow.png') no-repeat 85px 14px;
}
/*150517追加*/
#shincya .selectBox {
	padding: 7px 26px 7px 19px;
	width: 97px;
	background: url('../img/item/select_arrow.png') no-repeat 110px 14px;
}

#noshi .select {
	display: inline-block;
	width: 146px;
	height: 40px;
	cursor: pointer;
	background-color: #fff;
	position: absolute;
	left: -1px;
	top: -1px;
	-webkit-box-sizing:border-box;
	-webkit-appearance: none;
}
#suryo .select {
	display: inline-block;
	width: 120px;
	height: 40px;
	cursor: pointer;
	background-color: #fff;
	position: absolute;
	left: -1px;
	top: -1px;
	-webkit-box-sizing:border-box;
	-webkit-appearance: none;
}
/*150517追加*/
#shincya .select {
	display: inline-block;
	width: 146px;
	height: 40px;
	cursor: pointer;
	background-color: #fff;
	position: absolute;
	left: -1px;
	top: -1px;
	-webkit-box-sizing:border-box;
	-webkit-appearance: none;
}
/* カート */
#addToCart input {
	display: block;
	width: 425px;
	height: 60px;
	background-color: #8cb202;
	border: none;
	-webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
		 	-ms-border-radius: 5px;
			 -o-border-radius: 5px;
			    border-radius: 5px;
	color: #fff;
	font-size: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
/* お気に入り */
#addFavorite input {
	display: block;
	width: 425px;
	height: 40px;
	background-color: #939393;
	border: none;
	-webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
		 	-ms-border-radius: 5px;
			 -o-border-radius: 5px;
			    border-radius: 5px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 17px;
	cursor: pointer;
}
#addToCart input:hover, #addFavorite input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

#mainright_tel {
	width: 423px;
	height: 62px;
	padding-top: 18px;
	border: 2px solid #c2c2c2;
	-webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
		 	-ms-border-radius: 5px;
			 -o-border-radius: 5px;
			    border-radius: 5px;
}
#mainright_tel p {
	margin-left: 27px;
	font-size: 14px;
	width: 190px;
	display: inline-block;
}
#mainright_tel p span{
	display: block;
	width: 136px;
	height: 19px;
	background: url('../img/item/mainright_tel.png') no-repeat left top;
	text-indent: -9999px;
}
#mainright_tel ul {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-top: 2px;
}


/* --------------------
	(下)商品詳細
-------------------- */
#main_shita {
	clear: both;
	font-size: 14px;
	line-height: 22px;
	padding: 20px 0px 0px;
	display: table;
	width: 500px;
}
#main_shita > div {
	float: left;
}
#main_shita_left {
	width: 300px;
}
#main_shita_right {
	width: 200px;
}
#main_shita dt {
	display: inline-block;
	font-weight: bold;
}
#main_shita dd {
	display: inline-block;
}
#main_shita_right dt {
	display: block;
}

/*150517追加*/
#main_shita_setumei{
	clear:both;
	margin:10px 0;
	padding:10px 0;
	border-top: 1px solid #CCC;
	}
#main_shita_setumei dl{
	margin-bottom:20px;
	border-bottom: 1px solid #CCC;
	font-size:13px;
	line-height:18px;
	}
#main_shita_setumei dl dt{
	vertical-align:top;
	width:68px;
	}
#main_shita_setumei dl dd{
	width:422px;
	padding-bottom:15px;
	}
#main_shita_setumei dl:last-child{
	border-bottom:none;
	padding-bottom:0;
	}


/* --------------------
	関連商品
-------------------- */
#relatedArea {
	clear: both;
	border-top: 1px solid #ccc;
	padding-top: 35px;
}
/* 商品リスト */
ul#related_item {
	width: 100%;
	height: 155px;
	margin-bottom: 36px;
}
ul#related_item > li {
	width: 297px;
	height: 155px;
	position: relative;
	float: left;
	margin-left: 54px;
}
ul#related_item > li:first-child {
	margin-left: 0px !important;
}
ul#related_item > li h3 {
	width: 100%;
	font-size: 14px;
}
ul#related_item > li a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 101%;
	height: 100%;
}
ul#related_item > li a:hover {
	background: #fff;
	opacity: 0.6;
	-webkit-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
ul#related_item > li a img {
	position: absolute;
	bottom: 0;
	left: 0;
}
ul#related_item dl {
	display: block;
	width: 160px;
	height: 125px;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 13px;
}
ul#related_item dl dt {
	display: block;
	width: 100%;
	margin-top: 5px;
	line-height: 18px;
}
ul#related_item dl dd {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}
ul#related_item dl dd ul {
	width: 100%;
	height: 100%;
	position: relative;
}
ul#related_item dl dd li {
	width: 100%;
	position: relative;
}
ul#related_item span.hyouka {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	font-size: 20px;
	line-height: 14px;
	letter-spacing: 1px;
}
span.black {
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url('../img/item/hyouka_black.png') no-repeat left top;
	background-size: 11px 10px;
	margin: 0px -2px;
}
span.white {
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url('../img/item/hyouka_white.png') no-repeat left top;
	background-size: 11px;
	margin: 0px -2px;
}

/* コメント */
#related_comment {
	clear: both;
	width: 100%;
	height: 60px;
	background-color: #e6e6e6;
	position: relative;
	vertical-align: middle;
	-webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
		 	-ms-border-radius: 10px;
			 -o-border-radius: 10px;
			    border-radius: 10px;
	margin-bottom: 57px;
}
#related_comment p {
	position: absolute;
	left: 30px;
	top: 20px;
	font-size: 14px;
}
#related_comment a {
	position: absolute;
	right: 13px;
	top: 12px;
	display: inline-block;
	background-color: #b3bbbc;
	width: 280px;
	height: 29px;
	padding-top: 7px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
#related_comment a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

/*150517追加*/
/*ユーザーボイス*/
#usersvoice{
	width:100%;
	clear: both;
	margin-bottom:40px;
	}
#usersvoice dl{
	border-bottom:2px dotted #3B3B3B ;
	padding:30px 0 20px;
	}
#usersvoice dt{
	font-size:20px;
	line-height:26px;
	margin-bottom:25px;
	padding-left:34px;
	background: url('../img/item/icon_usersvoice.png') no-repeat top left;
	color: #607B00;
	width:100%;
	clear: both;
	}
#usersvoice dd ul{
	padding-bottom:30px;
	}
#usersvoice dd ul li{
	float:left;
	margin-left:18px;
	}
#usersvoice dd ul li:first-child{
	margin-left:0;
	}
#usersvoice dd p{
	clear:both;
	}
	
	
/*150517追加*/
/* ----------
	bottom（最近チェックした商品）
---------- */
#recommend {
	clear: both;
	display: table;
	width: 100%;
	margin-bottom: 60px;
}
#recommend h2 {
	padding-top: 40px;
	border-bottom: none;
	margin-bottom: 15px;
}
#recommend #history01 {
	height:298px;
	text-align:center;
	background: url('../img/item/bg_img_recommend.jpg') no-repeat top left;
}
#recommend #history01 span {
	font-weight:bold;

}
#recommend li {
	float: left;
	display: block;
	width: 179px;
	height: 100%;
	margin-left: 26px;
	position: relative;
}
li#history01 {
	margin-left: 1px !important;
}
#recommend li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#recommend li a {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#recommend li a img {
	margin-bottom: 9px;
}
#recommend li a span {
	display: block;
	line-height: 18px;
}
/*
span.history_tag {
	font-size: 12px;
	color: #fff;
	background-color: #b9d01e;
	width: 72px;
	height: 18px;
	padding-top: 1px;
	text-align: center;
	margin-bottom: 4px;
}
*/
