/* ----------
	main 
---------- */
main {
	margin-bottom: 125px;
}





/* 個人情報保護方針 */
#topSection h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 25px;
}
#topSection p {
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 20px;
}
p#ceo_text {
	text-align: right;
	margin-top: -4px;
	margin-bottom: 32px;
}
/* 基本方針 */
#downSection h3 {
	border-bottom: 1px solid #b2b2b2;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
#downSection ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 20px;
	line-height: 22px;
}
#downSection ol li a {
	color: #789415;
}
#downSection ol li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}