.text_red{
	color: #f30000;
}
.login h2{
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: normal;
	border-bottom: none;
}
.login .login_step {
	margin-bottom: 30px;
}
.login .login_explanation{
	margin-bottom: 20px;
	position: relative;
}
.login .login_explanation .note {
	width: 170px;
	height: 125px;
	padding-top: 45px;
	color: #474747;
	text-align: center;
	line-height: 1.8;
	background: #d4df9c;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	right: 0;
}
.entry{
	margin-bottom: 60px;
	overflow: hidden;
	clear: both;
}
.login table{
	width: 100%;
}
.login tr {
	min-height: 55px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
}

.login .date_no {
	height: 50px;
}
.login th {
	width: 280px;
	padding-top: 4px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
.login td {
	padding: 10px 20px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	border-left: 1px solid #e5e5e5;
}
.login td div {
	float: left;
}
.login div .name {
	min-width: 35px;
	padding-top: 8px;
	display: block;
	float: left;
}
#name01,
#kana01 {
	margin-right: 12px;
}
.login input{
	height: 30px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	background: #ecf1d6;
	border-radius: 4px;
	cursor: pointer;
}
.login select {
	width: 100px;
	height: 34px;
	border: 1px solid #e0e0e0;
	background: #ECF1D6;
}
.login input[type="checkbox"] {
	height: auto;
	display: block;
	float: left;
}
.login .short {
	width: 90px;
}
.login .middle {
	width: 170px;
}
.login .long {
	width: 305px;
}
.login .free {
	background: #fff;
}
.login .mail span,
.login .pass span {
	font-size: 11px;
}
.login .adress_number .text {
	margin-left: 93px;
	font-size: 11px;
}
.login .adress div {
	width: 100%;
	margin-bottom: 15px;
}
.login .adress div:last-child{
	margin-bottom: 0;
}
.login .adress .text {
	width: 112px;
	display: block;
	float: left;
}
.login .tel .text {
	font-size: 11px;
}
.login .prof span {
	margin: 0 15px 0 2px;
}
.login .magazine span {
	margin-left: 10px;
}
/* パスワードを忘れた時のヒント */
tr#passHint p#passHint_q {
	margin-bottom: 11px;
}
tr#passHint label {
	display: inline-block;
	width: 35px;
}
tr#passHint select {
	width: 264px;
}
tr#passHint input {
	width: 260px;
}
/* 利用規約 */
.login h3 {
	margin-bottom: 5px;
	font-size: 15px;
}
.login .code {
	width: 835px;
	margin-bottom: 40px;
}
.login .code div {
	height: 240px;
	overflow: auto;
	padding: 30px;
	font-size: 13px;
	background: #f1f1f1;
	box-sizing: border-box;
}
.login .code div p {
	margin-bottom: 12px;
}
.login .code b {
	margin-bottom: 5px;
	display: block;
}
/* privacyPolicy */
.login #privacyPolicy {
	width: 835px;
	margin-bottom: 40px;
}
.login #privacyPolicy div {
	height: 240px;
	overflow: auto;
	padding: 30px;
	font-size: 13px;
	background: #f1f1f1;
	box-sizing: border-box;
}
.login #privacyPolicy h4 {
	margin-bottom: 5px;
}
.login #privacyPolicy div p,
.login #privacyPolicy div ol {
	margin-bottom: 12px;
}
.login #privacyPolicy div p#pp_ceo {
	text-align: right;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
}
.login #privacyPolicy div li {
	list-style-type: decimal;
	margin-left: 20px;
}

.login .button {
	text-align: center;
	width: 690px;
	margin: 0 auto 200px 130px;
	overflow: hidden;
}
/* リセット/送信 */
.login .button input {
	border-radius: 0px;
	border: none;
	color: #fff;
	font-size: 15px;
}
.login .button input[type="submit"] {
	width: 288px;
	height: 40px;
	background: url('../img/common/modal_nextArrow.png') no-repeat 250px 13px;
	background-color: #8cb202 !important;
}
.login .button input[type="reset"]
 {
	width: 200px;
	height: 40px;
	background: url('../img/common/modal_backArrow.png') no-repeat 45px 13px;
	background-color: #939393 !important;
	margin-right: 20px;
}
.login .button input.btn_return{
	width: 200px;
	height: 40px;
	padding-left: 18px;
	background: url('../img/common/modal_backArrow.png') no-repeat 20px 13px;
	background-color: #939393 !important;
	margin-right: 20px;
}
.login .button input.btn_register{
	width: 288px;
	height: 40px;
	background: url('../img/common/modal_nextArrow.png') no-repeat 200px 13px;
	background-color: #8cb202;
}
.login .button input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
input.dis {
	cursor: default;
	background-color: #ccc !important;
	opacity: 0.7 !important;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

/* 2015/4/5 */
/* ステップ2ページ */
.login tr.hint {
	border-bottom: 1px solid #e5e5e5;
}
.login .hint dl{
	margin-bottom: 15px;
}
.login .hint dl.end{
	margin-bottom: 0;
}
.login .hint dt {
	float: left;
}
/* 2015/4/5ここまで */


/* ステップ3ページ */
.login_thanks {
	padding: 100px 0;
	margin: 80px 0 100px;
	text-align: center;
	background: #ecf1d6;
}
.login_thanks .sub_tit {
	margin-bottom: 25px;
	color: #789415;
	font-size: 16px;
	display: inline-block;
	position: relative;
}
.login_thanks .sub_tit:before {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: -139px;
	top: 10px;
}
.login_thanks .sub_tit:after {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: -139px;
	top: 10px;
}
.login_thanks h3 {
	margin-bottom: 40px;
	color: #789415;
	font-size: 26px;
	font-weight: normal;
}
.login_thanks p {
	margin-bottom: 32px;
	font-size: 14px;
}
.login_thanks .btn {
	margin-top: 50px;
	display: inline-block;
}
.login_thanks .btn a {
	padding: 14px 65px 10px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 200px 18px;
}
.login_thanks .btn a:hover {
	opacity: 0.7;
}
/* ログインページ */
.login_top{
	margin-bottom: 180px;
	overflow: hidden;
}
.login_top .member{
	width: 470px;
	min-height: 445px;
	padding: 45px 65px;
	float: left;
	background: #eee;
	box-sizing: border-box;
}
.login_top .register{
	width: 470px;
	min-height: 445px;
	padding: 45px 65px;
	float: right;
	background: #eee;
	box-sizing: border-box;
}
.login_top h3 {
	font-size: 20px;
	font-weight: normal;
}
.login_top .member h3{
	margin-bottom: 20px;
}
.login_top input {
	width: 94%;
	padding: 4px 3% 0;
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 20px;
	background: #fff;
}
.login_top .check {
	margin: -10px 0 20px;
}
.login_top input[type="checkbox"] {
	width: 20px;
}
.login_top .btn_login{
	width: 100%;
	height: 40px;
	margin-bottom: 25px;
	color: #fff;
	background: url('../img/common/modal_nextArrow.png') no-repeat 236px 14px;
	background-color: #8cb202;
	border-radius: 0;
	border: none;
}
.login_top input:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
.login_top .hint {
	margin-left: 40px;
}
.login_top .hint p{
	margin-bottom: 5px;
	text-indent: 10px;
	background: url('../img/login/arrow.png') no-repeat 0px 5px;
}
.login_top .hint p a{
	text-decoration: underline;
}
.login_top .hint p a:hover{
	text-decoration: none;
}
.login_top .register p {
	margin-bottom: 10px;
	/* 2015/3/31ここから */
	padding-left: 1em;
	text-indent: -1em;
	/* ここまで */
}
.login_top .register .explanation {
	width: 400px;
	padding-top: 20px;
	margin-left: -28px;
	border-top: 1px solid #d6d6d6;
	position: relative;
}
.login_top .register .explanation p {
	margin: 3px 2px;
	line-height: 20px;
}
#adjust_indent {
	padding-left: 0px;
	text-indent: 0;
}
