
	
/* モーダルウィンドウ */
#modal_bg {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20000;
	background: url('../img/common/modal_bg.png') repeat left top;
	width: 100%;
	height: 100%;
}
#mail_magazine_pop {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20001;
	width: 100%;
	height: 100%;
}
#modal_mail_magazineArea {
	width: 880px;
	height: 450px;
	padding: 30px 45px 0;
	background-color: #fff;
	margin: 100px auto 0px;
	color: #383838;
	position: relative;
}
#modal_mail_magazineArea iframe {
	width: 100%;
	height: 100%;
}
/* 閉じる */
span#magazineClose {
	position: absolute;
	right: 23px;
	top: 23px;
	display: inline-block;
	width: 33px;
	height: 33px;
	background: url('../img/common/modal_close.png') no-repeat left top;
	text-indent: -9999px;
	cursor: pointer;
}
span#magazineClose:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}





/* mailmagazineWrap */
.mailmagazineWrap {
	width: 100%;
}
.mailmagazineWrap h3 {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 30px 0 5px;
}
.mailmagazineWrap .btn_remove {
	margin: 10px 0 0;
}
.mailmagazineWrap .btn_remove a {
	font-size: 11px;
	padding-left: 10px;
	text-decoration: underline;
	background: url(../img/common/ico_arrow_remove.png.png) no-repeat left center;
}

.mailmagazineWrap table{
	width: 100%;
	margin-top: 35px;
}
.mailmagazineWrap tr {
	min-height: 55px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
}
.mailmagazineWrap th {
	width: 280px;
	padding-top: 4px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
.mailmagazineWrap td {
	padding: 10px 20px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	border-left: 1px solid #e5e5e5;
}

.mailmagazineWrap input{
	height: 30px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	background: #ecf1d6;
	border-radius: 4px;
	cursor: pointer;
}
.mailmagazineWrap .long {
  width: 305px;
}
.mailmagazineWrap .mail span {
  font-size: 11px;
}


.mailmagazineWrap .btn {
	width: 250px;
	margin: 80px auto 0;
}
.mailmagazineWrap  input[type="submit"] {
	width: 250px;
	height: 40px;
	padding: 10px 0 7px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 180px 14px;
	border: none;
	border-radius: 0;
}


.mailmagazineWrap table.confirm {
	margin-top: 64px;
}
.mailmagazineWrap .btn_confirm {
	overflow: hidden;
	width: 480px;
	margin: 140px auto 0;
}
.mailmagazineWrap .btn_confirm li {
	float: right;
}
.mailmagazineWrap .btn_confirm li.back {
	float: left;
	text-align: center;
}
.mailmagazineWrap .btn_confirm li.back a {
	display: block;
	background: url(../img/common/back_arrow.png) no-repeat 20px 13px;
	background-color: #939393;
	width: 200px;
	text-indent: 10px;
	margin-right: 20px;
	color: #fff;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.mailmagazineWrap .btn_confirm li input[type="submit"] {
	background: url(../img/common/next_arrow.png) no-repeat 193px 13px;
	background-color: #8cb202;
	width: 250px;
	text-indent: -10px;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
}
.mailmagazineWrap .btn_confirm li.back a:hover, .mailmagazineWrap .btn_confirm li input[type="submit"]:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}

.mailmagazine_thanks {
	padding: 55px 0;
	text-align: center;
	background: #ecf1d6;
}
.mailmagazine_thanks .sub_tit {
	margin-bottom: 25px;
	color: #789415;
	font-size: 16px;
	display: inline-block;
	position: relative;
}
.mailmagazine_thanks .sub_tit:before {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: -139px;
	top: 10px;
}
.mailmagazine_thanks .sub_tit:after {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: -139px;
	top: 10px;
}
.mailmagazine_thanks h3 {
	margin-bottom: 40px;
	color: #789415;
	font-size: 26px;
	font-weight: normal;
	border: none;
}
.mailmagazine_thanks p {
	margin-bottom: 32px;
	font-size: 14px;
}
.mailmagazine_thanks .btn {
	margin-top: 20px;
	display: inline-block;
}
.mailmagazine_thanks .btn a {
	padding: 14px 65px 10px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 200px 18px;
}
.mailmagazine_thanks .btn a:hover {
	opacity: 0.7;
}


#frameClose {
	padding: 14px 35px 10px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 200px 18px;
	cursor: pointer;
}

#frameClose:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}

