/* ----------
		main
---------- */
main {
	float: right;
	width: 760px;
	min-height: 650px;
}
.tar {text-align: right !important;}
.tac {text-align: center !important;}


.mypage h2 {
	font-size: 22px;
	font-weight: bold;
	border-bottom: none;
	margin-bottom: 20px;
}
.mypage h2 span.user_name {
	float: right;
	font-size: 14px;
	font-weight: normal;
}

/* ----------
		購入履歴一覧
---------- */
#historyIndexArea {
	margin-bottom: 130px;
}
#historyIndexArea p.number {
	font-size: 14px;
	margin-bottom: 20px;
}
#historyIndexArea p.number span {
	color: #fe9900;
	font-weight: bold;
}

#historyIndexArea table.historyList {
	width: 100%;
}
#historyIndexArea table.historyList tr th {
	background: #f4f4f4;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	color: #4a4a4a;
	height: 30px;
	vertical-align: middle;
}
#historyIndexArea table.historyList tr td {
	font-weight: normal;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	font-size: 14px;
	color: #4a4a4a;
	height: 50px;
	vertical-align: middle;
}
#historyIndexArea table.historyList tr td a {
	display: block;
	background: #6a6866;
	color: #fff;
	padding: 8px 0 7px;
	font-size: 12px;
	line-height: 1;
	margin: 0 auto;
	width: 50px;
}
#historyIndexArea table.historyList tr td a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}
#historyIndexArea table.historyList tr th.w180 {
	width: 180px;
}




/* ----------
		購入履歴詳細
---------- */

#historyDetail {
	margin-bottom: 75px;
}


#historyDetail .order_history {
	background: #f4f4f4;
	padding: 18px;
	margin-bottom: 40px;
}
#historyDetail .order_history .order_top {
	margin-bottom: 20px;
	padding: 16px 16px 12px;
	background: #fff;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
#historyDetail .order_history .order_top dl {
	overflow: hidden;
	float: left;
}
#historyDetail .order_history .order_top dl dt ,#historyDetail .order_history .order_top dl dd {
	padding-top: 2px;
	padding-bottom: 2px;
}
#historyDetail .order_history .order_top dl dt {
	float: left;
	color: #4a4a4a;
}
#historyDetail .order_history .order_top dl dd {
	padding-left: 135px;
	font-size: 14px;
}
#historyDetail .order_history .order_top .re_order {
	float: right;
	margin-top: 15px;
}
#historyDetail .order_history .order_top .re_order a {
	display: block;
	background: url(../img/common/next_arrow.png) no-repeat 235px 14px;
	background-color: #8cb202;
	font-size: 14px;
	color: #fff;
	padding: 10px 40px 8px 38px;
}
#historyDetail .order_history .order_top .re_order a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}
#historyDetail .order_history .order_list table {
	width: 100%;
}
#historyDetail .order_history .order_list table tr th {
	background: #e5e5e5;
	font-size: 14px;
	line-height: 1;
	font-weight: normal;
	color: #4a4a4a;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
#historyDetail .order_history .order_list table tr th.w100 {
	width: 100px;
}
#historyDetail .order_history .order_list table tr td {
	font-size: 14px;
	color: #4a4a4a;
	text-align: left;
	vertical-align: middle;
	padding: 10px 0;
	border-bottom: 1px solid #dbdbdb;
}
#historyDetail .order_history .order_list table tr td.pl24 {
	padding-left: 24px;
}
#historyDetail .order_history .order_list table tr td.pr20 {
	padding-right: 20px;
}
#historyDetail .order_history .order_list table tr td.total {
	color: #fe9900;
	font-weight: bold;
}
#historyDetail .order_history .order_list table tr td span {
	padding-right: 10px;
}

/* お届け先 */
#historyDetail .order_address {
	margin-bottom: 40px;
}
#historyDetail .order_address h3 {
	font-size: 16px;
	margin-bottom: 8px;
}
#historyDetail .order_address table.address_item {
	width: 100%;
	border-top: 1px solid #b2b2b2;
	margin-bottom: 40px;
}
#historyDetail .order_address table.address_item tr th {
	background: #e5e5e5;
	font-size: 14px;
	line-height: 1;
	font-weight: normal;
	color: #4a4a4a;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
#historyDetail .order_address table.address_item tr td {
	font-size: 14px;
	color: #4a4a4a;
	text-align: left;
	vertical-align: middle;
	padding: 10px 0;
	border-bottom: 1px solid #dbdbdb;
}
#historyDetail .order_address table.address_item tr td.w120 {
	width: 120px;
}
#historyDetail .order_address table.address_item tr td.pl24 {
	padding-left: 24px;
}

#historyDetail .order_address table.address_detail {
	width: 100%;
	border-top: 1px solid #e5e5e5;
}
#historyDetail .order_address table.address_detail tr th,#historyDetail .order_address table.address_detail tr td {
	border-bottom: 1px solid #e5e5e5;
	padding: 12px 0 10px 10px;
	color: #4a4a4a;
	font-size: 14px;
}
#historyDetail .order_address table.address_detail tr th {
	border-right: 1px solid #e5e5e5;
	text-align: left;
	font-weight: normal;
	width: 170px;
}
#historyDetail .order_address table.address_detail tr td {
	padding: 12px 0 10px 20px;
}


/* 送り主 */
#historyDetail .sender_address {
	margin-bottom: 40px;
}
#historyDetail .sender_address h3 {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #b2b2b2;
}
#historyDetail .sender_address table {
	width: 100%;
	border-top: 1px solid #e5e5e5;
}
#historyDetail .sender_address table tr th,#historyDetail .sender_address table tr td {
	border-bottom: 1px solid #e5e5e5;
	padding: 12px 0 10px 10px;
	color: #4a4a4a;
	font-size: 14px;
}
#historyDetail .sender_address table tr th {
	border-right: 1px solid #e5e5e5;
	text-align: left;
	font-weight: normal;
	width: 170px;
}
#historyDetail .sender_address table tr td {
	padding: 12px 0 10px 20px;
}

/* メール配信履歴一覧 */
#historyDetail .history_mail h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
#historyDetail .history_mail table {
	width: 100%;
	border-top: 1px solid #b2b2b2;
	margin-bottom: 40px;
}
#historyDetail .history_mail table tr th {
	background: #e5e5e5;
	font-size: 14px;
	line-height: 1;
	font-weight: normal;
	color: #4a4a4a;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
#historyDetail .history_mail table tr td {
	font-size: 14px;
	color: #4a4a4a;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0;
	border-bottom: 1px solid #dbdbdb;
}
#historyDetail .history_mail table tr td a {
	color: #4a4a4a;
}
#historyDetail .history_mail table tr td a:hover {
	text-decoration: underline;
}


/* ----------
		定期購入利用状況
---------- */
#regularArea table.regularList {
	width: 100%;
	margin-bottom: 80px;
}
#regularArea table.regularList tr th {
	background: #f4f4f4;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	color: #4a4a4a;
	height: 30px;
	vertical-align: middle;
}
#regularArea table.regularList tr td {
	font-weight: normal;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	font-size: 14px;
	color: #4a4a4a;
	height: 50px;
	vertical-align: middle;
}
#regularArea table.regularList tr td a {
	display: block;
	background: #6a6866;
	color: #fff;
	padding: 8px 0 7px;
	font-size: 12px;
	line-height: 1;
	margin: 0 auto;
	width: 50px;
}
#regularArea table.regularList tr td a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}
#regularArea table.regularList tr th.w130 {
	width: 130px;
}
#regularArea table.regularList tr td.tal {
	text-align: left;
}

#regularArea h3 {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #b2b2b2;
}
#regularArea  ul li {
	padding-left: 20px;
	margin-bottom: 8px;
	position: relative;
	font-size: 14px;
}
#regularArea  ul li:before {
	content: "■";
	color: #8cb202;
	position: absolute;
	top: 1px;
	left: 3px;
}



/* 定期購入利用状況詳細 */
#regularArea.regular_detail {
	margin-bottom: 130px;
}
table.regular_detailList {
	width: 100%;
	margin-bottom: 40px;
	border-top: 1px solid #e5e5e5;
}
table.regular_detailList th,table.regular_detailList td {
	border-bottom: 1px solid #e5e5e5;
	height: 50px;
	vertical-align: middle;
}
table.regular_detailList th {
	width: 225px;
	text-align: center;
	font-weight: normal;
	border-right: 1px solid #e5e5e5;
}
table.regular_detailList td {
	padding: 0 18px;
	text-align: left;
}


/* ----------
		お気に入り一覧
---------- */
#favoriteArea {
	margin-bottom: 130px;
}
#favoriteArea p.number {
	font-size: 14px;
	margin-bottom: 20px;
}
#favoriteArea p.number span {
	color: #fe9900;
	font-weight: bold;
}
#favoriteArea table.favoriteList {
	width: 100%;
}
#favoriteArea table.favoriteList tr th {
	background: #e5e5e5;
	font-size: 14px;
	line-height: 1;
	font-weight: normal;
	color: #4a4a4a;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
#favoriteArea table.favoriteList tr th.w120 {
	width: 120px;
}
#favoriteArea table.favoriteList tr td {
	font-size: 14px;
	color: #4a4a4a;
	text-align: left;
	vertical-align: middle;
	padding: 10px 0;
	border-bottom: 1px solid #dbdbdb;
}
#favoriteArea table.favoriteList tr td.pl24 {
	padding-left: 24px;
}

#favoriteArea table.favoriteList tr td span {
	padding-right: 10px;
}

#favoriteArea table.favoriteList tr td a.btn {
	display: block;
	background: #6a6866;
	color: #fff;
	padding: 8px 0 7px;
	font-size: 12px;
	line-height: 1;
	margin: 0 auto;
	width: 50px;
}
#favoriteArea table.favoriteList tr td a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}


/* ----------
		会員登録内容変更
---------- */
#changeArea.login h3.bdb {
	font-size: 16px;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #b2b2b2;
}
#changeArea.login p {
	font-size: 13px;
}
#changeArea.login p.fwb {
	font-weight: bold;
}
#changeArea.login .button {
  width: 515px;
}
#changeArea.login table {
  width: 100%;
  margin-top: 30px;
}
#changeArea.login th {
  width: 210px;
}
#changeArea.login td {
  vertical-align: middle;
}
#changeArea.login .login_thanks {
	margin: 45px 0 100px;
}
#changeArea.login .button input.btn_return {
	background-color: #939393 !important;
}

/* ----------
		お届け先追加・変更
---------- */
#deliveryArea {
	margin-bottom: 130px;
}
#deliveryArea p.number {
	font-size: 13px;
	margin-bottom: 20px;
}
#deliveryArea p.number span {
	color: #fe9900;
	font-weight: bold;
}
#deliveryArea .add_address {
	overflow: hidden;
	margin-bottom: 20px;
}
#deliveryArea .add_address a {
	display: block;
	background: #6a6866;
	color: #fff;
	padding: 12px 0 11px;
	font-size: 12px;
	line-height: 1;
	margin: 0 auto;
	width: 190px;
	float: left;
	text-align: center;
}
#deliveryArea .add_address a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}
#deliveryArea table.deliveryList {
	width: 100%;
}
#deliveryArea table.deliveryList tr th {
	background: #f4f4f4;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	color: #4a4a4a;
	height: 30px;
	vertical-align: middle;
}
#deliveryArea table.deliveryList tr td {
	font-weight: normal;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	font-size: 14px;
	color: #4a4a4a;
	vertical-align: middle;
	padding: 8px 10px;
}
#deliveryArea table.deliveryList tr td a {
	display: block;
	background: #6a6866;
	color: #fff;
	padding: 8px 0 7px;
	font-size: 12px;
	line-height: 1;
	margin: 0 auto;
	width: 50px;
}
#deliveryArea table.deliveryList tr td a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}
#deliveryArea table.deliveryList tr td.tal {
	text-align: left;
}
#deliveryArea table.deliveryList tr td.del a {
	background: #e6e6e6;
	color: #3a3a3a;
}

.modal_bg {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20000;
	background: url('../img/common/modal_bg.png') repeat left top;
	width: 100%;
	height: 100%;
}
#modal_addAddress_wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20001;
	width: 100%;
	height: 100%;
}
#modal_addAddress {
	width: 880px;
	padding: 30px 45px 60px;
	background-color: #fff;
	margin: 100px auto 0px;
	color: #383838;
	position: relative;
}
#modal_addAddress span.cartClose {
  position: absolute;
  right: 23px;
  top: 23px;
  display: inline-block;
  width: 33px;
  height: 33px;
  background: url('../img/common/modal_close.png') no-repeat left top;
  text-indent: -9999px;
  cursor: pointer;
}
#modal_addAddress h2 {
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-bottom: 5px;
} 
#modal_addAddress table{
	width: 100%;
	margin-top: 15px;
}
#modal_addAddress tr {
	min-height: 55px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
}

#modal_addAddress .date_no {
	height: 50px;
}
#modal_addAddress th {
	width: 210px;
	padding-top: 4px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
#modal_addAddress td {
	padding: 10px 20px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	border-left: 1px solid #e5e5e5;
}
#modal_addAddress td div {
	float: left;
}
#modal_addAddress div .name {
	min-width: 35px;
	padding-top: 8px;
	display: block;
	float: left;
}
#name01,
#kana01 {
	margin-right: 12px;
}
#modal_addAddress input{
	height: 30px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	background: #ecf1d6;
	border-radius: 4px;
	cursor: pointer;
}
#modal_addAddress select {
	width: 100px;
	height: 34px;
	border: 1px solid #e0e0e0;
	background: #ECF1D6;
}
#modal_addAddress input[type="checkbox"] {
	height: auto;
	display: block;
	float: left;
}
#modal_addAddress .short {
	width: 90px;
}
#modal_addAddress .middle {
	width: 170px;
}
#modal_addAddress .long {
	width: 305px;
}
#modal_addAddress .free {
	background: #fff;
}
#modal_addAddress .mail span,
#modal_addAddress .pass span {
	font-size: 11px;
}
#modal_addAddress .adress_number .text {
	font-size: 11px;
}
#modal_addAddress .adress div {
	width: 100%;
	margin-bottom: 15px;
}
#modal_addAddress .adress div:last-child{
	margin-bottom: 0;
}
#modal_addAddress .adress .text {
	width: 112px;
	display: block;
	float: left;
}
#modal_addAddress .tel .text {
	font-size: 11px;
}
#modal_addAddress span.name {
	font-size: 11px;
	margin-left: 10px;
	display: block;
	float: left;
}
#modal_addAddress input[type="submit"] {
	display: block;
	width: 290px;
	height: 40px;
	padding: 10px 0 7px;
	margin: 45px auto 0;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 250px 14px;
	border: none;
	border-radius: 0;
}
#modal_addAddress input[type="submit"]:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
/* ----------
		お届け先追加・変更
---------- */
main#refusal {
	float: none;
	width: 100%;
}
#refusalArea h3.bdb {
	font-size: 16px;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #b2b2b2;
}
#refusalArea p {
	font-size: 13px;
}
#refusalArea .refusal_content {
	padding: 50px 0;
	margin: 30px 0 100px;
	text-align: center;
	background: #f4f4f4;
}
#refusalArea .refusal_content .sub_tit {
	margin-bottom: 25px;
	color: #789415;
	font-size: 16px;
	display: inline-block;
	position: relative;
}
#refusalArea .refusal_content .sub_tit:before {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: -139px;
	top: 10px;
}
#refusalArea .refusal_content .sub_tit:after {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: -139px;
	top: 10px;
}
#refusalArea .refusal_content p {
	font-size: 14px;
}
#refusalArea .refusal_content .btn {
	margin-top: 35px;
	display: inline-block;
}
#refusalArea .refusal_content .btn input[type="submit"] {
	padding: 10px 100px 7px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 205px 14px;
	border: none;
}
#refusalArea .refusal_content .btn  input[type="submit"]:hover,#refusalArea .refusal_content .btn a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}


#refusalArea .reason {
	width: 590px;
	margin: 40px auto;
	padding: 12px 20px 20px;
	background: #e0e0e0;
	text-align: left;
}
#refusalArea .reason textarea {
	padding: 0;
	margin-top: 5px;
	width: 100%;
	height: 120px;
	border: none;
}
#refusalArea ul.confirm_btn {
	overflow: hidden;
	width: 500px;
	margin: 0 auto;
}
#refusalArea ul.confirm_btn li {
	float: right;
}
#refusalArea ul.confirm_btn li.back {
	float: left;
}
#refusalArea ul.confirm_btn li.back a {
	display: block;
	background: url(../img/common/back_arrow.png) no-repeat 20px 13px;
	background-color: #939393;
	width: 240px;
	text-indent: 10px;
	margin-right: 20px;
	color: #fff;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
#refusalArea ul.confirm_btn li input[type="submit"] {
	background: url(../img/common/next_arrow.png) no-repeat 193px 13px;
	background-color: #8cb202;
	width: 240px;
	text-indent: -10px;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
}
#refusalArea ul.confirm_btn li.back a:hover, #refusalArea ul.confirm_btn li input[type="submit"]:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}

#refusalArea .refusal_content h3 {
	margin-bottom: 35px;
	color: #789415;
	font-size: 26px;
	font-weight: normal;
}
#refusalArea .refusal_content .btn a {
	display: block;
	padding: 14px 65px 10px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 200px 18px;
}

/* ---------------
		pagerArea
--------------- */
ul#pagerArea {
	clear: both;
	width: 100%;
	text-align: center;
	margin-top: 24px;
}
ul#pagerArea li {
	display: inline-block;
	margin: 0px 4px;
}
ul#pagerArea li a {
	display: table-cell;
	width: 33px;
	height: 33px;
	background: url('../img/category/pager_off.png') no-repeat left top;
	vertical-align: middle;
}
ul#pagerArea li#active a {
	background: url('../img/category/pager_on.png') no-repeat left top !important;
	color: #fff !important;
}
ul#pagerArea li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#pagerDots {
	position: relative;
	top: -10px;
	letter-spacing: -2px;
	font-weight: bold;
	font-size: 14px;
}


