/* ----------
		main
---------- */
main {
	float: right;
	width: 760px;
}
#newsIndexArea h2 {
	font-size: 22px;
	line-height: 50px;
	font-weight: bold;
	border-bottom: none;
	margin-bottom: 37px;
}

/* ニュースリスト */
#newsList li:first-child {
	border-top: 1px solid #e5e5e5;
}
#newsList li {
	clear: both;
}
#newsList li a {
	display: block;
	width: 760px;
	height: 68px;
	border-bottom: 1px solid #e5e5e5;
}
#newsList li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
		 -moz-transition: color 0.2s ease-in-out;
			 -o-transition: color 0.2s ease-in-out;
			    transition: color 0.2s ease-in-out;
}
#newsList li a div {
	display: table-cell;
	vertical-align: middle;
	height: 68px;
}

/* 日付 */
.nl_date {
	border-right: 1px solid #e5e5e5;
	width: 80px;
	padding: 0px 20px 0px 1px;
}

/* タグ */
.nl_oshirase,
.nl_juyou {
	border-right: 1px solid #e5e5e5;
	width: 70px;
	padding: 0px 18px;
	color: #fff;
	text-align: center;
}
.nl_oshirase span,
.nl_juyou span {
	display: inline-block;
	width: 70px;
	height: 21px;
	padding-top: 3px;
	color: #fff;
}
.nl_oshirase span {
	background-color: #b3bbbc;
}
.nl_juyou span {
	background-color: #d12626;
}

/* ニュース内容 */
.nl_text {
	font-size: 14px;
	padding-left: 27px;
}





/* ---------------
		pagerArea
--------------- */
ul#pagerArea {
	clear: both;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
ul#pagerArea li {
	display: inline-block;
	margin: 0px 4px;
}
ul#pagerArea li a {
	display: table-cell;
	width: 33px;
	height: 33px;
	background: url('../img/category/pager_off.png') no-repeat left top;
	vertical-align: middle;
}
ul#pagerArea li#active a {
	background: url('../img/category/pager_on.png') no-repeat left top !important;
	color: #fff !important;
}
ul#pagerArea li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#pagerDots {
	position: relative;
	top: -10px;
	letter-spacing: -2px;
	font-weight: bold;
	font-size: 14px;
}