/* ----------
		main
---------- */
main {
	float: right;
	width: 760px;
}





/* ----------
	article
---------- */
article#newsDetail {
	border: 12px solid #f2f6db;
	padding: 32px 50px 40px;
}

/* top */
div#ndTop {
	position: relative;
}
#newsDetail_tag {
	background-color: #d12626;
	display: inline-block;
	width: 79px;
	height: 23px;
	padding-top: 4px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
#newsDetail_date {
	display: inline-block;
	position: absolute;
	right: 0;
	vertical-align: middle;
	line-height: 27px;
}

/* title */
#newsDetail h2 {
	font-size: 18px;
	line-height: 18px;
	margin-top: 30px;
	padding-bottom: 19px;
	margin-bottom: 20px;
}

/* p */
#newsDetail p {
	font-size: 14px;
	line-height: 26px;
}
#newsDetail p a {
	color: #789415;
}
#newsDetail p a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

/* img */
#nd_img {
	margin-top: 17px;
}

/* pager */
div#newsPrevNext {
	position: relative;
	height: 18px;
	margin-top: 24px;
	margin-bottom: 100px;
}
div#newsPrevNext a {
	color: #789415;
}
a#newsPrev {
	position: absolute;
	left: 0;
}
a#newsPrev:before {
	display: inline-block;
	content: '';
	width: 0px;
	height: 0px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 7px solid #789415;
	border-left: 7px solid transparent;
	margin-right: 7px;
}
a#newsNext {
	position: absolute;
	right: 0;
}
a#newsNext:after {
	display: inline-block;
	content: '';
	width: 0px;
	height: 0px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 7px solid transparent;
	border-left: 7px solid #789415;
	margin-left: 7px;
}
div#newsPrevNext a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
