
.not_sell {
	padding: 100px 0;
	margin: 30px 0 60px;
	text-align: center;
	background: #ecf1d6;
}
.not_sell .sub_tit {
	margin-bottom: 50px;
	color: #789415;
	font-size: 16px;
	display: inline-block;
	position: relative;
}
.not_sell .sub_tit:before {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: -139px;
	top: 10px;
}
.not_sell .sub_tit:after {
	content: '';
	display: inline-block;
	width: 122px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: -139px;
	top: 10px;
}
.not_sell h3 {
	margin-bottom: 15px;
	color: #789415;
	font-size: 26px;
	font-weight: normal;
}
.not_sell p {
	margin-bottom: 32px;
	font-size: 14px;
	color: #789415;
	font-size: 20px;
}
.not_sell .btn {
	margin-top: 50px;
	display: inline-block;
}
.not_sell .btn a {
	padding: 14px 65px 10px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 200px 18px;
}
.not_sell .btn a:hover {
	opacity: 0.7;
}
