/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}

#ocha_cafeArea {
	
}
#ocha_cafeArea .title_banner {
	position: relative;
}
#ocha_cafeArea .title_banner h3 {
	background: url(../img/ocha_cafe/title_ocha_cafe.jpg) no-repeat;
	height: 251px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
#ocha_cafeArea .title_banner p {
	position: absolute;
	width: 445px;
	top: 135px;
	left: 30px;
	line-height: 20px;
}

#ocha_cafeArea .cnt_cafe ul {
	overflow: hidden;
	margin-top: 35px;
}
#ocha_cafeArea .cnt_cafe ul li {
	float: left;
	width: 250px;
	position: relative;
}
#ocha_cafeArea .cnt_cafe ul > *:first-child + *  {
	margin: 0 5px;
}
#ocha_cafeArea .cnt_cafe ul.top li {
	height: 270px;
}
#ocha_cafeArea .cnt_cafe ul.top li.cnt01 {
	background: url(../img/ocha_cafe/bg_ocha_cafe01.png) no-repeat center top;
}
#ocha_cafeArea .cnt_cafe ul.top li.cnt02 {
	background: url(../img/ocha_cafe/bg_ocha_cafe02.png) no-repeat center top;
}
#ocha_cafeArea .cnt_cafe ul.top li.cnt03 {
	background: url(../img/ocha_cafe/bg_ocha_cafe03.png) no-repeat center top;
}
#ocha_cafeArea .cnt_cafe ul.top li .inner {
	padding: 100px 15px 0;
}
#ocha_cafeArea .cnt_cafe ul.top li .inner p.time {
	position: absolute;
	bottom: 32px;
	left: 15px;
}

#ocha_cafeArea .cafe_detail h3.bdb {
	font-size: 16px;
	line-height: 18px;
	margin-top: 30px;
	padding-bottom: 9px;
	border-bottom: 1px solid #d9d9d9;
}
#ocha_cafeArea .cafe_detail .inner {
	overflow: hidden;
	margin-top: 25px;
	line-height: 25px;
}
#ocha_cafeArea .cafe_detail .inner .image {
	float: right;
}
#ocha_cafeArea .cafe_detail .inner dl dt {
	float: left;
}
#ocha_cafeArea .cafe_detail .inner dl dd {
	padding-left: 65px;
}

