/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}
.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#qualityArea .red {
	color: #ff0000;
}

#qualityArea {
	margin-bottom: 160px;
}
#qualityArea h3.bdb {
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 9px;
	border-bottom: 1px solid #d9d9d9;
}
#qualityArea .title_banner {
	position: relative;
}
#qualityArea .title_banner h3 {
	background: url(../img/quality/title_safety.jpg) no-repeat;
	height: 330px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
#qualityArea .title_banner .text {
	position: absolute;
	width: 460px;
	top: 95px;
	left: 35px;
	line-height: 20px;
}
#qualityArea .title_banner .text p {
	margin-top: 25px;
}

#qualityArea .result_check {
	margin: 40px 0;
	padding: 25px;
	background: #f2f6db;
}
#qualityArea .result_check .image {
	float: right;
	padding-left: 20px;
}
#qualityArea .result_check h3 {
	font-size: 15px;
	line-height: 22px;
}
#qualityArea .result_check p {
	margin-top: 25px;
}

#qualityArea .flow_top {
	background: #f6f5ee;
	padding: 20px 20px 15px;
}
#qualityArea .flow_top .image {
	float: right;
}
#qualityArea .flow_top ul {
	width: 500px;
	float: left;
}
#qualityArea .flow_top ul li {
	margin-top: 28px;
	padding: 12px 18px;
	background: #fff;
	border: 1px solid #eeece0;
	position: relative;
}
#qualityArea .flow_top ul li:before {
	content: url(../img/quality/arrow_grey.png);
	position: absolute;
	bottom: -30px;
	left: 175px;
	z-index: 999;
}
#qualityArea .flow_top ul li:first-child {
	margin-top: 0;
}
#qualityArea .flow_top ul li h4 {
	font-size: 15px;
}
#qualityArea .flow_bottom {
	background: #f2f6db;
	padding: 15px 20px 20px;
}

#qualityArea .flow_bottom ul li:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#qualityArea .flow_bottom ul li {
	width: 100%;
	background: #fff;
	margin-top: 28px;
	position: relative;
	display: table;
	min-height: 91px;
	border: 1px solid #edecde;
}
#qualityArea .flow_bottom ul li:before {
	content: url(../img/quality/arrow_green.png);
	position: absolute;
	top: -20px;
	left: 175px;
	z-index: 999;
}
#qualityArea .flow_bottom ul li:first-child {
	margin-top: 0;
}
#qualityArea .flow_bottom ul li:first-child:before {
	content: none;
}
#qualityArea .flow_bottom ul li .image {
	float: right;
}
#qualityArea .flow_bottom ul li h4 {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	padding-left: 15px;
}
#qualityArea .flow_bottom ul li h4.circle {
	position: relative;
	padding-left: 80px;
}
#qualityArea .flow_bottom ul li h4.circle span {
	background: url(../img/quality/circle01.png) no-repeat center;
	width: 55px;
	padding: 20px 0 16px;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 14px;
	left: 14px;
}

#qualityArea .flow_bottom ul li.cnt_dl {
	background: none;
	border: none;
}
#qualityArea .flow_bottom ul li.cnt_dl dl {
	overflow: hidden;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dt {
	float: left;
	width: 125px;
	background: #fff;
	border: 1px solid #edecde;
	min-height: 141px;
	display: table;
}
}
#qualityArea .flow_bottom ul li.cnt_dl dl dt h4 {
	display: table-cell;
	vertical-align: middle;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dd {
	float: right;
	width: 588px;
	background: #fff;
	border: 1px solid #edecde;
	display: table;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dd .text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dd .text h5 {
	font-size: 14px;
}

#qualityArea div.mt50 {
	margin-top: 50px;
}


#qualityArea .torikumi_bloc .inner {
	overflow: hidden;
	margin-top: 18px;
}
#qualityArea .torikumi_bloc .inner .image {
	float: right;
}
#qualityArea .torikumi_bloc .inner h4 {
	font-size: 16px;
	line-height: 25px;
	position: relative;
	padding: 17px 85px;
}
#qualityArea .torikumi_bloc .inner h4 span {
	color: #fff;
	font-size: 16px;
	line-height: 23px;
	background: url(../img/quality/circle02.png) no-repeat center;
	width: 73px;
	position: absolute;
	padding: 18px 0 10px;
	left: 0;
	top: 0;
	text-align: center;
	font-weight: normal;
}

#qualityArea .check_flow.mt50 {
	margin-top: 60px;
}
#qualityArea .check_flow ul {
	overflow: hidden;
	margin-top: 20px;
}
#qualityArea .check_flow ul li {
	float: left;
	width: 221px;
	position: relative;
}
#qualityArea .check_flow ul li:first-child + * {
	margin: 0 48px;
}
#qualityArea .check_flow ul li:first-child + *:before {
	content: url(../img/quality/img_check_arrow.png);
	position: absolute;
	top: 60px;
	left: -28px;
}
#qualityArea .check_flow ul li:first-child + *:after {
	content: url(../img/quality/img_check_arrow.png);
	position: absolute;
	top: 60px;
	right: -30px;
}
#qualityArea .check_flow ul li p {
	margin: 0 0 8px;
}

#qualityArea .insrtument_bloc h4 {
	color: #8cb202;
	margin: 30px 0 5px;
	font-size: 16px;
}
#qualityArea .insrtument_bloc ul li {
	background: #f2f6db;
	border-bottom: 2px solid #fff;
	overflow: hidden;
	padding: 20px 20px 20px 30px;
}
#qualityArea .insrtument_bloc ul li .image {
	float: right;
}
#qualityArea .insrtument_bloc ul li h5 {
	font-size: 14px;
}
#qualityArea .insrtument_bloc ul li p {
	margin-top: 8px;
}





