/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}


/* h2 */
#regular_purchaseArea h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 5px;
}
.regular_bloc {
	margin-top: 55px;
}
.regular_bloc h3 {
	margin-bottom: 15px;
	padding-left: 70px;
	height: 40px;
	line-height: 2.7;
	font-size: 16px;
	font-weight: normal;
	background-color: #ecf1d6;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.regular_bloc h3.point01 {
	background-image: url(../img/common/ico_point01.png);
}
.regular_bloc h3.point02 {
	background-image: url(../img/common/ico_point02.png);
}
.regular_bloc h3.point03 {
	background-image: url(../img/common/ico_point03.png);
}
.regular_bloc h4 {
	font-size: 13px;
}
.regular_bloc .image {
	float: right;
	padding-top: 13px;
}
.regular_bloc p {
	margin-bottom: 15px;
	font-size: 13px;
}
.regular_bloc p.mt30 {
	margin-top: 30px;
}
.regular_bloc .btn_area {
	overflow: hidden;
}
.regular_bloc .btn_area a {
	display: block;
	float: left;
	width: 200px;
	height: 40px;
	padding-left: 50px;
	background: url('../img/common/modal_nextArrow.png') no-repeat 200px 13px;
	background-color: #939393;
	margin-right: 20px;
	font-size: 15px;
	color: #fff;
	line-height: 2.8;
}
.regular_bloc .btn_area a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
