/* ----------
		guide
---------- */
main {
	float: right;
	width: 760px;
	min-height: 650px;
}
#reichaWrap a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
#reichaWrap h2 {
	background: url(../img/reicha/reicha_title.jpg) no-repeat;
	height: 280px;
	text-indent: -9999px;
	border: none;
	margin-bottom: 8px;
}
#reichaWrap p,#reichaWrap li {
	font-size: 13px;
}
#reichaWrap .bloc_inn {
	position: relative;
}
#reichaWrap .blocA_wrap {
	margin-top: 22px;
}
#reichaWrap .blocA_wrap h3 {
	text-align: center;
}
#reichaWrap .blocA_wrap .bloc01 {
	background: url(../img/reicha/bg_teabag.jpg) no-repeat;
	height: 325px;
	margin-bottom: 24px;
}
#reichaWrap .blocA_wrap .bloc01 h4 {
	position: absolute;
	top: 48px;
	right: 135px;
}
#reichaWrap .blocA_wrap .bloc01 ul {
	position: absolute;
	top: 157px;
	left: 383px;
	padding-right: 27px;
	line-height: 1.9;
}
#reichaWrap .blocA_wrap .bloc02 {
	background: url(../img/reicha/bg_chaba.jpg) no-repeat;
	height: 336px;
	margin-bottom: 95px;
}
#reichaWrap .blocA_wrap .bloc02 h4 {
	position: absolute;
	top: 50px;
	left: 28px;
}
#reichaWrap .blocA_wrap .bloc02 ul {
	position: absolute;
	top: 140px;
	left: 55px;
	line-height: 1.9;
}
#reichaWrap .blocA_wrap .bloc02 p.text {
	position: absolute;
	top: 290px;
	left: 30px;
	line-height: 1.9;
}

#reichaWrap .blocB_wrap {
	margin-top: 51px;
}
#reichaWrap .blocB_wrap h3 {
	text-align: center;
}
#reichaWrap .blocB_wrap .bloc01 {
	background: url(../img/reicha/bg_blocB01.jpg) no-repeat;
	height: 337px;
	margin-bottom: 33px;
}
#reichaWrap .blocB_wrap .bloc01 h4 {
	position: absolute;
	top: 150px;
	right: 46px;
}
#reichaWrap .blocB_wrap .bloc01 ul {
	position: absolute;
	top: 211px;
	left: 425px;
	line-height: 1.9;
}
#reichaWrap .blocB_wrap .bloc02 {
	background: url(../img/reicha/bg_blocB02.jpg) no-repeat;
	height: 337px;
	margin-bottom: 25px;
}
#reichaWrap .blocB_wrap .bloc02 h4 {
	position: absolute;
	top: 138px;
	left: 45px;
}
#reichaWrap .blocB_wrap .bloc02 ul {
	position: absolute;
	top: 222px;
	left: 75px;
	line-height: 1.9;
}

#reichaWrap .cta_bloc {
	border: 10px solid #d6e9f2;
}
#reichaWrap .cta_bloc .inner {
	padding: 7px;
	overflow: hidden;
}
#reichaWrap .cta_bloc .inner .image {
	float: left;
	position: relative;
}
#reichaWrap .cta_bloc .inner .image .limited {
	position: absolute;
	top: 12px;
	right: -13px;
}
#reichaWrap .cta_bloc .inner .text_bloc {
	padding: 70px 30px 0 445px;
}
#reichaWrap .cta_bloc .inner .text_bloc h3 {
	margin-bottom: 15px;
}
#reichaWrap .cta_bloc .inner .text_bloc p {
	font-size: 12px;
}
#reichaWrap .cta_bloc .inner .text_bloc p.price {
	font-size: 23px;
	text-align: right;
	margin: 12px 0 20px;
	font-weight: bold;
}
#reichaWrap .cta_bloc .inner .text_bloc p.price span.mini {
	font-size: 15px;
}
#reichaWrap .cta_bloc .inner .text_bloc .btn_bloc a {
	display: block;
	width: 235px;
	margin: 0 auto;
	padding: 13px 0 10px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	background: #8cb302;
	border-radius: 3px;
}

#reichaWrap .recommend_wrap {
	margin: 90px 0 100px;
}
#reichaWrap .recommend_wrap h3 {
	font-size: 15px;
	margin-bottom: 15px;
}#reichaWrap .recommend_wrap ul {
	overflow: hidden;
	margin-bottom: 30px;
}
#reichaWrap .recommend_wrap ul li {
	float: left;
	width: 226px;
	margin-left: 41px;
}
#reichaWrap .recommend_wrap ul li:first-child {
	margin-left: 0;
}
#reichaWrap .recommend_wrap ul li a {
	display: block;
}
#reichaWrap .recommend_wrap .btn_list a {
	display: block;
	width: 455px;
	margin: 60px auto 150px;
	padding: 31px 0 27px;
	line-height: 1;
	text-align: center;
	font-size: 22px;
	color: #fff;
	background: #8cb302;
	border-radius: 4px;
}

