/* ----------
	main 
---------- */


/* h2 */
#reissueArea {
	margin-bottom: 160px;
}
#reissueArea h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 15px;
}
#reissueArea table{
	width: 100%;
	margin-top: 30px;
}
#reissueArea tr {
	min-height: 55px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
}

#reissueArea .date_no {
	height: 50px;
}
#reissueArea th {
	width: 280px;
	padding-top: 4px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
#reissueArea td {
	padding: 10px 20px;
	color: #383838;
	font-size: 14px;
	font-weight: normal;
	border-left: 1px solid #e5e5e5;
}
#reissueArea td div {
	float: left;
}
#reissueArea div .name {
	min-width: 35px;
	padding-top: 8px;
	display: block;
	float: left;
}
#reissueArea input{
	height: 30px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	background: #ecf1d6;
	border-radius: 4px;
	cursor: pointer;
}
#reissueArea select {
	width: 100px;
	height: 34px;
	border: 1px solid #e0e0e0;
	background: #ECF1D6;
}
#reissueArea .short {
	width: 90px;
}
#reissueArea .middle {
	width: 170px;
}
#reissueArea .long {
	width: 305px;
}
#reissueArea .free {
	background: #fff;
}
#reissueArea .mail span,
#reissueArea .pass span {
	font-size: 11px;
}
/* パスワードを忘れた時のヒント */
tr#passHint p#passHint_q {
	margin-bottom: 11px;
}
tr#passHint label {
	display: inline-block;
	width: 35px;
}
tr#passHint select {
	width: 264px;
}
tr#passHint input {
	width: 260px;
}


#reissueArea .button input[type="submit"] {
	display: block;
	width: 290px;
	height: 40px;
	padding: 10px 0 7px;
	margin: 45px auto 0;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 250px 14px;
	border: none;
	border-radius: 0;
}
#reissueArea .button input[type="submit"]:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}


/* ステップ2ページ */
.reissue_complete {
	padding: 100px 0;
	margin: 10px 0 0;
	text-align: center;
	background: #ecf1d6;
}
.reissue_complete h3 {
	margin-bottom: 40px;
	color: #789415;
	font-size: 26px;
	font-weight: normal;
}
.reissue_complete p {
	margin-bottom: 32px;
	font-size: 14px;
}
.reissue_complete .btn {
	margin-top: 50px;
	display: inline-block;
}
.reissue_complete .btn a {
	padding: 14px 65px 10px;
	color: #fff;
	font-size: 15px;
	background: #8cb202 url('../img/common/modal_nextArrow.png') no-repeat 200px 18px;
}
.reissue_complete .btn a:hover {
	opacity: 0.7;
}