/* ----------
		guide
---------- */
main {
	float: right;
	width: 760px;
	min-height: 650px;
}
#shinmushicha_sceneWrap a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

#shinmushicha_sceneWrap {
	font-size: 13px;
}
#shinmushicha_sceneWrap .title_bloc {
	margin-bottom: 40px;
}
#shinmushicha_sceneWrap .title_bloc h2 {
	background: url(../img/shinmushicha_scene/title_bnr_shinmushicha.jpg) no-repeat;
	height: 200px;
	text-indent: -9999px;
	border: none;
	margin-bottom: 8px;
}

#shinmushicha_sceneWrap h3.scene_title {
	background: url(../img/shinmushicha_scene/title_scene.png) no-repeat;;
	width: 465px;
	height: 27px;
	text-indent: -9999px;
	border: none;
	margin: 0 auto 15px;
}
#shinmushicha_sceneWrap .scene_wrap {
	overflow: hidden;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn {
	float: left;
	width: 253px;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn img {
	max-width: 100%;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn.bloc_center {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .detail {
	margin: 15px 10px 0;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .detail p.outline {
	height: 100px;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .detail .inner h5 {
	font-weight: normal;
	color: #e4b450;
	padding-bottom: 4px;
	padding-left: 10px;
	margin: 25px 0 10px;
	background: url(../img/shinmushicha_scene/dotline_scene.png) no-repeat center bottom;
}

#shinmushicha_sceneWrap .scene_wrap .bloc_inn .detail .inner p {
	padding-left: 15px;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .item_bloc {
	margin-top: 15px;
	
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .item_bloc p.mini {
	padding-left: 10px;
	margin: 5px 0;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .item_bloc p.price {
	padding-left: 10px;
	font-size: 23px;
	font-weight: bold;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .item_bloc p.price span.mini {
	font-size: 15px;
}
#shinmushicha_sceneWrap .scene_wrap .bloc_inn .item_bloc .btn a {
	display: block;
	margin: 10px 10px 0;
	padding: 12px 0 10px;
	text-align: center;
	background: #8cb302;
	border-radius: 3px;
	font-size: 15px;
	text-align: center;
	color: #fff;
}

#shinmushicha_sceneWrap .bloc01 {
	background: url(../img/shinmushicha_scene/bg_bloc01.jpg) no-repeat;
	height: 351px;
	margin-top: 90px;
	position: relative;
}
#shinmushicha_sceneWrap .bloc01 h3 {
	background: url(../img/shinmushicha_scene/title_bloc01.png) no-repeat;
	width: 369px;
	height: 189px;
	position: absolute;
	top: 122px;
	left: 55px;
	text-indent: -9999px;
}

#shinmushicha_sceneWrap .bloc02 {
	background: url(../img/shinmushicha_scene/bg_bloc02.jpg) no-repeat;
	height: 373px;
	position: relative;
}
#shinmushicha_sceneWrap .bloc02 h3 {
	background: url(../img/shinmushicha_scene/title_bloc02.png) no-repeat;
	width: 290px;
	height: 88px;
	position: absolute;
	top: 97px;
	right: 96px;
	text-indent: -9999px;
}
#shinmushicha_sceneWrap .bloc02 .text_bloc {
	position: absolute;
	top: 222px;
	right: 2px;
}
#shinmushicha_sceneWrap .bloc02 .text_bloc h4 {
	background: url(../img/shinmushicha_scene/subtitle_bloc02.png) no-repeat;
	width: 269px;
	height: 59px;
	margin-bottom: 10px;
	text-indent: -9999px;
}

#shinmushicha_sceneWrap .bloc03 {
	background: url(../img/shinmushicha_scene/bg_bloc03.jpg) no-repeat;
	height: 964px;
	position: relative;
}
#shinmushicha_sceneWrap .bloc03 h3 {
	background: url(../img/shinmushicha_scene/title_bloc03.png) no-repeat;
	width: 311px;
	height: 147px;
	position: absolute;
	top: 107px;
	left: 0;
	text-indent: -9999px;
}
#shinmushicha_sceneWrap .bloc03 p.text01 {
	position: absolute;
	top: 48px;
	right: -7px;
}
#shinmushicha_sceneWrap .bloc03 p.text02 {
	position: absolute;
	bottom: 107px;
	right: 2px;
}
#shinmushicha_sceneWrap .bloc03 p.text03 {
	position: absolute;
	bottom: 3px;
	left: 58px;
	text-align: right;
}

#shinmushicha_sceneWrap .bloc04 {
	background: url(../img/shinmushicha_scene/bg_bloc04.jpg) no-repeat;
	height: 743px;
	position: relative;
	margin-top: 58px;
}
#shinmushicha_sceneWrap .bloc04 h3 {
	background: url(../img/shinmushicha_scene/title_bloc04.png) no-repeat;
	width: 714px;
	height: 87px;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999px;
}
#shinmushicha_sceneWrap .bloc04 .text_bloc {
	position: absolute;
	top: 430px;
	left: 25px;
}
#shinmushicha_sceneWrap .bloc04 .text_bloc h4 {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: 17px;
}
#shinmushicha_sceneWrap .bloc04 .text_bloc h4 span {
	font-size: 13px;
}
#shinmushicha_sceneWrap .bloc04 .text_bloc p {
	margin-bottom: 20px;
}
#shinmushicha_sceneWrap .bloc04 p.text02 {
	position: absolute;
	bottom: -3px;
	right: 3px;
}

#shinmushicha_sceneWrap .bloc05 {
	background: url(../img/shinmushicha_scene/bg_bloc05.jpg) no-repeat;
	height: 603px;
	position: relative;
}
#shinmushicha_sceneWrap .bloc05 h3 {
	background: url(../img/shinmushicha_scene/title_bloc05.png) no-repeat;
	width: 316px;
	height: 165px;
	position: absolute;
	top: 142px;
	left: 73px;
	text-indent: -9999px;
}

#shinmushicha_sceneWrap .btn_cta {
	text-align: center;
	margin: 20px 0 110px;
}


