/* ----------
		guide
---------- */
main {
	float: right;
	width: 760px;
	min-height: 650px;
}
#shinmushichaWrap a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

#shinmushichaWrap {
	font-size: 13px;
}
#shinmushichaWrap h2 {
	background: url(../img/shinmushicha/bnr_title_wrap.jpg) no-repeat;
	height: 200px;
	text-indent: -9999px;
	border: none;
	margin-bottom: 85px;
}


#shinmushichaWrap .top_wrap {
	margin-bottom: 35px;
}
#shinmushichaWrap .top_wrap p.outline {
	background: url(../img/shinmushicha/text01_top_bloc.png) no-repeat;
	width: 356px;
	height: 29px;
	text-indent: -9999px;
	border: none;
	margin-bottom: 15px;
}
#shinmushichaWrap .top_wrap h3 {
	background: url(../img/shinmushicha/title_top_bloc.png) no-repeat;
	width: 729px;
	height: 95px;
	text-indent: -9999px;
	border: none;
	margin-bottom: 15px;
}
#shinmushichaWrap .top_wrap p.text {
	background: url(../img/shinmushicha/text02_top_bloc.png) no-repeat;
	width: 759px;
	height: 65px;
	text-indent: -9999px;
	border: none;
	margin-bottom: 15px;
}


#shinmushichaWrap .point01 .top_bloc {
	background: url(../img/shinmushicha/bg_point01_top.jpg) no-repeat bottom;
	height: 772px;
	margin-top: 12px;
	position: relative;
}
#shinmushichaWrap .point01 .top_bloc h3 {
	background: url(../img/shinmushicha/title_point01.png) no-repeat;
	width: 534px;
	height: 78px;
	text-indent: -9999px;
	margin: 0 auto;
}
#shinmushichaWrap .point01 .top_bloc .inner {
	background: url(../img/shinmushicha/bg_point01_top_inner.png) no-repeat;
	width: 687px;
	height: 302px;
	position: absolute;
	bottom: 25px;
	left: 40px;
	padding: 40px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#shinmushichaWrap .point01 .top_bloc .inner p {
	margin-bottom: 15px;
}
#shinmushichaWrap .point01 .top_bloc .inner ol {
	background: url(../img/shinmushicha/list_point01.png) no-repeat;
	width: 380px;
	height: 116px;
	text-indent: -99999px;
	margin-bottom: 20px;
}
#shinmushichaWrap .point01 .bottom_bloc {
	background: url(../img/shinmushicha/bg_point01_bottom.jpg) no-repeat;
	height: 602px;
	position: relative;
	margin-bottom: 48px;
}
#shinmushichaWrap .point01 .bottom_bloc .text {
	background: url(../img/shinmushicha/text_point01_bottom.png) no-repeat;
	width: 268px;
	height: 196px;
	text-indent: -99999px;
	position: absolute;
	top: 125px;
	right: 35px;
}
#shinmushichaWrap .point01 .bottom_bloc .award {
	position: absolute;
	top: 460px;
	left: 20px;
}
#shinmushichaWrap .point01 .bottom_bloc .award h4 {
	background: url(../img/shinmushicha/title_award.png) no-repeat;
	width: 343px;
	height: 20px;
	text-indent: -99999px;
	margin: 0 0 25px 110px;
}


#shinmushichaWrap .point02 {
	background: url(../img/shinmushicha/bg_point02.jpg) no-repeat bottom;
	height: 912px;
	position: relative;
}
#shinmushichaWrap .point02 h3 {
	background: url(../img/shinmushicha/title_point02.png) no-repeat;
	width: 452px;
	height: 78px;
	text-indent: -99999px;
	margin: 15px auto 30px;
}
#shinmushichaWrap .point02 .text_bloc01 {
	margin: 0 0 30px 30px;
	width: 320px;
}
#shinmushichaWrap .point02 .text_bloc01 p {
	margin-bottom: 20px;
}
#shinmushichaWrap .point02 .text_bloc02 {
	margin: 0 0 30px 30px;
	width: 280px;
}
#shinmushichaWrap .point02 .text_bloc02 h4 {
	background: url(../img/shinmushicha/subtitle_point02.png) no-repeat;
	width: 176px;
	height: 21px;
	text-indent: -99999px;
	margin-bottom: 12px;
}
#shinmushichaWrap .point02 .inner {
	background: url(../img/shinmushicha/bg_point02_inner.png) no-repeat;
	width: 708px;
	height: 326px;
	position: absolute;
	bottom: 20px;
	left: 30px;
	padding: 30px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#shinmushichaWrap .point02 .inner h4 {
	color: #481d00;
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 5px;
}
#shinmushichaWrap .point02 .inner .left {
	float: left;
	width: 255px;
}
#shinmushichaWrap .point02 .inner .left p {
	margin-bottom: 20px;
}
#shinmushichaWrap .point02 .inner .right {
	position: absolute;
	top: 77px;
	right: 60px;
	width: 300px;
} 
#shinmushichaWrap .point02 .inner .right ul {
	overflow: hidden;
}
#shinmushichaWrap .point02 .inner .right ul li {
	float: left;
}
#shinmushichaWrap .point02 .inner .right ul li:first-child {
	margin-right: 70px;
}
#shinmushichaWrap .point02 .inner .right ul li h5 {
	margin-bottom: 6px;
}
#shinmushichaWrap .point02 .inner .right ul li p {
	font-size: 12px;
	padding-left: 10px;
	line-height: 16px;
}
#shinmushichaWrap .flow_wrap {
	background: #ebfec2;
	height: 740px;
	position: relative;
	font-size: 12px;
	padding: 30px 0 0 30px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#shinmushichaWrap .flow_wrap h3 {
	font-size: 16px;
	color: #d62300;
	margin-bottom: 5px;
	font-weight: normal;
}
#shinmushichaWrap .flow_wrap p {
	line-height: 18px;
}
#shinmushichaWrap .flow_wrap .flow01 {
	background: url(../img/shinmushicha/bg_flow01.png) no-repeat;
	width: 704px;
	height: 207px;
	margin-bottom: 28px;
}
#shinmushichaWrap .flow_wrap .flow01 .inner {
	padding: 65px 30px 0 325px;
}
#shinmushichaWrap .flow_wrap .flow02 {
	background: url(../img/shinmushicha/bg_flow02.png) no-repeat;
	width: 704px;
	height: 207px;
	margin-bottom: 28px;
}
#shinmushichaWrap .flow_wrap .flow02 .inner {
	padding: 65px 325px 0 25px;
}
#shinmushichaWrap .flow_wrap .flow03 {
	background: url(../img/shinmushicha/bg_flow03.png) no-repeat;
	width: 704px;
	height: 207px;
}
#shinmushichaWrap .flow_wrap .flow03 .inner {
	padding: 65px 30px 0 325px;
}


#shinmushichaWrap .compare_wrap {
	background: url(../img/shinmushicha/bg_compare.jpg) no-repeat;
	height: 509px;
	padding: 30px 0 0 0;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#shinmushichaWrap .compare_wrap h3 {
	background: url(../img/shinmushicha/title_compare.png) no-repeat;
	width: 341px;
	height: 36px;
	text-indent: -99999px;
	margin: 0 auto 34px;
}
#shinmushichaWrap .compare_wrap .left {
	float: left;
	width: 307px;
	margin: 0 0 0 45px;
}
#shinmushichaWrap .compare_wrap .right {
	float: right;
	width: 307px;
	margin: 0 45px 0 0;
}
#shinmushichaWrap .compare_wrap ul {
	overflow: hidden;
	padding-left: 10px;
}
#shinmushichaWrap .compare_wrap ul li {
	float: left;
	width: 130px;
}
#shinmushichaWrap .compare_wrap ul li:first-child {
	margin-right: 20px;
}
#shinmushichaWrap .compare_wrap ul li p {
	font-size: 12px;
}

#shinmushichaWrap .bottom_wrap {
	margin: 28px 0 75px;
	background: url(../img/shinmushicha/bg_bottom_bloc.jpg) no-repeat;
	height: 497px;
	position: relative;
}
#shinmushichaWrap .bottom_wrap p {
	background: url(../img/shinmushicha/text_bottom_bloc.png) no-repeat;
	width: 431px;
	height: 128px;
	text-indent: -99999px;
	position: absolute;
	top: 330px;
	left: 45px;
}

#shinmushichaWrap h3.recommend_title {
	background: url(../img/shinmushicha/title_recommend.png) no-repeat;
	width: 387px;
	height: 27px;
	text-indent: -9999px;
	border: none;
	margin: 0 auto 22px;
}
#shinmushichaWrap .recommend_wrap {
	overflow: hidden;
}
#shinmushichaWrap .recommend_wrap .bloc_inn {
	float: left;
	width: 253px;
}
#shinmushichaWrap .recommend_wrap .bloc_inn img {
	max-width: 100%;
}
#shinmushichaWrap .recommend_wrap .bloc_inn.bloc_center {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

#shinmushichaWrap .recommend_wrap .bloc_inn p.outline {
	height: 100px;
	padding: 0 10px;
}
#shinmushichaWrap .recommend_wrap .bloc_inn .item_bloc {
	margin-top: 15px;
	
}
#shinmushichaWrap .recommend_wrap .bloc_inn .item_bloc p.mini {
	padding-left: 10px;
	margin: 5px 0;
}
#shinmushichaWrap .recommend_wrap .bloc_inn .item_bloc p.price {
	padding-left: 10px;
	font-size: 23px;
	font-weight: bold;
}
#shinmushichaWrap .recommend_wrap .bloc_inn .item_bloc p.price span.mini {
	font-size: 15px;
}
#shinmushichaWrap .recommend_wrap .bloc_inn .item_bloc .btn a {
	display: block;
	margin: 10px 10px 0;
	padding: 12px 0 10px;
	text-align: center;
	background: #8cb302;
	border-radius: 3px;
	font-size: 15px;
	text-align: center;
	color: #fff;
}
#shinmushichaWrap .btn_cta {
	text-align: center;
	margin: 55px 0 155px;
}
