main {
	width: 100%;
	margin-bottom: 180px;
}
main h2 {
	font-size: 22px;
	border-bottom: none;
	margin-bottom: 25px;
	padding-left: 2px;
}
main section {
	margin-bottom: 52px;
}
main section h3 {
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 8px;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 10px;
	padding-left: 2px;
}

.sitemapWrap section {
	overflow: hidden;
	margin-left: -50px;
}
.sitemapWrap .col_map {
	float: left;
	width: 300px;
	margin-left: 50px;
}
.sitemapWrap .col_map .map_bloc {
	margin-bottom: 30px;
}
.sitemapWrap .col_map .map_bloc ul li {
	margin-bottom: 5px;
}
.sitemapWrap .col_map .map_bloc ul li a {
	color: #383838;
	padding-left: 10px;
	background: url(../img/sitemap/map_arrow_lv1.png) no-repeat left center;
	font-size: 13px;
}
.sitemapWrap .col_map .map_bloc ul li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.sitemapWrap .col_map .map_bloc ul li ul.level2 {
	margin-top: 5px;
}
.sitemapWrap .col_map .map_bloc ul li ul.level2 li a {
	margin-left: 10px;
	padding-left: 12px;
	background: url(../img/sitemap/map_arrow_lv2.png) no-repeat 3px center;
}


