main {
	float: right;
	width: 760px;
	margin-bottom: 180px;
}
main h2 {
	font-size: 22px;
	border-bottom: none;
	margin-bottom: 38px;
	padding-left: 2px;
}
main section {
	margin-bottom: 52px;
}
main section h3 {
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 8px;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 10px;
	padding-left: 2px;
}
main section p {
	line-height: 20px;
}
/* table */
main table {
	width: 100%;
	font-size: 14px;
	margin-top: 30px;
}
main table tr {
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.centerTable {
	border:1px solid #e5e5e5;
}
main table th {
	font-weight: normal;
	padding: 13px 0px;
}
main table td {
	vertical-align: middle;
	padding: 13px 0px 13px 26px;
}