/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}



#tea_lifeArea .cnt_inn {
	border: 12px solid #f2f6db;
	padding: 5px 0;
	text-align: center;
}
#tea_lifeArea .btn a {
	display: block;
	margin: 45px auto 0;
	padding-left: 75px;
	width: 195px;
	height: 40px;
	background: url('../img/common/modal_nextArrow.png') no-repeat 205px 13px;
	background-color: #8cb202 !important;
	color: #fff;
	font-size: 15px;
	line-height: 2.8;
}
#tea_lifeArea .btn a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
