/* ----------
	main 
---------- */
main {
	float: right;
	width: 760px;
}





/* h2 */
#mainData h2 {
	font-size: 22px;
	line-height: 40px;
	border: none;
	margin-bottom: 25px;
}
/* dl */
#mainData dl {
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	font-size: 14px;
	line-height: 21px;
}
#mainData dl#first_dl {
	border-top: 1px solid #e5e5e5;
}
/* dt */
#mainData dt {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	border-right: 1px solid #e5e5e5;
	padding-left: 2px;
	width: 195px;
}
/* dd */
#mainData dd {
	display: table-cell;
	padding: 14px 0px 14px 19px;
	vertical-align: middle;
}
#mainData dd span {
	display: inline-block;
	width: 47px;
}
#mainData dd a {
	color: #789415;
}
#mainData dd a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}