/* ----------
		guide
---------- */
main {
	float: right;
	width: 760px;
	min-height: 650px;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
#trialset_campaignWrap a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		 -moz-transition: opacity 0.2s ease-in-out;
			 -o-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}

#trialset_campaignWrap {
	font-size: 13px;
	margin-bottom: 110px;
}
#trialset_campaignWrap h2 {
	background: url(../img/trialset_campaign/title_bnr_trial.jpg) no-repeat;
	height: 560px;
	text-indent: -99999px;
	border: none;
}

#trialset_campaignWrap .cta_wrap {
	background: url(../img/trialset_campaign/bg_cta.jpg);
	height: 716px;
	text-align: center;
	padding-top: 55px;
	 -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#trialset_campaignWrap .cta_wrap h3 {
	background: url(../img/trialset_campaign/title_cta.png) no-repeat;
	width: 638px;
	height: 58px;
	text-indent: -99999px;
	margin: 0 auto 25px;
}
#trialset_campaignWrap .cta_wrap ul li {
	margin-bottom: 4px;
}
#trialset_campaignWrap .cta_wrap .btn {
	margin-top: 25px;
}

#trialset_campaignWrap .recommend_wrap {
	background: url(../img/trialset_campaign/bnr_recommend.jpg) no-repeat;
	height: 332px;
	text-indent: -9999px;
	margin: 38px 0 48px;
}

#trialset_campaignWrap .point_wrap {
	background: url(../img/trialset_campaign/bg_point_wrap.jpg) no-repeat;
	height: 1720px;
	padding-top: 77px;
	 -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#trialset_campaignWrap .point_wrap h3 {
	background: url(../img/trialset_campaign/title_point.png) no-repeat;
	width: 552px;
	height: 112px;
	text-indent: -9999px;
	margin: 0 auto 32px;
}

#trialset_campaignWrap .point_wrap .point_bloc {
 	margin: 0 auto 18px;
 	width: 727px;
	padding-top: 25px;
	 -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
 }
#trialset_campaignWrap .point_wrap .point_bloc .inner {
	position: relative;
	padding-left: 40px;
}
#trialset_campaignWrap .point_wrap .point_bloc .inner p {
	margin-bottom: 15px;
}
#trialset_campaignWrap .point_wrap .point_bloc h4 {
	width: 678px;
	height: 65px;
	text-indent: -9999px;
	margin: 0 auto 18px;
}
#trialset_campaignWrap .point_wrap .point01 {
	background: url(../img/trialset_campaign/bg_point01.png) no-repeat;
	height: 529px;
}
#trialset_campaignWrap .point_wrap .point01 h4 {
	background: url(../img/trialset_campaign/title_point01.png) no-repeat;
}
#trialset_campaignWrap .point_wrap .point01 ol {
	background: url(../img/trialset_campaign/list_point01.png) no-repeat;
	width: 298px;
	height: 92px;
	text-indent: -99999px;
	margin-bottom: 18px;
}

#trialset_campaignWrap .point_wrap .point02 {
	background: url(../img/trialset_campaign/bg_point02.png) no-repeat;
	height: 513px;
}
#trialset_campaignWrap .point_wrap .point02 h4 {
	background: url(../img/trialset_campaign/title_point02.png) no-repeat;
}
#trialset_campaignWrap .point_wrap .point02 p span {
	color: #41931a;
	line-height: 1.2;
	font-size: 15px;
}
#trialset_campaignWrap .point_wrap .point02 p span.large {
	font-size: 20px;
}

#trialset_campaignWrap .point_wrap .point03 {
	background: url(../img/trialset_campaign/bg_point03.png) no-repeat;
	height: 394px;
}
#trialset_campaignWrap .point_wrap .point03 h4 {
	background: url(../img/trialset_campaign/title_point03.png) no-repeat;
}



#trialset_campaignWrap .seiryu_wrap h3 {
	background: url(../img/trialset_campaign/set_arrow_title.png) no-repeat;
	width: 659px;
	height: 212px;
	text-indent: -9999px;
	margin: 18px auto 0;
	position: relative;
	top: 33px;
	z-index: 9999;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn {
	border: 14px solid #d4ed7b;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn .image {
	float: left;
	padding: 10px;
	position: relative;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn .image span {
	position: absolute;
	top: -34px;
	left: 34px;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn .text_bloc {
	padding: 50px 10px 10px 365px;
	background: url(../img/trialset_campaign/img_item_seiryu.png) no-repeat 96% bottom;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn .text_bloc p.outline {
	background: url(../img/trialset_campaign/text_seiryu.png) no-repeat;
	width: 243px;
	height: 39px;
	text-indent: -9999px;
	margin-bottom: 16px;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn .text_bloc h4 {
	background: url(../img/trialset_campaign/title_seiryu.png) no-repeat;
	width: 268px;
	height: 88px;
	text-indent: -9999px;
	margin-bottom: 10px;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn .text_bloc p.volume {
	margin-bottom: 18px;
}
#trialset_campaignWrap .seiryu_wrap .bloc_inn .text_bloc p.volume span {
	display: inline-block;
	text-align: center;
	padding: 2px 0 0;
	width: 140px;
	font-weight: bold;
	color: #fff;
	background: #afcb4b;
}


#trialset_campaignWrap .kyusu_wrap {
	margin-top: 48px;
}
#trialset_campaignWrap .kyusu_wrap h3 {
	background: url(../img/trialset_campaign/title_bnr_kyusu.jpg) no-repeat right 0;
	height: 356px;
	text-indent: -9999px;
	margin-bottom: 18px;
}
#trialset_campaignWrap .kyusu_wrap .kyusu_content {
	position: relative;
	background: url(../img/trialset_campaign/bg_handmade.jpg) no-repeat;
	height: 339px;
	margin-bottom: 30px;
	padding-top: 145px;
	 -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
#trialset_campaignWrap .kyusu_wrap .kyusu_content h4 {
	background: url(../img/trialset_campaign/title_handmade.png) no-repeat;
	width: 352px;
	height: 66px;
	text-indent: -9999px;
	margin: 0 0 18px 45px;
}
#trialset_campaignWrap .kyusu_wrap .kyusu_content p {
	margin-left: 45px;
}
#trialset_campaignWrap .kyusu_wrap .kyusu_bottom {
	background: url(../img/trialset_campaign/bottom_kyusu.png) no-repeat;
	width: 529px;
	height: 111px;
	text-indent: -9999px;
	margin: 42px auto;
}

#trialset_campaignWrap .voice_wrap {
	margin: 30px 0 40px;
}

#trialset_campaignWrap .howto_wrap {
	background: url(../img/trialset_campaign/bg_howto_wrap.jpg) no-repeat;
}
#trialset_campaignWrap .howto_wrap .howto_title {
	background: url(../img/trialset_campaign/title_howto.png) no-repeat right 70px;
	height: 116px;
	text-indent: -9999px;
	padding-top: 70px;
	margin-bottom: 16px;
}
#trialset_campaignWrap .howto_wrap p.outline {
	text-align: right;
}

#trialset_campaignWrap .howto_wrap ul {
	overflow: hidden;
	margin-top: 60px;
}
#trialset_campaignWrap .howto_wrap ul li {
	float: left;
	margin-left: 25px;
	margin-bottom: 18px;
	width: 347px;
	height: 163px;
	font-size: 12px;
	line-height: 16px;
}

#trialset_campaignWrap .howto_wrap ul li.flow01 {
	background: url(../img/trialset_campaign/bg_howto01.png) no-repeat;
}
#trialset_campaignWrap .howto_wrap ul li.flow02 {
	background: url(../img/trialset_campaign/bg_howto02.png) no-repeat;
}
#trialset_campaignWrap .howto_wrap ul li.flow03 {
	background: url(../img/trialset_campaign/bg_howto03.png) no-repeat;
}
#trialset_campaignWrap .howto_wrap ul li.flow04 {
	background: url(../img/trialset_campaign/bg_howto04.png) no-repeat;
}
#trialset_campaignWrap .howto_wrap ul li.flow01 p ,#trialset_campaignWrap .howto_wrap ul li.flow02 p ,#trialset_campaignWrap .howto_wrap ul li.flow03 p  {
	padding: 32px 25px 0 176px;
}
#trialset_campaignWrap .howto_wrap ul li.flow04 h4 {
	padding: 55px 20px 5px;
	color: #8aad0e;
	font-size: 15px;
}
#trialset_campaignWrap .howto_wrap ul li.flow04 p {
	padding: 0 20px;
}
#trialset_campaignWrap .howto_bottom p {
	background: url(../img/trialset_campaign/bottom_howto.png) no-repeat;
	width: 620px;
	height: 55px;
	margin: 15px auto 55px;
	text-indent: -9999px;
}






