@charset "utf-8";

#cartInArea img {
	max-width: 100%;
	height: auto;
}
#cartInArea h2 {
	font-size: 16px;
	border: none;
	padding-left: 30px;
	margin: 0 auto 15px;
	width: 97%;
	background: url(../img/cart/ico_tit_cart.png) no-repeat 7px center;
	-webkit-background-size: 20px 17px;
	background-size: 20px 17px;
	box-sizing: border-box;
}

#cartInArea .cart_detail ul {
	border-top: 1px solid #ccc;
}
#cartInArea .cart_detail ul li {
	padding: 15px 1.5%;
	border-bottom: 1px solid #ccc;
}
#cartInArea .cart_detail ul li .left {
	float: left;
	width: 95px;
}
#cartInArea .cart_detail ul li .left .btn_remove input[type="button"] {
	width: 80%;
	margin: 15px auto 0;
	display: block;
	text-align: center;
	border: 1px solid #dedede;
	padding: 7px 5px 5px;
	background: #fff;
	-webkit-appearance: none;
}

#cartInArea .cart_detail ul li .right {
	padding-left: 110px;
}
#cartInArea .cart_detail ul li .right p.item_name {
	font-size: 13px;
	font-weight: bold;
}
#cartInArea .cart_detail ul li .right .item_detail {
	margin-top: 20px;
}
#cartInArea .cart_detail ul li .right dl {
	overflow: hidden;
	display: table;
	margin-top: 5px;
	width: 100%;
}
#cartInArea .cart_detail ul li .right dl dt,#cartInArea .cart_detail ul li .right dl dd {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}
#cartInArea .cart_detail ul li .right dl dt {
	width: 38%;
}
#cartInArea .cart_detail ul li .right dl dd select {
	width: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	background: #fff;
}

#cartInArea p.cartDis,#cartInArea  p.cartSum {
	float: right;
	width: 65%;
}
#cartInArea p.cartDis span ,#cartInArea p.cartSum span {
	float: right;
	margin-right: 1.5%;
}
#cartInArea p.cartDis {
	margin-top: 15px;
}
#cartInArea p.cartSum {
	font-weight: bold;
}
#cartInArea p.cartSum span {
	color: #ff1600;
}
#cartInArea .sum_bloc {
	overflow: hidden;
}
#cartInArea p.cartNone {
	clear: both;
	margin: 25px 0 5px;
	color: #fe9900;
	font-weight: bold;
	text-align: right;
}


#cartInArea .btn_wrap input[type="submit"] {
	width: 97%;
	margin: 0 auto;
	display: block;
	background: #8cb302;
	color: #fff;
	border: none;
	padding: 14px 0 12px;
	-webkit-appearance: none;
	font-size: 13px;
	border-radius: 0;
}
#cartInArea .btn_wrap input[type="button"] {
	display: block;
	text-align: center;
	color: #fff;
	background: #939393;
	padding: 7px 0 5px;
	margin: 5px auto;
	width: 97%;
	border: none;
	-webkit-appearance: none;
	font-size: 13px;
	border-radius: 0;
}
