@charset "utf-8";




/* form */
.select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 200px;
	height: 25px;
	z-index: 10000;
	position: absolute;
	top: -1px;
	left: -1px;
}
.selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 120px;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 105px center;
	left: 29%;
	line-height: 2;
}
#catalog_formArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#catalog_formArea p.outline {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#catalog_formArea dl dt {
	
}
#catalog_formArea dl dt {
	font-size: 12px;
	padding: 5px 1.5%;
	background: #ededed;
	font-size: 12px;
}
#catalog_formArea dl dd {
	padding: 12px 1.5% 13px 1.5%;
	overflow: hidden;
}

#catalog_formArea dl span.required {
	padding-left: 10px;
	color: #ff0000;
	font-size: 11px;
}
#catalog_formArea dl dd input[type="text"],#catalog_formArea dl dd input[type="email"],#catalog_formArea dl dd input[type="password"] {
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	border-radius: 3px;
}
#catalog_formArea dd div.name {
	float: left;
	width: 50%;
}
#catalog_formArea dd div.name span {
	min-width: 25px;
	padding-top: 6px;
	float: left;
}
#catalog_formArea div .name {
	min-width: 25px;
	padding-top: 6px;
	display: block;
	float: left;
}
#catalog_formArea .short {
	width: 26%;
}
#catalog_formArea .middle {
	width: 75%;
}
#catalog_formArea .long {
	width: 95%;
}

#catalog_formArea dd div.address {
	margin-bottom: 8px;
}
#catalog_formArea dl dd span,#catalog_formArea dl dd label {
  font-size: 10px;
}


#catalog_formArea dl dd.row_address div {
	overflow: hidden;
	margin-bottom: 8px;
}
#catalog_formArea dl dd.row_address div label {
	display: block;
	float: left;
	width: 28%;
	padding-top: 6px;
}
#catalog_formArea dl dd.row_address div input[type="text"] {
	float: right;
	width: 68%;
}
#catalog_formArea dl dd.row_address div select {
	border: 1px solid #dbdbdb;
	padding: 0 1.5%;
	background: #fff;
	height: 27px;
}
#catalog_formArea dl dd.ask ul {
	overflow: hidden;
}
#catalog_formArea dl dd.ask ul li {
	float: left;
	width: 50%;
	margin-bottom: 5px;
}
#catalog_formArea .btn_wrap {
	margin: 35px 0;
}
#catalog_formArea input[type="submit"] {
	width: 97%;
	margin: 0 auto;
	display: block;
	background: #8cb302;
	color: #fff;
	border: none;
	padding: 14px 0 12px;
	-webkit-appearance: none;
	font-size: 13px;
	border-radius: 3px;
}
#catalog_formArea input[type="reset"],#catalog_formArea input[type="button"] {
	display: block;
	text-align: center;
	color: #fff;
	background: #939393;
	padding: 7px 0 5px;
	margin: 5px auto;
	width: 97%;
	border: none;
	-webkit-appearance: none;
	font-size: 13px;
	border-radius: 3px;
}


/* number */
#catalog_numberArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#catalog_numberArea p#main_topTest {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#catalog_numberArea p#main_topTest span {
	color: #fd0000;
}
#catalog_numberArea dl {
	margin-bottom: 25px;
}
#catalog_numberArea dl dt {
	font-size: 12px;
	padding: 5px 1.5%;
	margin-bottom: 10px;
	background: #ededed;;
}
#catalog_numberArea dl dd {
	margin: 0 1.5%;
	overflow: hidden;
}
#catalog_numberArea dl dd .search_box input[type="search"] {
	width: 70%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	-webkit-appearance: none;
}
#catalog_numberArea dl dd .search_box input[type="button"] {
	width: 28%;
	margin-left: 2%;
	background: #939393;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	border: 0;
	padding: 5px 0 3px;
	-webkit-appearance: none;
}
#catalog_numberArea dl dd table.item {
	width: 100%;
}
#catalog_numberArea dl dd table.item tr th,#catalog_numberArea dl dd table.item tr td {
	vertical-align: middle;
	padding: 7px 0;
	border-top: 1px solid #e5e5e5;
}
#catalog_numberArea dl dd table.item tr th {
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	padding-left: 3%;
	width: 20%;
	
}
#catalog_numberArea dl dd table.item tr td {
	font-size: 12px;
}
#catalog_numberArea dl dd table.item tr td input[type="number"] {
	width: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
}
#catalog_numberArea dl dd table.item tr td.price span {
	text-align: right;
	display: block;
	width: 80px;
}
#catalog_numberArea dl dd table.item tr td select {
	width: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	background: #fff;
}
#catalog_numberArea dl dd table.item tr td.delete input[type="button"] {
	width: 60px;
	border: none;
	background: #e6e6e6;
	border-radius: 3px;
	height: 25px;
	line-height: 25px;
	-webkit-appearance: none;
}


#catalog_numberArea dl dd table.image {
	width: 100%;
}
#catalog_numberArea dl dd table.image tr th,#catalog_numberArea dl dd table.image tr td {
	border: none;
	padding: 7px 0;
	vertical-align: middle;
}
#catalog_numberArea dl dd table.image tr th img {
	width: 107px;
}
#catalog_numberArea dl dd table.image tr td {
	padding-left: 5%;
}

#catalog_numberArea .main_buttons .main_buttons_cart {
	width: 97%;
	margin: 0 auto;
	display: block;
	background: #8cb302;
	color: #fff;
	border: none;
	padding: 14px 0 12px;
	-webkit-appearance: none;
	border-radius: 0;
	border-radius: 3px;
}
#catalog_numberArea .main_buttons .main_buttons_total {
	display: block;
	text-align: center;
	color: #fff;
	background: #939393;
	padding: 7px 0 5px;
	margin: 5px auto;
	width: 97%;
	border: none;
	border-radius: 3px;
	-webkit-appearance: none;
}



/* thanks */
.catalog_thanks {
	padding: 25px 0;
	margin: 0 1.5% 35px;
	text-align: center;
	background: #ecf1d6;
}
.catalog_thanks .sub_tit {
	margin-bottom: 20px;
	color: #789415;
	font-size: 11px;
	display: inline-block;
	position: relative;
}
.catalog_thanks .sub_tit:before {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: 65px;
	top: 8px;
}
.catalog_thanks .sub_tit:after {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: 65px;
	top: 8px;
}
.catalog_thanks h3 {
	margin-bottom: 30px;
	color: #789415;
	font-size: 17px;
	font-weight: normal;
}
.catalog_thanks p {
	margin-bottom: 20px;
	font-size: 12px;
}
.catalog_thanks .btn {
	margin: 0 auto;
	display: inline-block;
	width: 80%;
}
.catalog_thanks .btn a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	background: #8cb202;
}