@charset "utf-8";

img {
	max-width: 100%;
	height: auto;
}



.pager {
	width: 97%;
	margin: 20px auto 32px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-align: center;
	background: #e6e6e8;
}
.pager span.prev.off {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.prev.on a {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.off {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.on a {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}




#categoryTitle {
	margin-top: -15px;
}

#categoryTitle h2 {
	width: 97%;
	margin: 10px auto 5px;
}
#categoryTitle p {
	margin: 10px auto;
	width: 97%;
}

#sortingArea {
	background: #e6e6e8;
	margin: 0 1.5% ;
	padding: 1.5% 2% 1%;
	overflow: hidden;
}
#sortingArea p {
	line-height: 2;
}

#sortingArea>p, #sortingArea>div {
  display: inline-block;
}
.selectBox.hasCustomSelect {
	right: 9px;
}
.selectBox {
  width: 105px;
  height: 20px;
  padding-top: 1px;
  z-index: 1;
  border: 1px solid #c7c7c7;
  background: #fff url('../img/category/sorting_arrow.png') no-repeat 88px 6px;
  text-align: center;
  text-indent: -10px;
  font-size: 13px;
  float: right;
}
.select {
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  display: inline-block;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 109px;
  height: 25px;
  cursor: pointer;
  float: right;
}

#itemArea {
	width: 97%;
	margin: 0 auto;
}
#itemArea ul li a {
	overflow: hidden;
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e8;
}
#itemArea ul li a .image {
	float: left;
	width: 100px;
	
}
#itemArea ul li a .textArea {
	padding-left: 110px;
}
#itemArea ul li a .tag_bloc span {
	display: inline-block;
	font-size: 9px;
	padding-top: 2px;
	width: 60px;
	text-align: center;
}
#itemArea ul li a span.item_number {
	font-size: 10px;
}
#itemArea ul li a dl dt {
	font-size: 12px;
	font-weight: bold;
}
#itemArea ul li a dl dd {
	font-size: 11px;
}


.history_bloc .tag_bloc span.item_tag_muryo,
.history_bloc .tag_bloc span.item_tag_kani,
.history_bloc .tag_bloc span.item_tag_zumi,
.history_bloc .tag_bloc span.item_tag_huka {
	width: 44% !important; 
}





