@charset "utf-8";

/*---------------------------
	reset
----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset input[type="search"] */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
input[type="search"]:focus {
  outline-offset: -2px;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}





/*---------------------------
	基本設定
----------------------------*/
body {
	*font-size: small;
	*font: x-small;
	font: normal normal normal 12px/1.6 'ＭＳ Ｐゴシック', 'Lucida Grande', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'HG丸ゴシックM-PRO', sans-serif;
	font-family: 'メイリオ', 'Meiryo','ＭＳ Ｐゴシック', 'Lucida Grande', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3','HG丸ゴシックM-PRO', sans-serif;
	position: relative;
	background-color: #ffffff;
	color: #3c3c3c;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	font-family: 'メイリオ', 'Meiryo','ＭＳ Ｐゴシック', 'Lucida Grande', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3','HG丸ゴシックM-PRO', sans-serif !important;
}

h2 {
	font-size: 14px;
	border-bottom: 1px solid #d9d9d9;
}

a {
	color: #3c3c3c;
	text-decoration: none;
}

img {
	vertical-align: bottom;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

/* html5 */
header,footer,aside,main,nav,section,article {
	display: block;
	position: relative;
}










/* --------------- */
/* header */
/* --------------- */
/* headerA */
header #headerA {
	position: relative;
	height: 49px;
	border-bottom: 1px solid #b2b2b2;
}
header #headerA h1 a {
	display: block;
	width: 93px;
	height: 32px;
	position: absolute;
	left: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../img/common/header_logo.png) no-repeat left top;
	background-size: 93px 32px;	
	text-indent: -9999px;
}
header #headerA p {
	position: absolute;
	left: 116px;
	top: 11px;
	color: #7f7f7f;
	font-size: 11px;
	line-height: 14px;
}
header #headerA button {
	display: block;
	width: 24px;
	height: 19px;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../img/common/header_menu.png) no-repeat left 2px;
	background-size: 24px 16px;
	border: none;
	text-indent: -9999px;
}
header #headerA button.open {
	background: url(../img/common/header_menu_close.png) no-repeat right top;
	background-size: 19px;
}
/* MENU */
header #headerA > div {
	display: none;
	z-index: 1000;
	background-color: #fff;
	border: 1px solid #ccc;
	border-right: none;
	opacity: 1;
	width: 81%;
	padding: 1% 3.5%;
	position: absolute;
	top: 49px;
	right: 0;
	font-size: 15px;
}
header #headerA > div li {
	position: relative;
}
header #headerA > div li a {
	display: block;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	text-indent: 23px;
	padding: 2% 0;
}
header #headerA > div li a:before {
	content: '';
	display: block;
	position: absolute;
	left: 8px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
li#menu_mypage span {
	padding: 2% 0;
	text-indent: 23px;
}
li#menu_mypage span:before {
	content: '';
	display: block;
	position: absolute;
	left: 8px;
	top: 13px;
	width: 6px;
	height: 6px;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
li#menu_mypage span {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}
li#menu_mypage li a {
	text-indent: 37px !important;
}
li#menu_mypage li a:before {
	display: none !important;
}
li#menu_mypage li a:after {
	display: inline-block;
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	left: 27px;
	top: 0;
	bottom: 0;
	margin: auto;
	border-left: 4px solid #9E9E9E;
	border-bottom: transparent 4px solid;
	border-top: transparent 4px solid;
}
li#menu_column a {
	padding: 11% 0 !important;
}
ul#menu_bottom {
	padding: 9% 0;
}
ul#menu_bottom li a {
	border: none !important;
}


/* headerB */
header #headerB {
	position: relative;
	height: 54px;
	border-bottom: 1px solid #b2b2b2;
}
header #headerB ul {
	display: table;
	width: 100%;
	height: 100%;
}
header #headerB li {
	height: 100%;
	display: table-cell;
}
header #headerB li a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 33px;
	text-align: center;
	color: #7f7f7f;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
}
li#headerB_a {
	width: 35%
}
li#headerB_b {
	width: 30%;
}
li#headerB_c {
	width: 45%;
}
li#headerB_a a {
	background: url(../img/common/header_login.png) no-repeat center 9px;
	background-size: 15px 19px;
}
li#headerB_b a {
	background: url(../img/common/header_cart.png) no-repeat center 8px;
	background-size: 20px 22px;
}
li#headerB_c a {
	background: url(../img/common/header_mailmagazine.png) no-repeat center 14px;
	background-size: 20px 12.5px;
	text-indent: -2px;
}

/* headerC ポイント数表示 */

header #headerC {
	color: #7f7f7f;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
}

#headerC div.spspoint{
	background-color:#edf1d8;
	padding:0.8em 0; 
	display: -webkit-box;  
    display: -moz-box; 
}

#headerC div.spspoint p.hoyuu{
	width:67%;
	text-align:left;
	padding-left:3%;
	-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
}
#headerC div.spspoint p.spmypoint{
	width:27%;
	text-align:right;
	padding-right:3%;
	-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
}

header .header_point {
	position: absolute;
	top: 5px;
	right: 50px;
	width: 70px;
	border: 1px solid #a3d041;
	border-radius: 4px;
	text-align: center;
}
header .header_point span {
	font-size: 9px;
	color: #a3d041;
	line-height: 1;
	font-weight: bold;
}
header .header_point span.point {
	font-size: 15px;
}

/* --------------- */
/* carousel */
/* --------------- */
section#carousel {
	margin-bottom: 25px;
}
section#carousel ul {
	position: relative;
	width: 100%;
}
section#carousel ul li img {
	width: 100%;
}
/* ----- flexオリジナル設定 ----- */
/* pager */
section#carousel .flex-control-nav {
	display: none;
}
/* next/prev */
section#carousel .flex-direction-nav {
	position: absolute;
	top: 45%;
}
section#carousel .flex-nav-prev a,
section#carousel .flex-nav-next a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	text-indent: -9999px;
}
section#carousel .flex-nav-prev a {
	left: 2%;
	background: url('../img/common/slider_prev_white.png') no-repeat left top;
	background-size: 20px 20px;
}
section#carousel .flex-nav-next a {
	right: 2%;
	background: url('../img/common/slider_next_white.png') no-repeat left top;
	background-size: 20px 20px;
}


/* --------------- */
/* main */
/* --------------- */
/* ----- 重要なお知らせ -----*/
section#main_infomation {
	margin-bottom: 5px;
}
section#main_infomation h2 {
	width: 97%;
	margin: 4px auto 3px;
	color: #cf1818;
	font-size: 10px;
	border: none;
}
section#main_infomation ul {
	width: 97%;
	margin: 0 auto 9px;
	padding: 2px 0px;
	border-top: 1px solid #cf1818;
	border-bottom: 1px solid #cf1818;
}
section#main_infomation li:first-child {
	border: none !important;
}
section#main_infomation li {
	border-top: 1px solid #cccccc;
	padding: 5px 0px;
}
section#main_infomation dl {
	font-size: 10px;
	line-height: 14px;
}
section#main_infomation dt {
	display: block;
}

/* ----- 季節のおすすめ ----- */
section#main_season {
	margin-bottom: 20px;
}
section#main_season h2 {
	width: 97%;
	margin: 0 auto 9px;
}
section#main_season ul {
	position: relative;
	width: 310px;
	height: 100px;
	margin: 0px auto;
}
section#main_season ul li {
	display: inline-block;
	width: 50%;
}
section#main_season ul a {
	display: block;
	width: 152px;
	height: 100px;
	text-indent: -9999px;
	position: absolute;
	top: 0;
}
section#main_season #main_season01 a {
	left: 0;
	background: url(../img/index/main_season01.jpg) no-repeat left top;
	background-size: 152px 100px;
}
section#main_season #main_season02 a {
	right: 0;
	background: url(../img/index/main_season02.jpg) no-repeat left top;
	background-size: 152px 100px;
}

/* ----- 日本茶 ランキング・おすすめ商品 ----- */
section#main_ranking {
	margin-bottom: 26px;
}
section#main_ranking h2 {
	width: 97%;
	margin: 0 auto 9px;
}
section#main_ranking .flexslider {
	width: 97%;
	margin: 0 auto;
	position: relative;
}
section#main_ranking .flexslider ul.slides {
	padding-top: 10px;
}
section#main_ranking .flexslider li {
	text-align: center;
}
section#main_ranking .flexslider li dl {
	margin-left: 4px;
}
section#main_ranking .flexslider li dl:first-child {
	margin-left: 0px;
}
section#main_ranking .flexslider dl {
	vertical-align: top;
	display: inline-block;
	width: 30%;
	text-align: left;
}
section#main_ranking .flexslider dl dt {
	position: relative;
}
section#main_ranking .flexslider dl dt img {
	width: 100%;
	margin-bottom: 5px;
}
section#main_ranking .flexslider dl dt span {
	position: absolute;
	left: -6px;
	top: -10px;
	display: inline-block;
	width: 37px;
	height: 29px;
	text-indent: -9999px;
}
#main_ranking_no1 dt span {
	background: url('../img/index/main_ranking_no1.png') no-repeat left top;
	background-size: 37px 29px;
}
#main_ranking_no2 dt span {
	background: url('../img/index/main_ranking_no2.png') no-repeat left top;
	background-size: 37px 29px;
}
#main_ranking_no3 dt span {
	background: url('../img/index/main_ranking_no3.png') no-repeat left top;
	background-size: 37px 29px;
}
section#main_ranking .flexslider dl dd p {
	font-size: 10px;
	line-height: 12px;
}
section#main_ranking .flexslider dl dd h3 {
	font-size: 12px;
	line-height: 16px;
}
/* ----- flexオリジナル設定 ----- */
/* pager */
section#main_ranking .flex-control-nav {
	display: none;
}
/* next/prev */
section#main_ranking .flex-nav-prev a,
section#main_ranking .flex-nav-next a {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 30%;
	text-indent: -9999px;
}
section#main_ranking .flex-nav-prev a {
	left: 0;
	background: url('../img/common/slider_prev_black.png') no-repeat left top;
	background-size: 20px 20px;
}
section#main_ranking .flex-nav-next a {
	right: 0;
	background: url('../img/common/slider_next_black.png') no-repeat left top;
	background-size: 20px 20px;
}



/* ----- 日本茶コンテンツ ----- */
/* category */
.category_rensai,
.category_interview,
.category_column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	background-color: #fff !important;
	border-radius: 3px;
	position: absolute;
	height: 21px;
	font-size: 12px;
}
.category_rensai {
	left: 10px;
	top: 10px;
	border: 1px solid #6b7b3c;
	background: url(../img/common/icon_kyusu.png) no-repeat 3px center;
	background-size: 23px 15px;
	width: 155px;
	padding-left: 30px;
}
.category_interview {
	left: 10px;
	top: 10px;
	border: 1px solid #df8233;
	background: url(../img/common/icon_mic.png) no-repeat 4px center;
	background-size: 15px 15px;
	width: 105px;
	padding-left: 25px;
}
.category_column {
	left: 4%;
	top: 6%;
	border: 1px solid #6b7b3c;
	background: url(../img/common/icon_yunomi.png) no-repeat 4px 2px;
	background-size: 14px 14px;
	width: 90px;
	padding-left: 24px;
}
/* section */
section#main_nihoncha {
	margin-bottom: 24px;
}
section#main_nihoncha h2 {
	width: 97%;
	margin: 0 auto;	
}
section#main_nihoncha > div {
	width: 100%;
	padding: 12px 0px 18px;
	background-color: #f8eff2;
	background: url('../img/index/contents_bg.png') repeat left top;
}
/* 連載 */
dl.main_nihoncha_rensai {
	display: table;
	width: 97%;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 15px;
}
dl.main_nihoncha_rensai dt {
	position: relative;
}
dl.main_nihoncha_rensai dt img {
	width: 100%;
}
dl.main_nihoncha_rensai dd {
	padding: 3%;
}
dl.main_nihoncha_rensai dd p {
	font-size: 10px;
	line-height: 17px;
}
dl.main_nihoncha_rensai dd p span:first-child {
	display: inline-block;
	width: 72px;
}
dl.main_nihoncha_rensai dd h3 {
	display: inline-block;
	font-size: 13px;
	line-height: 17px;
}
dl.main_nihoncha_rensai dd h3 div {
	display: inline-block;
	color: #ff4716;
}

/* お茶コラム */
dl.main_nihoncha_mini {
	display: table;
	width: 97%;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 15px;
}
dl.main_nihoncha_mini dt {
	float: left;
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
dl.main_nihoncha_mini dt img {
	width: 100%;
}
dl.main_nihoncha_mini dd {
	float: left;
	display: inline-block;
	width: 55%;
	vertical-align: top;
	position: relative;
}
dl.main_nihoncha_mini dd > span {
	font-size: 10px;
	position: absolute;
	right: 6px;
	top: 7px;
}
dl.main_nihoncha_mini dd h3 {
	margin-top: 20%;
	margin-left: 4%;
	font-size: 13px;
	line-height: 17px;
}
dl.main_nihoncha_mini dd h3 span {
	font-size: 13px;
	color: #ff4716;
}

/* コラムをもっと読む */
#main_nihoncha_more {
	clear: both;
}
#main_nihoncha_more a {
	display: block;
	width: 97%;
	height: 28px;
	padding-top: 7px;
	background-color: #6a6866;
	text-align: center;
	color: #fff;
	font-size: 12px;
	margin: 0px auto;
}

/* ----- 佐藤園おすすめのお茶 ----- */
section#main_osusume_cha {
	margin-bottom: 40px;
}
section#main_osusume_cha h2 {
	width: 97%;
	margin: 0 auto 13px;
}
section#main_osusume_cha ul {
	text-align: center;
}
section#main_osusume_cha li {
	display: inline-block;
	vertical-align: top;
	width: 31%;
}
section#main_osusume_cha li a {
	display: block;
	width: 100%;
	text-align: left;
}
section#main_osusume_cha li a img {
	width: 100%;
	/*height: 100%;*/
}
section#main_osusume_cha li a div {
	font-size: 10px;
	line-height: 12px;
	margin-top: 7px;
}
section#main_osusume_cha li a h3 {
	font-size: 12px;
	line-height: 16px;
}
section#main_osusume_cha li a span {
	display: block;
	font-size: 10px;
	line-height: 13px;
}

section#main_osusume_cha .tag_bloc {
	height: 19px;
	margin: 7px 0 0;
}
section#main_osusume_cha .tag_bloc span {
	display: inline-block !important;
	font-size: 9px;
	padding: 3px 0 2px;
	width: 48%;
	text-align: center;
}

span.blank {
	border: 1px solid #d6d6d6;
}
span.item_tag_yoyaku {
	background-color: #c7edd6;
}
span.item_tag_kisetsu {
	background-color: #f7df97;
}
span.item_tag_new {
	background-color: #daeb6a;
}
span.item_tag_kanbai {
	background-color: #ea244e;
	color: #fff;
}
span.item_tag_suryo {
	background-color: #efbfca;
}
span.item_tag_teiki {
	background-color: #ecc6a5;
}
span.item_tag_chilled {
	background-color: #cbe7ed;
}
span.item_tag_cool {
	background-color: #bbd3e6;
}
span.item_tag_muryo {
	border: 2px solid #ea244e;
	width: 56px !important;
	height: 10px !important;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 12px !important;
}
span.item_tag_sample {
	background-color: #e4d4ed;
}
span.item_tag_machi {
	background-color: #ded9cb;
}
span.item_tag_okaidoku {
	background-color: #fac8d3;
}
span.item_tag_newsale {
	background-color: #f58830;
	color: #fff;
}
span.item_tag_kani,
span.item_tag_zumi,
span.item_tag_huka {
	border: 2px solid #ff8560;
	width: 56px !important;
	height: 10px !important;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 12px !important;
}
span.item_tag_osusume {
	background-color: #fac8d3;
}






/* --------------- */
/* aside */
/* --------------- */
/* ----- 商品一覧（アコーディオン） ----- */
section#aside_list {
	position: relative;
	width: 97%;
	margin: 0 auto 30px;
}
section#aside_list h2 {
	margin-bottom: 7px;
	border: none;
}
/* accordion */
section#aside_list #accordion {
	width: 100%;
 	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* 親要素 */
section#aside_list #accordion dt {
	display: block;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	padding: 9px 0px 9px 57px;
	background-color: #f2f6db;
	color: #597b2a;
	margin-bottom: 2px;
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);   /* タップ時のエフェクトなし */
  tap-highlight-color: rgba(0, 0, 0, 0);
}
section#aside_list #accordion dt:after {
	content: '';
	display: block;
	position: absolute;
	right: 13px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border-right: 2px solid #6a8c29;
	border-bottom: 2px solid #6a8c29;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

section#aside_list dt#aside_ac10 {
	margin-bottom: 0px;
}
section#aside_list #dd_br {
	display: block !important;
	height: 13px !important;
	background-color: #fff;
	width: 100.5%;
	position: relative;
	left: -2px;
}
section#aside_list #accordion dt.open:after {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}


/* 子要素 */
section#aside_list #accordion dd {
	display: none;
}
section#aside_list #accordion dd li {
	font-size: 13px;
	line-height: 35px;
	text-indent: 18px;
	border-bottom: 1px solid #edebdf;
}
section#aside_list #accordion dd li a {
	position: relative;
	display: block;
	width: 100%;
}
section#aside_list #accordion dd li a:after {
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* リンク */
section#aside_list #aside_list_link {
	margin-top: 7px;
}
section#aside_list #aside_list_link dt a {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	padding: 9px 0px 9px 57px;
	background-color: #f2f6db;
	margin-bottom: 2px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);   /* タップ時のエフェクトなし */
  tap-highlight-color: rgba(0, 0, 0, 0);
}
section#aside_list #aside_list_link dt a:after {
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border-right: 2px solid #6a8c29;
	border-bottom: 2px solid #6a8c29;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#aside_ac08 a {
	background: url('../img/common/accordion08.png') no-repeat 15px center;
	background-size: 30px;
}
#aside_ac09 a {
	background: url('../img/common/accordion09.png') no-repeat 15px center;
	background-size: 30px;
}
#aside_ac10 a {
	background: url('../img/common/accordion10.png') no-repeat 15px center;
	background-size: 30px;
}
/* 孫要素 */
section#aside_list #accordion dd ul ul {
	display: none;
}
section#aside_list #accordion dd ul span {
	display: block;
}

section#aside_list #accordion dd ul ul li {
	text-indent: 36px;
	border-top: 1px solid #edebdf;
	border-bottom: none !important;
}
section#aside_list #accordion dd ul ul a:after {
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



/* ----- aside バナー（3） ----- */
section#aside_banner {
	position: relative;
	width: 97%;
	margin: 0 auto;
}
/* 2 */
section#aside_banner ul {
	position: relative;
	width: 310px;
	height: 65px;
	margin: 0px auto 28px;
}
section#aside_banner ul li {
	display: inline-block;
	width: 50%;
}
section#aside_banner ul a {
	display: block;
	width: 153px;
	height: 65px;
	text-indent: -9999px;
	position: absolute;
	top: 0;
}
section#aside_banner li#aside_banner01 a {
	left: 0;
	background: url(../img/common/aside_banner01.jpg) no-repeat left top;
	background-size: 153px 65px;
}
section#aside_banner li#aside_banner02 a {
	right: 0;
	background: url(../img/common/aside_banner02.jpg) no-repeat left top;
	background-size: 153px 65px;
}

/* ----- 最新ニュース ----- */
section#aside_news {
	position: relative;
	width: 97%;
	margin: 0 auto;
}
section#aside_news h2 {
	margin-bottom: 5px;
}
section#aside_news li {
	font-size: 12px;
	line-height: 23px;
}
section#aside_news li a {
	display: block;
	width: 100%;
}
section#aside_news li span {
	display: inline-block;
	width: 28%;
}
section#aside_news > p {
	text-align: right;
	font-size: 13px;
	margin: 1px 0px 24px;
}
section#aside_news > p a {
	text-decoration: underline;
	padding-left: 7px;
	background: url(../img/common/arrow_black.png) no-repeat left center;
	background-size: 5px 9px;
}

/* ----- その他 ----- */
/* はじめての方へ/メルマガ登録 */
section#aside_other ul {
	position: relative;
	display: block;
	width: 97%;
	height: 40px;
	margin: 0 auto;
}
section#aside_other ul li {
	display: inline-block;
	background-color: #fcc;
	width: 50%;
	margin: 0;
}
section#aside_other ul a {
	display: block;
	width: 49.4%;
	height: 30px;
	padding-top: 10px;
	color: #fff;
	font-size: 12px;
	text-indent: 15px;
	text-align: center;
	position: absolute;
	top: 0;
}
section#aside_other ul #ao1 a {
	left: 0;
	background: url(../img/common/aside_other_beginner.png) no-repeat 16% center;
	background-size: 12px 15px;
	background-color: #8c989b;
}
section#aside_other ul #ao2 a {
	right: 0;
	background: url(../img/common/aside_other_mailmagazine.png) no-repeat 18% center;
	background-size: 15px 10px;
	background-color: #8c989b;
}
/* バナー（2） */
section#aside_other #ao_b a {
	display: block;
	width: 310px;
	height: 80px;
	margin: 0 auto;
	text-indent: -9999px;
	margin-top: 10px;
}
section#aside_other #ao_b {
	background: url(../img/common/aside_other_b.jpg) no-repeat center top;
	background-size: 310px 80px;
}



/* ---------- 
	パンくずリスト 
---------- */
ul#pankuzulist {
	margin: 0 0 15px;
	padding: 8px 1.5%;
	border-bottom: 1px solid #b2b2b2;
}
ul#pankuzulist li {
	display: inline-block;
	font-size: 9px;
}
ul#pankuzulist li a {
	margin-right: 4px;
}






/* --------------- */
/* footer */
/* --------------- */
/* ページトップへ */
footer #footer_toTop a {
	display: block;
	width: 97%;
	height: 27px;
	padding-top: 8px;
	margin: 0px auto;
	background-image: url(../img/common/footer_toTop.png);
	background-repeat: no-repeat;
	background-position: 33% center;
	background-size: 13px 7px;
	background-color: #6a6866;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 17px;
}
/* 6リンク */
footer > div {
	border-top: 1px solid #e0e0e0;
	margin-bottom: 14px;
}
footer div div {
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #e0e0e0;
}
footer div div a {
	position: relative;
	float: left;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	height: 35px;
	padding-top: 12px;
	padding-left: 7px;
	vertical-align: middle;
	color: #6a6866;
	font-size: 11px;
	line-height: 11px;
	background: url(../img/common/footer_div.png) no-repeat 97% 11px;
	background-size: 6px 12px;
}
footer div div a:first-child {
	border-right: 1px solid #e0e0e0;
}
/* PC版で見る */
footer #footer_pc {
	clear: both;
}
footer #footer_pc a {
	display: block;
	width: 97%;
	height: 27px;
	padding-top: 8px;
	margin: 0px auto;
	background-image: url(../img/common/footer_pc.png);
	background-repeat: no-repeat;
	background-position: 34% center;
	background-size: 16px 13px;
	background-color: #e0e0e0;
	color: #6a6866;
	font-size: 12px;
	text-align: center;
	margin-bottom: 22px;
}
/* copyright */
footer #footer_copy {
	color: #6a6866;
	font-size: 11px;
	line-height: 11px;
	text-align: center;
	margin-bottom: 22px;
}










