@charset "utf-8";


.pager {
	width: 97%;
	margin: 20px auto 32px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-align: center;
	background: #e6e6e8;
}
.pager span.prev.off {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.prev.on a {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.off {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.on a {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}


/* contnts Index */
#contentsTitle h2 {
	margin-bottom: 15px;
}
#contentsTitle h2 img {
	max-width: 100%;
	height: auto;
}

ul#columnList {
	border-top: 1px solid #e5e5e5;
}
ul#columnList li {
	width: 97%;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
ul#columnList li .ImageArea {
	float: left;
	width: 42%;
}
ul#columnList li .ImageArea img {
	max-width: 100%;
	height: auto;
}
ul#columnList li .textArea {
	padding-left: 42%;
}
ul#columnList li .textArea .tagArea {
	overflow: hidden;
}
ul#columnList li .textArea .tagArea p.tag {
	float: left;
}
ul#columnList li .textArea .tagArea p.tag span {
	padding: 4px 6px 3px;
	background: #f499b7;
	text-align: center;
	color: #fff;
	display: block;
	font-size: 10px;
}
ul#columnList li .textArea .tagArea p.tag span.tag_interview {
	background: #ff7155;
}
ul#columnList li .textArea .tagArea p.tag span.tag_satoen {
	background: #6a8c29;
}
ul#columnList li .textArea .tagArea p.date {
	float: left;
	margin: 4px 0 0 3%;
	font-size: 10px;
}
ul#columnList li .textArea h3 {
	padding-left: 3%;
	font-size: 13px;
}
ul#columnList li .textArea h3 span {
	color: #f58830;
}
ul#columnList li .textArea p.lead {
	padding-left: 3%;
	font-size: 10px;
}

#newsIndexArea p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#newsIndexArea #newsList li {
	overflow: hidden;
}
#newsIndexArea #newsList li a {
	display: block;
}
#newsIndexArea #newsList .nl_date {
	font-size: 12px;
	padding: 5px 1.5%;
	margin-bottom: 10px;
	background: #ededed;
}
#newsList .nl_oshirase,#newsList .nl_juyou {
	float: left;
	text-align: center;
	margin: 0 3% 0 1.5%;
}
#newsList .nl_oshirase span ,#newsList .nl_juyou span {
	display: inline-block;
	width: 50px;
	height: 18px;
	padding-top: 3px;
	color: #fff;
	background-color: #d12626;
	font-size: 9px;
}
#newsList .nl_oshirase span {
	background-color: #b3bbbc;
}
#newsList .nl_text {
  padding: 2px 0 9px;
}



/* contentsDetail */
#contents_main {
	width: 97%;
	margin: 0 auto;
}

#contents_main #header {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #b2b2b2;
}
#contents_main #header #tag_date {
	overflow: hidden;
	margin-bottom: 10px;
}
#contents_main #header #tag_date #tag  {
	float: left;
	padding: 4px 6px 3px;
	background: #f499b7;
	text-align: center;
	color: #fff;
	display: block;
	font-size: 10px;
}
#contents_main #header #tag_date #tag.tag_interview {
	background: #ff7155;
}
#contents_main #header #tag_date #tag.tag_satoen {
	background: #6a8c29;
}
#contents_main #header #tag_date #date {
	float: right;
	margin-top: 4px;
}
#contents_main #header h2 {
	border: none;
}
#contents_main #header h2 span {
	color: #f58830;
}
#contents_main figure {
	width: 100%;
	margin: 10px 0;
}
#contents_main figure img {
	max-width: 100%;
	height: auto;
}
#contents_main figure figcaption {
	text-align: right;
	font-size: 9px;
}
#contents_main #header p#lead {
	font-size: 11px;
}

#contents_main #honbun p {
	margin-bottom: 15px;
	font-size: 10px;
}
#contents_main #honbun h3 {
	font-size: 12px;
	margin-bottom: 10px;
}


section#footer div#author {
	padding-top: 10px;
	border-top: 1px solid #b2b2b2;
}
div#author dl {
	overflow: hidden;
}

div#author dt {
	float: left;
	width: 25%;
}
div#author dl img {
	max-width: 100%;
	height: auto;
}
div#author dd {
	padding-left: 28%;
	font-size: 9px;
}
div#author dd span {
	display: block;
	font-weight: bold;
}
/* SNS */
section#share {
	width: 90%;
	margin: 15px auto;
}
section#share img {
	max-width: 100%;
	height: auto;
}
/* articleNav */
p#articleNav {
	width: 97%;
	margin: 0 auto 45px;
	overflow: hidden;
}
p#articleNav a {
	display: block;
	float: left;
	width: 32.3%;
	background-color: #e6e6e8;
	text-align: center;
	padding: 10px 0 8px;
}
p#articleNav > *:first-child + * {
	margin: 0 1.5%;
}
p#articleNav a#pager_left {
	background-image: url(../img/common/ico_arrow_prev.png) ;
	background-repeat: no-repeat;
	background-position: 4.5% center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
p#articleNav a#pager_right {
	background-image: url(../img/common/ico_arrow_next.png) ;
	background-repeat: no-repeat;
	background-position: 95.5% center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}

.newestPost h3 {
	font-size: 13px;
	width: 97%;
	margin: 0 auto 5px;
}
