@charset "utf-8";

#free_shippingArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#free_shippingArea p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#free_shippingArea h3.bdb {
	width: 97%;
	margin: 15px auto 5px;
	font-size: 14px;
	border-bottom: 1px solid #d9d9d9;
}
#free_shippingArea h4 {
	font-weight: bold;
	width: 97%;
	margin: 0 auto 15px;
}
#free_shippingArea .image {
	width: 97%;
	margin: 0 auto 15px;
}
#free_shippingArea .image img {
	max-width: 100%;
	height: auto;
}