@charset "utf-8";

#giftArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#giftArea p.attention {
	color: #f30000;
	width: 97%;
	margin: 0 auto 25px;
}
#giftArea .gift_bloc {
	width: 97%;
	margin: 0 auto 25px;
}
#giftArea p {
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}
#giftArea .gift_bloc h3 {
	margin: 0 auto 15px;
	height: 50px;
	line-height: 18px;
	font-size: 14px;
	font-weight: normal;
	background-color: #ecf1d6;
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: 60px 50px;
	background-size: 60px 50px;
}
#giftArea .gift_bloc h3 span {
	padding: 3px 2% 0 70px;
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#giftArea .gift_bloc h3.point01 {
	background-image: url(../img/common/ico_point01.png);
}
#giftArea .gift_bloc h3.point02 {
	background-image: url(../img/common/ico_point02.png);
}
#giftArea .gift_bloc h3.point03 {
	background-image: url(../img/common/ico_point03.png);
}
#giftArea .gift_bloc h4 {
	margin-top: 15px;
}
#giftArea .gift_bloc ol {
	position: relative;
	margin:0;
	padding:0;
}
#giftArea .gift_bloc ol li  {
    list-style: none;
    list-style-position:outside;
    margin:0;
    padding-left:1.25em;
}
#giftArea .gift_bloc ol li span {
    position: absolute;
    left:0;
    margin:0;
}
#giftArea .gift_bloc .image {
	margin-top: 15px;
}
#giftArea .gift_bloc .image img {
	max-width: 100%;
	height: auto;
}
