@charset "utf-8";

.guideWrap h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}

/* マイページメニュー */
#aside_guide {
	margin-top: -15px;
	margin-bottom: 15px;
}
#aside_guide ul {
	overflow: hidden;
}
#aside_guide ul li {
	height: 30px;
	float: left;
	width: 33.33%;
	background: #ecf1d6;
	border-bottom: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#aside_guide ul li.bd {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
#aside_guide ul li:nth-child(n+4) {
	border-bottom: 0;
}
#aside_guide ul li a {
	font-size: 11px;
	padding: 7px 0 6px;
	text-align: center;
	display: block;
	color: #262626;
}
#aside_guide ul li.active {
	background: #d3e189;
}
#aside_guide ul li a span {
	letter-spacing: -3px;
}




/* ----------
	guide_indexArea
---------- */
#guide_indexArea h3.bdb {
	font-size: 14px;
	margin: 0 auto 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b2b2b2;
	width: 97%;
}
#guide_indexArea p.outline {
	width: 97%;
	margin: 0 auto 10px;
}
/* for_beginner */
.for_beginner {
	margin-bottom: 45px;
}
.for_beginner .cnt_bloc {
	border: 5px solid #f2f6db;
	margin-bottom: 15px;
}
.for_beginner .cnt_bloc .inner {
	background: #fff;
	padding: 12px;
	border: 1px solid #e5e5e5;
}
.for_beginner .cnt_bloc h3 {
	font-size: 14px;
	margin: 0 auto 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
.for_beginner .cnt_bloc h4 {
	margin-bottom: 15px;
	font-size: 12px;
	font-weight: normal;
}
.for_beginner .cnt_bloc .btn {
	margin: 20px auto 10px;
	width: 100%;
}
.for_beginner .cnt_bloc .btn a {
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	display: block;
	font-size: 14px;
	background: #8cb202;
	text-align: center;
	border-radius: 4px;
}


/* present */
.present .inner {
	background: #ffe6ee url('../img/guide/bg_present.png') no-repeat right top;
	-webkit-background-size: 118px 135px;
	background-size: 118px 135px;
	padding: 0 3% 3%;
}
.present .inner h4 {
	font-size: 12px;
	line-height: 20px;
	color: #e1396f;
	padding: 30px 0 0 0;
	margin-bottom: 20px;
	font-weight: bold;
}
.present .inner h4 span {
	font-size: 9px;
}
.present .inner p {
	padding-left: 12px;
	margin-bottom: 0;
	font-size: 9px;
	position: relative;
}
.present .inner p:before {
	content: "※";
	position: absolute;
	top: 0;
	left: 0;
}

/* ----------
	guide_memberArea
---------- */
#guide_memberArea .cnt_member {
	width: 97%;
	margin: 0 auto 25px;
}
#guide_memberArea .cnt_member h3.bdb {
	font-size: 14px;
	margin: 0 auto 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
}
#guide_memberArea .cnt_member h4 {
	font-size: 14px;
	margin-bottom: 5px;
}
#guide_memberArea .cnt_member h4.gr {
	color: #a0b52d;
}
#guide_memberArea .cnt_member .inner {
	margin-top:15px;
}
#guide_memberArea .cnt_member p.outline {
	margin-bottom: 15px;
}
#guide_memberArea .cnt_member.bloc02 a {
	color: #607b00;
	text-decoration: underline;
}
#guide_memberArea .cnt_member .inner .image {
	float: right;
	padding-left: 3%;
}
#guide_memberArea .cnt_member.bloc03 .btn a {
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	display: block;
	font-size: 14px;
	background: #8cb202;
	text-align: center;
	border-radius: 4px;
}
#guide_memberArea .cnt_member .inner span.attention {
	color: #ff0000;
}
#guide_memberArea .cnt_member.bloc04 p {
	margin-bottom: 10px;
}



/* ----------
	guide_guidanceArea
---------- */
#nav_guidance {
	padding: 15px 0 10px;
	margin-top: -15px;
	margin-bottom: 15px;
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
}
#nav_guidance ul {
	overflow: hidden;
	width: 100%;
}
#nav_guidance ul li {
	float: left;
	margin-bottom: 7px;
	width: 47%;
	padding-left: 3%;
}
#nav_guidance ul li a {
	display: block;
	padding: 0 0 0 15px;
	font-size: 10px;
	background: url(../img/guide/ico_nav_guidance.png) no-repeat 0 center;
	-webkit-background-size: 10px 6px;
	background-size: 10px 6px;
	text-decoration: underline;
}

#guide_guidanceArea img {
	max-width: 100%;
	height: auto;
}
#guide_guidanceArea .cnt_guidance {
	margin: 0 auto 30px;
	width: 97%;
}
#guide_guidanceArea .cnt_guidance h3 {
	font-size: 14px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
	margin: 0 auto 10px;
}
#guide_guidanceArea h4.gr {
	font-size: 12px;
	margin-bottom: 5px;
	color: #a0b52d;
}

#guide_guidanceArea .cnt_guidance .inner {
	margin-top: 0;
	padding-top: 15px;
	border-top: 1px dotted #b2b2b2;
	overflow: hidden;
}
#guide_guidanceArea .cnt_guidance .inner.bdn {
	border: none;
	padding-top: 0;
}
#guide_guidanceArea .cnt_guidance .inner p {
	margin-bottom: 15px;
}

#guide_guidanceArea .cnt_guidance span.attention {
	color: #ff0000;
}
#guide_guidanceArea .cnt_guidance span.attention a {
	color: #607b00;
	text-decoration: underline;
}

#guide_guidanceArea #bloc01 {
	width: 100%;
}
#guide_guidanceArea #bloc01 h3 {
	width: 97%;
}



#guide_guidanceArea #bloc02 h4 {
	margin-top: 18px;
	font-size: 12px;
}

#guide_guidanceArea #bloc03 span {
	float: left;
}
#guide_guidanceArea #bloc03 h4.gr {
	padding-left: 90px;
	text-align: left;
	line-height: 2.1;
}

#guide_guidanceArea #bloc04 {
	margin-bottom: 15px;
}
#guide_guidanceArea #bloc04 p.outline {
	margin-bottom: 15px;
}

#guide_guidanceArea #bloc05 .image01 {
	padding-bottom: 15px;
	text-align: center;
}
#guide_guidanceArea #bloc05 .image02 {
	float: right;
	padding-left: 3%;
}
#guide_guidanceArea #bloc05 .image03 {
	text-align: center;
}

#guide_guidanceArea #bloc06 .image {
	text-align: center;
}

#guide_guidanceArea #bloc07 {
	margin-bottom: 15px;
}

#guide_guidanceArea #bloc08 {
	margin-bottom: 15px;
}
#guide_guidanceArea #bloc08 p.outline {
	margin-bottom: 15px;
}



/* tag */
#guide_guidanceArea .cnt_guidance dl dt {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px dotted #b2b2b2;
}
#guide_guidanceArea .cnt_guidance dl dt span {
	width: 80px;
	height: 24px;
	line-height: 2.1;
	display: block;
}
#guide_guidanceArea .cnt_guidance dl dd {
	padding: 10px 0 0 0;
}
#guide_guidanceArea .cnt_guidance dl dt:first-child {
	border: none;
	padding-top: 0;
}
#guide_guidanceArea .cnt_guidance dl dt:first-child + dd {
	
}
#guide_guidanceArea .cnt_guidance dl dd h4 {
	margin-bottom: 5px;
}
span.blank {
	border: 1px solid #d6d6d6;
}
span.guidance_tag_yoyaku {
	background-color: #c7edd6;
}
span.guidance_tag_kisetsu {
	background-color: #f7df97;
}
span.guidance_tag_new {
	background-color: #daeb6a;
}
span.guidance_tag_kanbai {
	background-color: #ea244e;
	color: #fff;
}
span.guidance_tag_suryo {
	background-color: #efbfca;
}
span.guidance_tag_teiki {
	background-color: #ecc6a5;
}
span.guidance_tag_chilled {
	background-color: #cbe7ed;
}
span.guidance_tag_cool {
	background-color: #bbd3e6;
}
span.guidance_tag_muryo {
	border: 2px solid #ea244e;
	width: 76px !important;
	height: 18px !important;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 22px !important;
}
span.guidance_tag_sample {
	background-color: #e4d4ed;
}
span.guidance_tag_machi {
	background-color: #ded9cb;
}
span.guidance_tag_okaidoku {
	background-color: #fac8d3;
}
span.guidance_tag_newsale {
	background-color: #f58830;
	color: #fff;
}
span.guidance_tag_kani,
span.guidance_tag_zumi,
span.guidance_tag_huka {
	border: 2px solid #ff8560;
	width: 76px !important;
	height: 18px !important;
	padding: 0px 0px 2px;
	position: relative;
	line-height: 22px !important;
}
span.guidance_tag_osusume {
	background-color: #fac8d3;
}



/* ----------
	guide_flow
---------- */
#nav_flow {
	margin-top: -15px;
	margin-bottom: 15px;
	padding: 15px 0 10px 15px;
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
}
#nav_flow ul {
	
}
#nav_flow ul li {
	margin-bottom: 5px;
}
#nav_flow ul li a {
	display: block;
	padding: 0 0 0 15px;
	background: url(../img/guide/ico_nav_flow.png) no-repeat 0 center;
	-webkit-background-size: 5px 10px;
	background-size: 5px 10px;
	text-decoration: underline;
}
#nav_flow ul li.active a  {
	color: #8aa532;
	text-decoration: none;
}
.guideFlow .flow_bloc {
	width: 97%;
	margin: 0 auto 30px;
	overflow: hidden;
}
.guideFlow .flow_bloc .image {
	float: right;
	padding-left: 3%;
	width: 150px;
}
.guideFlow .flow_bloc h3 {
	font-size: 14px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
	margin: 0 auto 10px;
}
.guideFlow .flow_bloc .image img {
	max-width: 100%;
	height: auto;
}
.guideFlow .flow_bloc .bloc_inn {
	margin-top: 20px;
}
.guideFlow .flow_bloc .bloc_inn.first {
	margin-top: 0;
}
.guideFlow .flow_bloc .bloc_inn h4 {
	font-size: 12px;
	margin-bottom: 5px;
}
.guideFlow .flow_bloc .bloc_inn h4.gr {
	color: #a0b52d;
}
.guideFlow .flow_bloc span.attention {
	color: #ff0000;
}
.guideFlow .flow_bloc a {
	color: #809700;
	text-decoration: underline;
}


/* ----------
	guide_flow_mypageArea
---------- */
#guide_flow_mypageArea .bloc_inn {

}
#guide_flow_mypageArea .list ol {
	padding-right: 160px;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 15px;
}
#guide_flow_mypageArea .list ol li {
	font-weight: bold;
	padding-bottom: 12px;
	margin-bottom: 15px;
	border-bottom: 1px solid #b2b2b2;
	list-style-type: decimal;
	list-style-position: inside;
	/*padding-left: 20px;
	text-indent: -1.4em;*/
	color: #383838;
}
#guide_flow_mypageArea .list ol li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
#guide_flow_mypageArea p.mini {
	font-size: 9px;
}

#guide_flow_mypageArea #bloc03 .list ol {
	padding-right: 0;
	margin-right: 160px;
}

#guide_flow_mypageArea #bloc04 .list ol {
	padding-right: 0;
}

/* ----------
	guide_flow_newArea
---------- */
#guide_flow_newArea h4 {
	padding-left: 14px;
	position: relative;
}
#guide_flow_newArea h4 span {
	position: absolute;
	top: 0;
	left: 0;
}
#guide_flow_newArea dl dt {
	width: 80px;
	padding-top: 8px;
	text-align: center;
}
#guide_flow_newArea dl dt span {
	height: 24px;
	line-height: 2.1;
	display: block;
	background-color: #daeb6a;
}
#guide_flow_newArea dl dd {
	padding: 11px 0 0 0;
}
#guide_flow_newArea .pickup {
	padding: 15px;
	margin-top: 15px;
	background: #f2f6db;
}
#guide_flow_newArea .pickup p {
	margin-top: 5px;
	font-size: 10px;
}
#guide_flow_newArea .pickup p.pl14 {
	padding-left: 14px;
}
#guide_flow_newArea p.mini {
	font-size: 9px;
}


/* ----------
	guide_flow_reserveArea
---------- */
#guide_flow_reserveArea h4 {
	padding-left: 14px;
	position: relative;
}
#guide_flow_reserveArea h4 span {
	position: absolute;
	top: 0;
	left: 0;
}
#guide_flow_reserveArea dl dt {
	width: 80px;
	padding-top: 8px;
	text-align: center;
}
#guide_flow_reserveArea dl dt span {
	height: 24px;
	line-height: 2.1;
	display: block;
	background-color: #c7edd6;
}
#guide_flow_reserveArea dl dd {
	padding: 11px 0 0 0;
}
#guide_flow_reserveArea p.mini {
	font-size: 9px;
}

/* ----------
	guide_flow_qaArea
---------- */
#guide_flow_qaArea .flow_bloc {
	margin-bottom: 20px;
}
#guide_flow_qaArea .inner a {
	color: #819800;
}
#guide_flow_qaArea h3 {
	padding-left: 22px;
	position: relative;
}
#guide_flow_qaArea h3:before {
	content: 'Q.';
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
}
#guide_flow_qaArea .inner {
	padding-left: 22px;
	position: relative;
}
#guide_flow_qaArea .inner:before {
	content: 'A';
	position: absolute;
	top: 0;
	left: 0;
	color: #a0b52d;
	font-size: 14px;
	font-weight: bold;
}

#guide_flow_qaArea h4 {
	font-size: 14px;
}
#guide_flow_qaArea h4.mt20 {
	margin-top: 20px;
}


