@charset "utf-8";
#howtoArea img {
	max-width: 100%;
	height: auto;
}
#howtoArea h2 {
	margin-top: -15px;
}
#howtoArea h3 {
	font-size: 14px;
	padding: 0 1.5% 5px;
	margin-top: 20px;
	border-bottom: 1px solid #b2b2b2;
}
#howtoArea .btn_area {
	background: #f2f6db;
	padding: 3.5% 3% 0;
}
#howtoArea .btn_area ul{
	overflow: hidden;
}
#howtoArea .btn_area ul li a {
	display: block;
	margin-bottom: 3.5%;
	padding: 10px 0 8px 15px;
	font-size: 11px;
	background-color: #fff;
	background-image: url(../img/common/btn_arrow_gy.png);
	background-repeat: no-repeat;
	-webkit-background-size: 4.5px 8.5px;
	background-size: 4.5px 8.5px;
	background-position: 98% 50%;
}
