@charset "utf-8";

img {
	max-width: 100%;
	height: auto;
}
section#carousel {
	overflow: hidden;
}

#top_contents {
	margin: 0 1.5% 25px;
}

#mainA {
	margin: 0 1.5% 25px;
}
#mainA h2 {
	border: none;
}
#mainA ul.bnr_wrap {
	overflow: hidden;
}
#mainA ul.bnr_wrap li {
	float: left;
	width: 49%;
}
#mainA ul.bnr_wrap li:first-child {
	margin-right: 2%;
}
#mainA > div img {
	width: 100%;
}

#mainB {
	margin: 0 1.5% 18px;
}

#mainB h2 {
	border: none;
}
#mainB .mainB_mv {
	margin-bottom: 9px;
}
#mainB .mainB_mv img, #mainB #mainB_article_wrap ul li img {
	width: 100%;
}
#mainB #mainB_article_wrap ul {
	overflow: hidden;
	margin-left: -1.5%;
}
#mainB #mainB_article_wrap ul li {
	float: left;
	width: 31.8%;
	margin-left: 1.5%;
}

#mainC {
	margin: 0 1.5% 45px;
}
#mainC h2 {
	border: none;
}
#mainC_article_wrap h3 {
	margin-top: 13px;
}
#mainC_article_wrap ul li {
	padding: 8px 0;
	background: url(../img/index/dot_line_contents.png) no-repeat bottom;
	-webkit-background-size: 300px 1.5px;
	background-size: 300px 1.5px;
	overflow: hidden;
}

#mainC_article_wrap ul li p.image {
	float: left;
}
#mainC_article_wrap ul li .text_bloc {
	padding-left: 65px;
}
#mainC_article_wrap ul li .text_bloc h4 {
	font-size: 10px;
	font-weight: normal;
	line-height: 1.4;
}
#mainC_article_wrap ul li .text_bloc p.date {
	font-size: 9px;
	text-align: right;
}
#mainC #mainC_article_wrap .tag {
	margin-bottom: 2px;
	width: 95px;
	height: 13px;
	text-indent: -9999px;
}
#mainC #mainC_article_wrap .tag.tag_interview {
	background: url(../img/index/column_tag_interview.png) no-repeat;
	-webkit-background-size: 95px 12.5px;
	background-size: 95px 13px;
}
#mainC #mainC_article_wrap .tag.tag_recipe {
	background: url(../img/index/column_tag_recipe.png) no-repeat;
	-webkit-background-size: 95px 13px;
}
#mainC #mainC_article_wrap .tag.tag_column {
	background: url(../img/index/column_tag_column.png) no-repeat;
		background-size: 95px 13px;
}
#mainC .btn_more a {
	width: 150px;
	margin: 20px auto 0;
	padding: 7px 0 5px;
	display: block;
	position: relative;
	background: #a3d041;
	text-align: center;
	font-size: 10px;
	color: #fff;
	border-radius: 3px;
}
#mainC .btn_more a:before {
	content: url(../img/index/ico_more_l.png);
	position: absolute;
	top: 4.5px;
	right: 9px;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
}

#mainD {
	margin: 0 1.5% 45px;
}
#mainD h2 {
	border: none;
}
#mainD #mainD_article_wrap ul {
	overflow: hidden;
	margin-left: -1.5%;
}
#mainD #mainD_article_wrap ul li {
	float: left;
	width: 31.8%;
	margin-left: 1.5%;
}
#mainD #mainD_article_wrap ul li img {
	width: 100%;
}
section#aside_list #accordion dd ul span {
	position: relative;
}
section#aside_list #accordion dd ul span:after {
	  content: '';
  display: block;
  position: absolute;
  right: 13px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  border-right: 2px solid #6a8c29;
  border-bottom: 2px solid #6a8c29;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
section#aside_list #accordion dd ul span.open:after {
	  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

#aside_ac01 {
	background: url('../img/common/ico_nav_tea.png') no-repeat 15px center;
}
#aside_ac02 {
	background: url('../img/common/ico_nav_tokuho.png') no-repeat 15px center;
}
#aside_ac03 {
	background: url('../img/common/ico_nav_teabag.png') no-repeat 15px center;
}
#aside_ac04 {
	background: url('../img/common/ico_nav_chaki.png') no-repeat 15px center;
}
#aside_ac06 {
	background: url('../img/common/ico_nav_ochauke.png') no-repeat 15px center;
}
#aside_ac07 {
	background: url('../img/common/ico_nav_matome.png') no-repeat 15px center;
}
#aside_ac08 {
	background: url('../img/common/ico_nav_gift.png') no-repeat 15px center;
}
section#aside_list #accordion dt {
	-webkit-background-size: 35px;
	background-size: 35px;
	background-color: #e8efd1;
	color: #3c3c3c;
}
section#aside_list #accordion dt#aside_ac07 {
	padding: 0;
}
section#aside_list #accordion dt#aside_ac07 a {
	display: block;
	padding: 9px 0px 9px 57px;
	color: #3c3c3c;
}
section#aside_list #accordion dt#aside_ac07:after {
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border-right: 2px solid #bdcba3;
	border-bottom: 2px solid #bdcba3;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



#search_wrap {
	margin-bottom: 30px;
}
#search_wrap h2 {
	border: none;
	margin-bottom: 5px;
}
#search_wrap .inner_bloc {
	margin: 0 6.25%;
}
#search_wrap .inner_bloc input[type="text"] {
	border-radius: 3px;
	width: 55%;
	padding: 5px 3px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#search_wrap .inner_bloc input[type="submit"] {
	width: 38%;
	margin-left: 2%;
	background: url(../img/common/ico_search.png) no-repeat 16% center #939393;
	-webkit-background-size: 16px 15px;
	background-size: 16px 15px;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 5px 0 3px 8%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}





