@charset "utf-8";

/* -------------------------
	sp_inquiry_step1.html
------------------------- */
/* ----- top ----- */
main form h2 {
	border: none;
	width: 97%;
	margin: 0 auto 7px;
	font-size: 16px;
}
#form_h2_text {
	width: 97%;
	margin: 0 auto 12px;
	font-size: 12px;
	line-height: 16px;
}


/* ----- form ----- */
main form dl {
	position: relative;
}
/* dt */
main form dt {
	background-color: #ededed;
	font-size: 12px;
	padding: 3px 0 3px 4px; 
}
main form dt span {
	color: #ff0000;
	font-size: 11px;
	margin-left: 12px;
}
/* dd */
main form dd {
	padding: 12px 0px 13px 10px;
}
main form dd label {
	font-size: 11px;
}
/* selectカスタマイズ（プラグイン） */
.selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 200px;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 188px center;
}
.select{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 200px;
	height: 25px;
	z-index: 10000;
	position:absolute;
	top: -1px;
	left: -1px;
}/* / selectカスタマイズ（プラグイン） */
/* input */
main form dd input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 25px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none; 
}
/* textarea */
main form dd textarea {
	resize: none;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none; 
}
/* 各 */
.form_name label {
	display: inline-block;
	width: 9%;
}
.form_name input {
	width: 38%;
}
#name01,#kana01 {
	margin-right: 4px;
}
#form_nameText {
	font-size: 10px;
	margin-top: 8px;
}
.form_mail input {
	width: 98%;
}
.form_mail p {
	font-size: 10px;
	margin-top: 3px;
}
#form_tel input {
	width: 29%;
}
#form_tel span {
	display: inline-block;
	width: 5px;
}
#form_tel p {
	font-size: 10px;
	margin-top: 3px;
}
#form_text textarea {
	width: 95.5%;
	height: 66px;
}
#form_text {
	margin-bottom: 16px;
}
#form_text p {
	font-size: 10px;
	margin-top: 3px;
	line-height: 15px;
	padding-left: 7px;
	padding-right: 7px;
}
#form_text p span {
	display: inline-block;
	text-indent: -7px;
}
/* reset_submit */
#reset_submit {
	margin-bottom: 40px;
}
#reset_submit input {
	-webkit-appearance: none;
	display: block;
	width: 97%;
	margin: 0 auto 10px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
}
#mainFormSubmit {
	height: 45px;
	background-color: #8cb301;
}
#mainFormReset {
	height: 30px;
	background-color: #939393;
}





/* -------------------------
	sp_inquiry_step2.html
------------------------- */
form#step2 #form_h2_text {
	font-size: 12px;
}
form#step2 #form_text dd {
	padding-right: 10px;
}



/* -------------------------
	sp_inquiry_step3.html
------------------------- */
#thanksArea {
	text-align: center;
	color: #789415;
	margin-bottom: 22px;
}
#thanksArea > div {
	width: 97%;
	margin: 0 auto;
	background-color: #ecf1d6;
	padding: 31px 0 22px;
}
#thanksArea > div p {
	line-height: 11px;
	font-size: 11px;
	margin-bottom: 10px;
}
#thanksArea > div p:before,
#thanksArea > div p:after {
	content: '';
	display: inline-block;
	border-top: 1px solid #789415;
	width: 19%;
	position: relative;
	top: -3px;
	margin: 0 2px;
}
#thanksArea > div h3 {
	line-height: 24px;
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 40px;
}
#thanksArea > div div a {
	display: inline-block;
	background-color: #8cb301;
	width: 85.38%;
	height: 32px;
	padding-top: 8px;
	color: #fff;
	font-size: 13px;	
}




