@charset "utf-8";

img {
    max-width: 100%;
    height: auto;
}

#topTag_blank {
    border: 1px solid #d6d6d6;
}
#topTag_yoyaku {
    background-color: #c7edd6;
}
#topTag_kisetsu {
    background-color: #f7df97;
}
#topTag_new {
    background-color: #daeb6a;
}
#topTag_kanbai {
    background-color: #ea244e;
    color: #fff;
}
#topTag_suryo {
    background-color: #efbfca;
}
#topTag_teiki {
    background-color: #ecc6a5;
}
#topTag_chilled {
    background-color: #cbe7ed;
}
#topTag_cool {
    background-color: #bbd3e6;
}
#topTag_muryo {
    border: 2px solid #ea244e;
    width: 56px !important;
    height: 10px !important;
    padding: 2px 0px 2px;
    position: relative;
    line-height: 12px !important;
}
#topTag_sample {
    background-color: #e4d4ed;
}
#topTag_machi {
    background-color: #ded9cb;
}
#topTag_okaidoku {
    background-color: #fac8d3;
}
#topTag_newsale {
    background-color: #f58830;
    color: #fff;
}
#topTag_kani,
#topTag_zumi,
#topTag_huka {
    border: 2px solid #ff8560;
    width: 56px !important;
    height: 10px !important;
    padding: 2px 0px 2px;
    position: relative;
    line-height: 12px !important;
}
#topTag_osusume {
    background-color: #fac8d3;
}

#imageWrap {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
#imageWrap #item_image  {
    width: 78%;
    margin: 0 auto;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -15px;
    width: 78%;
}
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: url(../img/item/item_dot_off.png);
    -webkit-background-size: 5px 5px;
    background-size: 5px 5px;
    text-indent: -9999px;
    display: block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    outline: 0;
    text-indent: -9999px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url(../img/item/item_dot_on.png);
    -webkit-background-size: 5px 5px;
    background-size: 5px 5px;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 11px;
  height: 20px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/item/item_arrow_prev.png) no-repeat 0 0;
    -webkit-background-size: 11px 20px;
    background-size: 11px 20px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/item/item_arrow_next.png) no-repeat 0 0;
    -webkit-background-size: 11px 20px;
    background-size: 11px 20px;
}


.item_toggle {
    display: none;
}
.content_main {
    width: 97%;
    margin: 0 auto;
}
.content_main .item_detail_top h3.item_title {
    font-size: 19px;
    font-weight: bold;
    margin: 10px 0 10px;
}
.content_main .item_detail_top p.num {
    font-size: 11px;
}
.content_main .item_detail_top dl.price {
    display: table;
}
.content_main .item_detail_top dl.price dt,.content_main .item_detail_top dl.price dd {
    display: table-cell;
    vertical-align: bottom;
}
.content_main .item_detail_top dl.price dt {
    font-weight: bold;
    padding-right: 10px;
}
.content_main .item_detail_top dl.price dd {
    font-size: 18px;
    font-weight: bold;
    color: #e12600;
}
.content_main .item_detail_top dl.price dd span {
    font-size: 12px;
}

/* form */
#mainright_selectArea {
    position: relative;
    display: table;
    width: 100%;
}
/* select */
#mainright_selectArea dl {
    display: inline-block;
    margin: 10px 0 15px;
    position: relative;
}
#noshi {
    float: left;
    width: 56%;
}
#suryo {
    float: right;
    width: 40%;
}
#mainright_selectArea dt {
    display: inline-block;
    font-size: 11px;
    margin-right: 7px;
}
#mainright_selectArea dd {
    display: inline-block;
    z-index: 1;
}
.selectBox {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
             -ms-border-radius: 5px;
             -o-border-radius: 5px;
                border-radius: 5px;
    font-size: 10px;
    text-align: center;
    text-indent: -10px;
    position: relative;
}
#noshi .selectBox {
    padding: 5px 35px 4px 12px;
    width: 38%;
    background: url(../img/item/select_arrow.png) no-repeat 90% 50%;
    -webkit-background-size: 12px 6.5px;
    background-size: 12px 6.5px;
}
#suryo .selectBox {
    padding: 5px 35px 4px 12px;
    width: 24%;
    background: url(../img/item/select_arrow.png) no-repeat 90% 50%;
    -webkit-background-size: 12px 6.5px;
    background-size: 12px 6.5px;
}
#yoyaku .selectBox {
    padding: 5px 35px 4px 12px;
    width: 38%;
    background: url(../img/item/select_arrow.png) no-repeat 90% 50%;
    -webkit-background-size: 12px 6.5px;
    background-size: 12px 6.5px;
}
#noshi .select {
    display: inline-block;
    width: 100%;
    height: 27px;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    left: -1px;
    top: -1px;
    -webkit-box-sizing:border-box;
    -webkit-appearance: none;
}
#suryo .select {
    display: inline-block;
    width: 100%;
    height: 27px;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    left: -1px;
    top: -1px;
    -webkit-box-sizing:border-box;
    -webkit-appearance: none;
}
#yoyaku .select {
    display: inline-block;
    width: 100%;
    height: 27px;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    left: -1px;
    top: -1px;
    -webkit-box-sizing:border-box;
    -webkit-appearance: none;
}
#addToCart input[type="submit"] {
    width: 97%;
    margin: 0 auto;
    display: block;
    background: #8cb302;
    color: #fff;
    border: none;
    padding: 14px 0 12px;
    -webkit-appearance: none;
    border-radius: 3px;
}
#addFavorite input[type="button"] {
    display: block;
    text-align: center;
    color: #fff;
    background: #939393;
    padding: 7px 0 5px;
    margin: 5px auto;
    width: 97%;
    border: none;
    -webkit-appearance: none;
    border-radius: 3px;
}
dl#yoyaku  {
    width: 56%;
    margin: 0 0 15px;
}
#noshi dt,#yoyaku dt {
width: 26%;}

.tag_bloc {
    margin: 15px 0;
}
.tag_bloc ul li {
    display: inline-block;
    font-size: 9px;
    padding-top: 2px;
    width: 18%;
    text-align: center;
}

.item_detail_bottom .item_spec {
    margin: 20px 0 10px;
    padding: 10px 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
.item_detail_bottom .item_spec dl {
    overflow: hidden;
}
.item_detail_bottom .item_spec dl dt {
    float: left;
    font-weight: bold;
    font-size: 11px;
}
.item_detail_bottom .item_spec dl dd {
    font-size: 11px;
}

.item_detail_bottom .item_spec .spec_bottom dl dt {
    float: none;
    margin-top: 18px;
}

#relatedArea {
    margin: 30px 0 20px;
}
#relatedArea h3 {
    font-size: 14px;
    margin: 0 auto 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b2b2b2;
    width: 97%;
}
#relatedArea ul li {
    position: relative;
    margin-bottom: 10px;
}
#relatedArea ul li a {
    display: block;
    overflow: hidden;
}
#relatedArea ul li a img{
    float: left;
    display: block;
    width: 100px;
}
#relatedArea ul dl {
    padding-left: 110px;
}
#relatedArea ul dl dt {
    font-size: 12px;
}
#relatedArea ul dl dd {

}
#relatedArea ul dl dd li {
    width: 80%;
    position: relative;
    font-size: 11px;
    margin-bottom: 0;
}
#relatedArea ul span.hyouka {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: -1px;
}
span.black {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../img/item/hyouka_black.png') no-repeat left top;
    background-size: 10px 10px;
    margin: 0px -2px;
}
span.white {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../img/item/hyouka_white.png') no-repeat left top;
    background-size: 10px;
    margin: 0px -2px;
}
#relatedArea .btn_more {
    display: block;
    text-align: center;
    padding: 5px 0 20px;
}
#relatedArea .btn_more span {
    padding-right: 20px;
    background: url(../img/item/select_arrow.png) no-repeat right;
    -webkit-background-size: 12px 6.5px;
    background-size: 12px 6.5px;
}
#related_comment {
    clear: both;
    background-color: #e6e6e6;
    position: relative;
    vertical-align: middle;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}
#related_comment a {
    display: block;
    background-color: #b3bbbc;
    font-size: 13px;
    margin-top: 5px;
    padding: 8px 0 7px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.comment_bloc .comment_detail {
    padding: 15px 0;
    border-bottom: 1px dotted #000;
}

.comment_bloc .comment_detail h4 {
    font-size: 12px;
    padding-left: 20px;
    background: url(../img/item/ico_balloon.png) no-repeat 3px 3px;
    -webkit-background-size: 13.5px 10px;
    background-size: 13.5px 10px;
    color: #789415;
}
.comment_bloc .comment_detail p.comment_meta {
    font-size: 9px;
    margin: 5px 0;
}
.comment_bloc .comment_detail p.comment_meta span {
    padding-right: 1%;
}
.comment_bloc .comment_detail .comment p {
    font-size: 10px;
}

.about_gift a {
    color: #789415;
}
.about_gift p.link a {
    color: #383838;
    padding-left: 8px;
    background: url(../img/common/arrow_black.png) no-repeat left center;
    -webkit-background-size: 4.5px 8.5px;
    background-size: 4.5px 8.5px;
}













