@charset "utf-8";

#topSection h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#topSection p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
p#ceo_text {
	text-align: right;
	margin-top: -4px;
	margin-bottom: 20px;
}

#downSection {
	width: 97%;
	margin: 0 auto;
}
#downSection h3 {
	margin: 0 auto 9px;
	font-size: 14px;
	border-bottom: 1px solid #d9d9d9;
}
#downSection ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 20px;
	line-height: 16px;
}
#downSection ol li {
	margin-bottom: 20px;
}
#downSection ol li a {
	color: #789415;
}
#downSection ol li a:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			   transition: opacity 0.2s ease-in-out;
	filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}



