@charset "utf-8";

#main_contents.login img {
	max-width: 100%;
	height: auto;
}
#main_contents.login h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#main_contents.login .login_step {
	margin: 0 1.5% 20px;
}
#main_contents.login span.text_red {
	color: #fd0000;
}


/*login_top*/
.login_top .member,.login_top .register {
	background: #eeeeee;
	margin: 0 1.5% 15px;
	padding: 15px 20px;
}
.login_top .member h3,.login_top .register h3 {
	font-size: 14px;
	margin-bottom: 12px;
}
.login_top .member p.outline,.login_top .register p.outline {
	font-size: 12px;
	margin-bottom: 12px;
}
.login_top .member input[type="text"] {
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login_top .member p.check {
	margin: 10px 0;
}
.login_top .member .hint a {
	text-decoration: underline;
	padding-left: 8px;
	background: url(../img/common/arrow_black.png) no-repeat left center;
	-webkit-background-size: 4.5px 8.5px;
	background-size: 4.5px 8.5px;
	margin-bottom: 5px;
	display: block;
}
.login_top input[type="submit"] {
	width: 100%;
	margin: 0 auto 10px;
	display: block;
	background: #8cb302;
	color: #fff;
	border: none;
	padding: 14px 0 12px;
	-webkit-appearance: none;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login_top a {
	text-decoration: underline;
}
.login_top .register .explanation ul li {
	padding-left: 12px;
	position: relative;
}
.login_top .register .explanation ul li:before {
	content: '・';
	position: absolute;
	top: 0;
	left: 0;
}



/*step1*/

#main_contents.login.step1 .login_step {
	margin: 0 1.5% 12px;
}
#main_contents.login.step1 .login_explanation {
	margin: 0 1.5% 12px;
}
#main_contents.login.step1 dl dt {
	font-size: 12px;
	padding: 5px 1.5%;
	background: #ededed;
	font-size: 12px;
}
#main_contents.login.step1 dl dd {
	padding: 12px 1.5% 13px 1.5%;
	overflow: hidden;
}

#main_contents.login.step1 dl span.required {
	padding-left: 10px;
	color: #ff0000;
	font-size: 11px;
}
#main_contents.login.step1 dl dd input[type="text"],#main_contents.login.step1 dl dd input[type="email"],#main_contents.login.step1 dl dd input[type="password"] {
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	border-radius: 3px;
}
#main_contents.login.step1 dd div.name {
	float: left;
	width: 50%;
}
#main_contents.login.step1 dd div.name span {
	min-width: 25px;
	padding-top: 6px;
	float: left;
}
#main_contents.login.step1 div .name {
	min-width: 25px;
	padding-top: 6px;
	display: block;
	float: left;
}
#main_contents.login.step1 .short {
	width: 26%;
}
#main_contents.login.step1 .middle {
	width: 75%;
}
#main_contents.login.step1 .long {
	width: 95%;
}

#main_contents.login.step1 dd div.address {
	margin-bottom: 8px;
}
#main_contents.login.step1 dl dd span,#main_contents.login.step1 dl dd label {
  font-size: 10px;
}


#main_contents.login.step1 dl dd.row_address div {
	overflow: hidden;
	margin-bottom: 8px;
}
#main_contents.login.step1 dl dd.row_address div label {
	display: block;
	float: left;
	width: 28%;
	padding-top: 6px;
}
#main_contents.login.step1 dl dd.row_address div input[type="text"] {
	float: right;
	width: 68%;
}
#main_contents.login.step1 dl dd.row_address div select {
	border: 1px solid #dbdbdb;
	padding: 0 1.5%;
	background: #fff;
	height: 27px;
}
#main_contents.login.step1 dl dd.row_address .select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 200px;
  height: 25px;
  z-index: 10000;
  position: absolute;
  top: -1px;
  left: -1px;
}
#main_contents.login.step1 dl dd.row_address .selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 120px;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 105px center;
	left: 29%;
	line-height: 2;
}
#main_contents.login.step1 dl dd.row_address.row_select .selectBox {
	left: 0;
}
#main_contents.login.step1 dl dd.row_address.row_select select {
	width: 130px;
}



#main_contents.login.step1 dl dd.row_date div.selectBox {
	float: left;
	width: 28% !important;
}
#main_contents.login.step1 dl dd.row_date span.txt {
	float: left;
	padding: 5px 2px;
}
#main_contents.login.step1 dl dd.row_date div select {
	border: 1px solid #dbdbdb;
	padding: 0 1.5%;
	background: #fff;
	height: 27px;
}

#main_contents.login.step1 dl dd.row_date .selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	float: left;
	width: 28%;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 90% center;
	line-height: 2;
}
#main_contents.login.step1 dl dd.row_date .selectBox.select01 {
	left: 0;
}
#main_contents.login.step1 dl dd.row_date .selectBox.select02 {
	left: 32%;
}
#main_contents.login.step1 dl dd.row_date .selectBox.select03 {
	left: 63%;
}


#main_contents.login.step1 dl dd.ask ul {
	overflow: hidden;
}
#main_contents.login.step1 dl dd.ask ul li {
	float: left;
	width: 50%;
	margin-bottom: 5px;
}
#main_contents.login.step1 .btn_wrap {
	margin: 35px 0;
}
#main_contents.login.step1 input[type="submit"] {
	width: 97%;
	margin: 0 auto;
	display: block;
	background: #8cb302;
	color: #fff;
	border: none;
	padding: 14px 0 12px;
	-webkit-appearance: none;
	font-size: 13px;
	border-radius: 3px;
}
#main_contents.login.step1 input[type="reset"],#main_contents.login.step1 input[type="button"] {
	display: block;
	text-align: center;
	color: #fff;
	background: #939393;
	padding: 7px 0 5px;
	margin: 5px auto;
	width: 97%;
	border: none;
	-webkit-appearance: none;
	font-size: 13px;
	border-radius: 3px;
}

#main_contents.login.step1 .code {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #b2b2b2;
}
#main_contents.login.step1 .code h3 {
	margin: 0 1.5% 10px;
	font-size: 13px;
}
#main_contents.login.step1 .code div {
	margin: 0 1.5% 17px;
	background: #f1f1f1;
	height: 100px;
	overflow: auto;
}
#main_contents.login.step1 .code div div.inner {
	margin: 0 1.5% 0;
	padding: 10px 0;
}

#main_contents.login.step1 #privacyPolicy {

}
#main_contents.login.step1 #privacyPolicy h3 {
	margin: 0 1.5% 10px;
	font-size: 13px;
}
#main_contents.login.step1 #privacyPolicy div {
	margin: 0 1.5% 12px;
	background: #f1f1f1;
	height: 100px;
	overflow: auto;
}
#main_contents.login.step1 #privacyPolicy div div.inner {
	margin: 0 1.5% 0;
	padding: 10px 0;
}

/*step3*/
#main_contents.login .login_thanks {
	padding: 25px 0;
	margin: 0 1.5% 35px;
	text-align: center;
	background: #ecf1d6;
}
#main_contents.login .login_thanks .sub_tit {
	margin-bottom: 20px;
	color: #789415;
	font-size: 11px;
	display: inline-block;
	position: relative;
}
#main_contents.login .login_thanks .sub_tit:before {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: 65px;
	top: 8px;
}
#main_contents.login .login_thanks .sub_tit:after {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: 65px;
	top: 8px;
}
#main_contents.login .login_thanks h3 {
	margin-bottom: 30px;
	color: #789415;
	font-size: 17px;
	font-weight: normal;
}
#main_contents.login .login_thanks p {
	margin-bottom: 20px;
	font-size: 12px;
}
#main_contents.login .login_thanks .btn {
	margin: 0 auto;
	display: inline-block;
	width: 80%;
}
#main_contents.login .login_thanks .btn a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	background: #8cb202;
}