@charset "utf-8";

#mailmagazineArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 12px;
	width: 97%;
}
#mailmagazineArea p {
	font-size: 11px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 12px;
}
p.btn_remove {
	text-align: right;
}
p.btn_remove a {
	background: url(../img/common/ico_arrow_mini.png) no-repeat left;
	padding-left: 8px;
	-webkit-background-size: 4px 7px;
	background-size: 4px 7px;
}
#mailmagazineArea dl dt {
	background: #ebebeb;
	padding: 7px 1.5% 5px;
}
#mailmagazineArea dl dd {
	padding: 10px 4% 5px;
}
#mailmagazineArea dl dd input[type="text"] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #ecf1d6;
	border: 1px solid #dbdbdb;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
}
#mailmagazineArea .btn_submit input[type="submit"] {
	width: 97%;
	margin: 0 auto;
	display: block;
	background: #8cb302;
	color: #fff;
	border: none;
	padding: 14px 0 12px;
	-webkit-appearance: none;
	border-radius: 0;
}
#mailmagazineArea .btn_wrap {
	margin-bottom: 30px;
}


/*step2*/
#mailmagazineArea.step2 dl {
	margin: 35px 0;
} 
#mailmagazineArea .btn_back a {
	display: block;
	text-align: center;
	color: #fff;
	background: #939393;
	padding: 7px 0 5px;
	margin: 5px auto;
	width: 97%;
}

/*step3*/
#mailmagazineArea .magazine_thanks {
	padding: 25px 0;
	margin: 0 1.5% 35px;
	text-align: center;
	background: #ecf1d6;
}
#mailmagazineArea .magazine_thanks .sub_tit {
	margin-bottom: 20px;
	color: #789415;
	font-size: 11px;
	display: inline-block;
	position: relative;
}
#mailmagazineArea .magazine_thanks .sub_tit:before {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: 65px;
	top: 8px;
}
#mailmagazineArea .magazine_thanks .sub_tit:after {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: 65px;
	top: 8px;
}
#mailmagazineArea .magazine_thanks h3 {
	margin-bottom: 30px;
	color: #789415;
	font-size: 17px;
	font-weight: normal;
}
#mailmagazineArea .magazine_thanks p {
	margin-bottom: 20px;
	font-size: 12px;
}
#mailmagazineArea .magazine_thanks .btn {
	margin: 0 auto;
	display: inline-block;
	width: 80%;
}
#mailmagazineArea .magazine_thanks .btn a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	background: #8cb202;
}