@charset "utf-8";

.tar {text-align: right !important;}
.tac {text-align: center !important;}


.mypage h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}


/* マイページメニュー */
#aside_mypage {
	margin-top: -15px;
	margin-bottom: 15px;
}
#aside_mypage ul {
	overflow: hidden;
}
#aside_mypage ul li {
	height: 30px;
	float: left;
	width: 32%;
	background: #ecf1d6;
	border-bottom: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#aside_mypage ul li.bd {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	width: 36%;
}
#aside_mypage ul li a {
	font-size: 11px;
	padding: 7px 0 6px;
	text-align: center;
	display: block;
	color: #262626;
}
#aside_mypage ul li.active {
	background: #d3e189;
}
#aside_mypage ul li a span {
	letter-spacing: -3px;
}


.pager {
	width: 97%;
	margin: 20px auto 32px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-align: center;
	background: #e6e6e8;
}
.pager span.prev.off {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.prev.on a {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.off {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.on a {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}

/* ----------
		購入履歴一覧
---------- */
#historyIndexArea {
	
}
#historyIndexArea h2 {
	margin-bottom: 10px;
}
#historyIndexArea p.number {
	font-size: 12px;
	margin-bottom: 10px;
}
#historyIndexArea p.number span {
	color: #fe9900;
	font-weight: bold;
}
#historyIndexArea .history_bloc {
	width: 97%;
	margin: 30px auto 0;
}
#historyIndexArea .history_bloc.first {
	margin: 0 auto 0;
}
#historyIndexArea .history_bloc table {
	width: 100%;
	margin-bottom: 10px;
	border-top: 1px solid #e5e5e5;
}
#historyIndexArea .history_bloc table tr th,#historyIndexArea .history_bloc table tr td {
	border-bottom: 1px solid #e5e5e5;
	padding: 8px 3% 7px;
	text-align: left;
	font-size: 12px;
}
#historyIndexArea .history_bloc table tr th {
	background: #f4f4f4;
	font-weight: normal;
	font-size: 11px;
	width: 35%;
}
#historyIndexArea .history_bloc .btn_detail a {
	display: block;
	color: #fff;
	background: #6a6866;
	text-align: center;
	height: 35px;
	line-height: 35px;
}


/* ----------
		購入履歴詳細
---------- */

#historyDetail .order_history {
	background: #f4f4f4;
	padding: 3%;
	margin-bottom: 30px;
}
#historyDetail .order_history .order_top {
	background: #fff;
}
#historyDetail .order_history .order_top {
	padding: 4%;
	background: #fff;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
#historyDetail .order_history .order_top dl {
	overflow: hidden;
}
#historyDetail .order_history .order_top dl dt ,#historyDetail .order_history .order_top dl dd {
	padding: 2px 0;
}
#historyDetail .order_history .order_top dl dt {
	float: left;
	color: #4a4a4a;
	font-size: 11px;
}
#historyDetail .order_history .order_top dl dd {
	padding-left: 100px;
	font-size: 12px;
}
#historyDetail .order_history .order_top .re_order {
	margin-top: 12px;
}
#historyDetail .order_history .order_top .re_order a {
	display: block;
	background-color: #8cb202;
	font-size: 14px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#historyDetail .order_history .order_list .item_bloc {
	padding: 12px 0;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}
#historyDetail .order_history .order_list .item_bloc .image {
	float: left;
	width: 40%;
}
#historyDetail .order_history .order_list .item_bloc .image img {
	max-width: 100%;
	height: auto;
}
#historyDetail .order_history .order_list .item_bloc .text_area {
	padding-left: 45%;
}
#historyDetail .order_history .order_list .item_bloc .text_area p.item_title {
	font-size: 12px;
}
#historyDetail .order_history .order_list .item_bloc .text_area p.deliv {
	font-size: 11px;
	margin-bottom: 10px;
}
#historyDetail .order_history .order_list .item_bloc .text_area dl {
	overflow: hidden;
}
#historyDetail .order_history .order_list .item_bloc .text_area dl dt,#historyDetail .order_history .order_list .item_bloc .text_area dl dd {
	font-size: 11px;
}
#historyDetail .order_history .order_list .item_bloc .text_area dl dt {
	float: left;
}
#historyDetail .order_history .order_list .item_bloc .text_area dl dd {
	padding-left: 45%;
}
#historyDetail .order_history .order_list .total_bloc dl {
	overflow: hidden;
	display: table;
	width: 100%;
}
#historyDetail .order_history .order_list .total_bloc dl dt ,#historyDetail .order_history .order_list .total_bloc dl dd{
	display: table-cell;
	font-size: 12px;
	text-align: right;
	padding: 3px 0;
	border-bottom: 1px solid #dbdbdb;
}
#historyDetail .order_history .order_list .total_bloc dl dt {
	width: 75%;
}
#historyDetail .order_history .order_list .total_bloc dl dt span {
	padding-right: 8px;
}
#historyDetail .order_history .order_list .total_bloc dl dd span.total {
	color: #fe9900;
	font-weight: bold;
}

/* お届け先 */
#historyDetail .order_address {
	width: 97%;
	margin: 0 auto 30px;
}
#historyDetail .order_address h3 {
	font-size: 13px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b2b2b2;
}
#historyDetail .order_address .item_bloc {
	padding: 12px 0;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}
#historyDetail .order_address .item_bloc .image {
	float: left;
	width: 40%;
}
#historyDetail .order_address .item_bloc .image img {
	max-width: 100%;
	height: auto;
}
#historyDetail .order_address .item_bloc .text_area {
	padding-left: 45%;
}
#historyDetail .order_address .item_bloc .text_area p.item_title {
	font-size: 12px;
	margin-bottom: 10px;
}
#historyDetail .order_address .item_bloc .text_area dl {
	overflow: hidden;
}
#historyDetail .order_address .item_bloc .text_area dl dt,#historyDetail .order_address .item_bloc .text_area dl dd {
	font-size: 11px;
}
#historyDetail .order_address .item_bloc .text_area dl dt {
	float: left;
}
#historyDetail .order_address .item_bloc .text_area dl dd {
	padding-left: 45%;
}

#historyDetail .order_address table.address_detail {
	width: 100%;
}
#historyDetail .order_address table.address_detail tr th,#historyDetail .order_address table.address_detail tr td {
	border-bottom: 1px solid #e5e5e5;
	padding: 5px 1% 5px 3%;
	color: #4a4a4a;
	font-size: 11px;
}
#historyDetail .order_address table.address_detail tr th {
	border-right: 1px solid #e5e5e5;
	text-align: left;
	font-weight: normal;
	width: 38%;
}
#historyDetail .order_address table.address_detail tr td {
}

/* メール配信履歴一覧 */
#historyDetail .history_mail {
	width: 97%;
	margin: 0 auto;
}
#historyDetail .history_mail h3 {
	font-size: 13px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b2b2b2;
}
#historyDetail .history_mail table {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 35px;
}
#historyDetail .history_mail table tr th ,#historyDetail .history_mail table tr td {
	font-size: 11px;
	padding: 8px 3%;
	border-bottom: 1px solid #e5e5e5;
}
#historyDetail .history_mail table tr th {
	background: #f4f4f4;
	font-weight: normal;
	color: #4a4a4a;
	text-align: left;
	vertical-align: middle;
	width: 30%;
}

/* ----------
		定期購入利用状況
---------- */
#regularArea .regularList {
	width: 97%;
	margin: 0 auto 30px;
}
#regularArea .regularList table {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 15px;
}
#regularArea .regularList table tr th ,#regularArea .regularList table tr td {
	font-size: 11px;
	padding: 8px 3%;
	border-bottom: 1px solid #e5e5e5;
}
#regularArea .regularList table tr th {
	background: #f4f4f4;
	font-weight: normal;
	color: #4a4a4a;
	text-align: left;
	vertical-align: middle;
	width: 33%;
}
#regularArea .regularList .btn_detail a {
	display: block;
	color: #fff;
	background: #6a6866;
	text-align: center;
	height: 35px;
	line-height: 35px;
}
#regularArea h3 {
	width: 97%;
	font-size: 13px;
	margin: 0 auto 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b2b2b2;
}
#regularArea  ul {
	width: 97%;
	margin: 0 auto;
}
#regularArea  ul li {
	padding-left: 20px;
	margin-bottom: 3px;
	position: relative;
	font-size: 12px;
}
#regularArea  ul li:before {
	content: "■";
	color: #8cb202;
	position: absolute;
	top: 1px;
	left: 3px;
}

/* 定期購入利用状況詳細 */
#regularArea.regular_detail dl dt {
	font-size: 12px;
	padding: 5px 1.5%;
	margin-bottom: 10px;
	background: #ededed;
}
#regularArea.regular_detail dl dd {
	margin: 0 1.5% 15px;
	overflow: hidden;
}


/* ----------
		お気に入り一覧
---------- */
#favoriteArea {
	margin-bottom: 35px;
}
#favoriteArea h2 {
	margin-bottom: 10px;
}
#favoriteArea p.number {
	font-size: 12px;
	width: 97%;
	margin: 0 auto 10px;
}
#favoriteArea p.number span {
	color: #fe9900;
	font-weight: bold;
}
#favoriteArea .favorite_list {
	border-top: 1px solid #dbdbdb;
}
#favoriteArea .item_bloc {
	padding: 12px 0;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
	position: relative;
}
#favoriteArea .item_bloc .image {
	float: left;
	width: 40%;
	margin-left: 1.5%;
}
#favoriteArea .item_bloc .image img {
	max-width: 100%;
	height: auto;
}
#favoriteArea .item_bloc .text_area {
	padding-left: 45%;
}
#favoriteArea .item_bloc .text_area p.item_title {
	font-size: 12px;
}
#favoriteArea .item_bloc .text_area dl {
	overflow: hidden;
	margin-bottom: 40px;
}
#favoriteArea .item_bloc .text_area dl dt,#favoriteArea .item_bloc .text_area dl dd {
	font-size: 11px;
}
#favoriteArea .item_bloc .text_area dl dt {
	float: left;
}
#favoriteArea .item_bloc .text_area dl dd {
	padding-left: 45%;
}
#favoriteArea .item_bloc .text_area .btn a {
	text-align: center;
	padding: 4px 12px;
	background: #6a6866;
	color: #fff;
	position: absolute;
	bottom: 12px;
	left: 45%;
}


/* ----------
		会員登録内容変更
---------- */
#changeArea.login h3.bdb {
	width: 97%;
	font-size: 13px;
	margin: 0 auto 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b2b2b2;
}
#changeArea.login p.outline {
	width: 97%;
	margin: 0 auto 10px;
}
#changeArea.login dl dt {
	font-size: 12px;
	padding: 5px 1.5%;
	margin-bottom: 10px;
	background: #ededed;
}
#changeArea.login dl dd {
	margin: 0 1.5% 15px;
	overflow: hidden;
}
#changeArea.login dl dd span {
	font-size: 10px;
}
#changeArea.login dl dd input[type="text"],#changeArea.login dl dd input[type="email"],#changeArea.login dl dd input[type="password"] {
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	border-radius: 3px;
}
#changeArea.login dd div.name {
	float: left;
	width: 50%;
}
#changeArea.login div .name {
	min-width: 25px;
	padding-top: 6px;
	display: block;
	float: left;
}
#changeArea.login .short {
	width: 26%;
}
#changeArea.login .middle {
	width: 75%;
}
#changeArea.login .long {
	width: 95%;
}

#changeArea.login dd div.address {
	margin-bottom: 8px;
}


#changeArea.login dd.hint select{
	width: 100%;
}
#changeArea.login dd.hint input {
	width: 100%;
	box-sizing: border-box;
}
#changeArea.login dd.hint p#passHint_q {
	margin-bottom: 8px;
}
#changeArea.login .btn_bloc {
	width: 97%;
	margin: 30px auto;
}
#changeArea.login .btn_bloc p {
	margin-top: 10px;
}
#changeArea.login .btn_bloc a {
	display: block;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	background: #939393;
}
#changeArea.login .btn_bloc input[type="submit"] {
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	background: #8cb301;
	  -webkit-appearance: none;
}


#changeArea.login dd div.name {
	float: left;
	width: 50%;
}
#changeArea.login dd div.name span {
	min-width: 25px;
	padding-top: 6px;
	float: left;
}
#changeArea.login div .name {
	min-width: 25px;
	padding-top: 6px;
	display: block;
	float: left;
}
#changeArea.login .short {
	width: 26%;
}
#changeArea.login .middle {
	width: 75%;
}
#changeArea.login .long {
	width: 95%;
}

#changeArea.login dd div.address {
	margin-bottom: 8px;
}
#changeArea.login dl dd span,#changeArea.login dl dd label {
  font-size: 10px;
}


#changeArea.login dl dd.row_address div {
	overflow: hidden;
	margin-bottom: 8px;
}
#changeArea.login dl dd.row_address div label {
	display: block;
	float: left;
	width: 28%;
	padding-top: 6px;
}
#changeArea.login dl dd.row_address div input[type="text"] {
	float: right;
	width: 68%;
}
#changeArea.login dl dd.row_address div select {
	border: 1px solid #dbdbdb;
	padding: 0 1.5%;
	background: #fff;
	height: 27px;
}
#changeArea.login dl dd.row_address .select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 200px;
  height: 25px;
  z-index: 10000;
  position: absolute;
  top: -1px;
  left: -1px;
}
#changeArea.login dl dd.row_address .selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 120px;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 105px center;
	left: 29%;
	line-height: 2;
}
#changeArea.login dl dd.row_address.row_select .selectBox {
	left: 0;
}
#changeArea.login dl dd.row_address.row_select select {
	width: 130px;
}



#changeArea.login dl dd.row_date div.selectBox {
	float: left;
	width: 28% !important;
}
#changeArea.login dl dd.row_date span.txt {
	float: left;
	padding: 5px 2px;
}
#changeArea.login dl dd.row_date div select {
	border: 1px solid #dbdbdb;
	padding: 0 1.5%;
	background: #fff;
	height: 27px;
	width: 100%;
}

#changeArea.login dl dd.row_date .selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	float: left;
	width: 28%;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 90% center;
	line-height: 2;
}
#changeArea.login dl dd.row_date .selectBox.select01 {
	left: 0;
}
#changeArea.login dl dd.row_date .selectBox.select02 {
	left: 32%;
}
#changeArea.login dl dd.row_date .selectBox.select03 {
	left: 63%;
}

#changeArea.login dl dd.hint .selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	float: left;
	width: 100%;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 98% center;
	line-height: 2;
}



/* ステップ3ページ */
#changeArea .login_thanks {
	padding: 25px 0;
	margin: 0 1.5% 35px;
	text-align: center;
	background: #ecf1d6;
}
#changeArea .login_thanks .sub_tit {
	margin-bottom: 20px;
	color: #789415;
	font-size: 11px;
	display: inline-block;
	position: relative;
}
#changeArea .login_thanks .sub_tit:before {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	left: 65px;
	top: 8px;
}
#changeArea .login_thanks .sub_tit:after {
	content: '';
	display: inline-block;
	width: 60px;
	height: 1px;
	background: #A7C027;
	position: absolute;
	right: 65px;
	top: 8px;
}
#changeArea .login_thanks h3 {
	margin-bottom: 30px;
	color: #789415;
	font-size: 17px;
	font-weight: normal;
}
#changeArea .login_thanks p {
	margin-bottom: 20px;
	font-size: 12px;
}
#changeArea .login_thanks .btn {
	margin: 0 auto;
	display: inline-block;
	width: 80%;
}
#changeArea .login_thanks .btn a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	background: #8cb202;
}


/* ----------
		お届け先追加・変更
---------- */
#deliveryArea h2 {
	margin-bottom: 10px;
}
#deliveryArea p.number {
	font-size: 12px;
	width: 97%;
	margin: 0 auto 15px;
}
#deliveryArea p.number span {
	color: #fe9900;
	font-weight: bold;
}
#deliveryArea .add_address {
	width: 97%;
	margin: 0 auto 15px;
}
#deliveryArea .add_address a {
	display: block;
	background: #6a6866;
	text-align: center;
	color: #fff;
	height: 35px;
	line-height: 35px;
}
#deliveryArea dl dt {
	font-size: 12px;
	padding: 5px 1.5%;
	margin-bottom: 10px;
	background: #ededed;
	font-weight: bold;
}
#deliveryArea dl dd {
	margin: 0 1.5% 15px;
	overflow: hidden;
}
#deliveryArea dl dd p {
	padding-left: 1.1em;
	margin-bottom: 7px;
}
#deliveryArea dl dd .btn_bloc {
	float: right;
	overflow: hidden;
	bottom: 15px;
}
#deliveryArea dl dd .btn_bloc ul li {
	float: left;
	width: 50px;
	margin-left: 10px;
}
#deliveryArea dl dd .btn_bloc ul li a {
	display: block;
	text-align: center;
	height: 25px;
	line-height: 25px;
}
#deliveryArea dl dd .btn_bloc ul li.detail a {
	color: #fff;
	background: #6a6866;
}
#deliveryArea dl dd .btn_bloc ul li.delete a {
	background: #e6e6e6;
}

/* ----------
		お届け先追加・変更
---------- */
#refusalArea h3.bdb {
	width: 97%;
	font-size: 13px;
	margin: 0 auto 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b2b2b2;
}
#refusalArea p.outline {
	width: 97%;
	margin: 0 auto 15px;
}
#refusalArea .refusal_content {
	padding: 25px 0;
	margin: 0 1.5% 35px;
	text-align: center;
	background: #f4f4f4;
}
#refusalArea .refusal_content .btn {
	margin: 35px auto 0;
	display: inline-block;
	width: 80%;
}
#refusalArea .refusal_content .btn input[type="submit"] {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	background: #8cb202;
	width: 100%;
	  -webkit-appearance: none;
	border: none;
	border-radius: 0;
}

#refusalArea .reason {
	width: 85%;
	margin: 20px auto 20px;
	padding: 10px;
	background: #e0e0e0;
	text-align: left;
}
#refusalArea .reason textarea {
	padding: 0;
	margin-top: 5px;
	width: 100%;
	height: 120px;
	border: none;
}
#refusalArea ul.confirm_btn {
	overflow: hidden;
	margin: 0 auto;
}
#refusalArea ul.confirm_btn li {
	width: 80%;
	margin: 10px auto 0;
}

#refusalArea ul.confirm_btn li.back a {
	display: block;
	background-color: #939393;
	color: #fff;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
}
#refusalArea ul.confirm_btn li input[type="submit"] {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	background: #8cb202;
	width: 100%;
	  -webkit-appearance: none;
	border: none;
	border-radius: 0;
}

#refusalArea .refusal_content h3 {
	margin-bottom: 25px;
	color: #789415;
	font-size: 14px;
	font-weight: normal;
}
#refusalArea .refusal_content .btn a {
	display: block;
	background-color: #8cb202;
	color: #fff;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
}