@charset "utf-8";

/* ----- top ----- */
main form h2 {
	border: none;
	width: 97%;
	margin: 0 auto 7px;
	font-size: 16px;
}
#form_h2_text {
	width: 97%;
	margin: 0 auto 12px;
	font-size: 12px;
	line-height: 16px;
}

/* ----- form共通設定 ----- */
main form dl {
	position: relative;
}
/* dt */
main form dt {
	background-color: #ededed;
	font-size: 12px;
	padding: 3px 0 3px 4px; 
}
main form dt span {
	color: #ff0000;
	font-size: 11px;
	margin-left: 12px;
}
/* dd */
main form dd {
	padding: 12px 0px 13px 10px;
	font-size: 11px;
}
/* selectカスタマイズ（プラグイン） */
.selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 80px;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 68px center;
}
select{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	position:absolute;
	top: -1px;
	left: -1px;
}/* / selectカスタマイズ（プラグイン） */
/* input */
main form dd input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 25px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none;
	padding-left: 5px;
}
/* textarea */
main form dd textarea {
	resize: none;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none; 
}



/* お名前 */
.form_name dd label {
	display: inline-block;
	width: 27px;
}
.form_name dd input {
	width: 38%;
}
#name01,
#kana01 {
	margin-right: 5px;
}
#form_nameText {
	font-size: 10px;
	margin-top: 3px;
}
/* 郵便番号 */
#form_postcode p span {
	font-size: 14px;
}
#form_postcode input[type="text"] {
	width: 27%;
}
#form_postcode input[type="button"] {
	-webkit-appearance: none;
	width: 30%;
	height: 25px;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background-color: #939393;
	color: #fff;
	font-size: 11px;
	margin-left: 5px;
	vertical-align: top;
}
#form_postText {
	font-size: 10px;
	margin-top: 3px;
}
/* 住所 */
#form_address label {
	display: block;
	margin-bottom: 2px;
	margin-top: 5px;
}
#label_first {
	margin-top: 0 !important;
}
#form_address input {
	width: 96%;
}
#form_address_text {
	font-size: 10px;
	line-height: 12px;
	margin-top: 8px;
}
/* 電話番号 FAX */
#form_tel input,
#form_fax input {
	width: 26%;
}
#form_tel dd span,
#form_fax dd span {
	font-size: 14px;
}
/* 登録する */
#touroku {
	height: 45px;
	text-align: center;
	margin-top: 13px;
	margin-bottom: 32px;
}
#touroku input {
	-webkit-appearance: none;
	width: 97%;
	height: 45px;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background-color: #8cb301;
	color: #fff;
	font-size: 13px;
}
























