@charset "utf-8";


.pager {
	width: 97%;
	margin: 20px auto 32px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-align: center;
	background: #e6e6e8;
}
.pager span.prev.off {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.prev.on a {
	float: left;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_prev.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.off {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next_off.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.pager span.next.on a {
	float: right;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	background: url(../img/common/ico_arrow_next.png) no-repeat center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}


/* news Index */
#newsIndexArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#newsIndexArea p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#newsIndexArea #newsList li {
	overflow: hidden;
}
#newsIndexArea #newsList li a {
	display: block;
}
#newsIndexArea #newsList .nl_date {
	font-size: 12px;
	padding: 5px 1.5%;
	margin-bottom: 10px;
	background: #ededed;
}
#newsList .nl_oshirase,#newsList .nl_juyou {
	float: left;
	text-align: center;
	margin: 0 3% 0 1.5%;
}
#newsList .nl_oshirase span ,#newsList .nl_juyou span {
	display: inline-block;
	width: 50px;
	height: 18px;
	padding-top: 3px;
	color: #fff;
	background-color: #d12626;
	font-size: 9px;
}
#newsList .nl_oshirase span {
	background-color: #b3bbbc;
}
#newsList .nl_text {
  padding: 2px 0 9px;
}



/* news */
#newsDetail h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#newsDetail p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
	word-wrap: break-word;
}
#newsDetail p a {
	color: #789415;
}
#newsDetail #ndTop {
	width: 97%;
	margin: 0 auto 10px;
	overflow: hidden;
}
#newsDetail #ndTop span#newsDetail_tag {
	display: inline-block;
	width: 50px;
	height: 18px;
	padding-top: 3px;
	margin-right: 3%;
	color: #fff;
	background-color: #d12626;
	font-size: 9px;
	float: left;
	text-align: center;
}
#newsDetail #ndTop span#newsDetail_date {
	margin-top: 2px;
	float: left;
}
#newsDetail h3 {
	width: 97%;
	margin: 0 auto 10px;
	font-size: 14px;
	padding-bottom: 3px;
	border-bottom: 1px solid #b2b2b2;
}
#newsDetail p#nd_img {
	width: 90%;
	margin: 0 auto 20px;
}
#newsDetail p#nd_img img {
	max-width: 100%;
	height: auto;
}

#newsPrevNext {
	display: table;
	background: #e6e6e8;
	width: 97%;
	margin: 0 auto 15px;
	padding: 7px 0 5px;
}
#newsPrevNext a {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}
#newsPrevNext a#newsPrev {
	padding: 0 4% 0 6%;
	background: url(../img/common/ico_arrow_prev.png) no-repeat 2.5% center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
#newsPrevNext a#newsNext {
	padding: 0 6% 0 4%;
	background: url(../img/common/ico_arrow_next.png) no-repeat 97.5% center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}

