@charset "utf-8";

#ocha_cafeArea img {
	max-width: 100%;
	height: auto;
}
#ocha_cafeArea .title_banner {
	margin-top: -15px;
}

#ocha_cafeArea .cnt_cafe {
	margin: 25px 0 20px;
}
#ocha_cafeArea .cnt_cafe ul li {
	padding: 0 1.5% 3%;
	margin-bottom: 8px;
	font-size: 10px;
}
#ocha_cafeArea .cnt_cafe ul li.cnt01 {
	background: #fff8fa;
}
#ocha_cafeArea .cnt_cafe ul li.cnt02 {
	background: #f2f6db;
}
#ocha_cafeArea .cnt_cafe ul li.cnt03 {
	background: #fbf8e7;
}
#ocha_cafeArea .cnt_cafe ul li h4 {
	width: 133px;
	margin: 0 auto 5px;
}
#ocha_cafeArea .cnt_cafe ul li .image {
	float: right;
	width: 140px;
	padding-left: 3%;
}
#ocha_cafeArea .cnt_cafe ul li p.time {
	font-size: 9px;
}
#ocha_cafeArea h3.bdb {
	font-size: 14px;
	padding: 0 1.5% 5px;
	border-bottom: 1px solid #b2b2b2;
}
#ocha_cafeArea .cafe_detail .inner {
	margin-top: 10px;
	padding: 0 1.5%;
}
#ocha_cafeArea .cafe_detail .inner .image {
	float: right;
	width: 135px;
	padding-left: 5%;
}





