@charset "utf-8";

/* ----------
	共通
---------- */
#exform h2 {
	width: 97%;
	margin: 0 auto 2px;
	border: none;
	background: url('../img/order/cart_icon.png') no-repeat 5px 2px;
	background-size: 20px 17px;
	text-indent: 28px;
	font-size: 16px;
}
#exform > ol {
	width: 97%;
	height: 35px;
	padding: 0;
	margin: 0px auto 17px;
	display: table;
	table-layout: fixed;
	background: url('../img/common/step1.png') no-repeat left top;
	background-size: 100% 100%;
}
#exform > ol#exform_step2 {
	background: url('../img/common/step2.png') no-repeat left top;
	background-size: 100% 100%;
}
#exform > ol li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-indent: 10px;
	font-size: 12px;
}
#exform > ol li#step_current {
	color: #789415;
}
#exform dl dt {
	display: block;
	background-color: #ebebeb;
	padding: 3px 0 3px 4px; 
}
#exform dl dd {
	padding: 12px 10px 13px;
}
/* selectカスタマイズ（プラグイン） */
/*
.selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	/*width: 200px;*/
/*	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	display: inline-block; /* 追加 */
/*	font-size: 11px; /* 追加 */
/*}
.select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	z-index: 10000;
	position:absolute;
	top: -1px;
	left: -1px;
}/* / selectカスタマイズ（プラグイン） */

.selectBox {
    display: inline-block;
}


/* ----------
	step1
---------- */
/* 商品 */
.itemContainer {
	position: relative;
}
.orange {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 97%;
	margin: 0 auto 16px;
	height: 28px;
	padding-top: 2px;
	border: 2px solid #ff942c;
	text-align: center;
	color: #ff942c;
	font-size: 13px;
}
.newOtodoke .addAd_hukusu {
	display: none;
}
div.itemContainer {
	border-bottom: 2px solid #b2b2b2;
	margin-bottom: 20px;
}
div.itemContainer dl.itemitem {
	width: 97% !important;
	margin: 0 auto 5px !important;
}
div.itemContainer dl.itemitem dt {
	display: table-cell !important;
	background-color: #fff !important;
	padding: 0 7px 0 0 !important;
}
div.itemContainer dl.itemitem dt img {
	vertical-align: top;
}
div.itemContainer dl.itemitem dd {
	display: table-cell !important;
	vertical-align: middle;
	font-size: 13px !important;;
	line-height: 16px !important;
	width: 100% !important;
}
div.ic_margin {
	margin-top: 19px;
	font-size: 12px　!important;;
}
div.ic_margin p {
	margin-bottom: 4px;
}
div.ic_margin p > span {
	display: inline-block;
	width: 40%;
}
div.ic_margin .ic_suryo {
	display: inline-block;
	width: 38%;
}
div.ic_margin .selectBox {
	width: 69px;
	background-position: 56px center;
}
div.ic_margin .selectBox {
	padding-top: 4px;
}
div.ic_margin .selectBox select {
	width: 100%;
}
/* のし */
.noshi dd > div {
	font-size: 11px;
}
.noshi label {
	display: inline-block;
	width: 21%;
	margin-left: 3px;
	vertical-align: middle;
	padding-bottom: 6px;
}
.noshi .selectBox {
	width: 130px;
	background-position: 117px center;
	padding-top: 3px;
}
.noshi .selectBox select {
	width: 100%;
}
/* お届け先 */
.otodokesaki p {
	font-size: 11px;
	margin-bottom: 10px;
}
.otodokesaki .selectBox {
	width: 100%;
	background-position: 98.4% center;
	padding-top: 3px;
	overflow: hidden;
	padding-right: 10px;
	font-size: 11px;
	margin-bottom: 10px;
}
.otodokesaki .selectBox select {
	width: 100%;
}
.otodokesaki p.addAd {
	text-align: center;
}
.otodokesaki input {
	-webkit-appearance: none;
	width: 50%;
	height: 30px;
	background-color: #939393;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 11px;
	text-align: center;
}
.addAd_hukusu {
	width: 46% !important;
	background-color: #8cb302 !important;
}
.addAd_new {

}
/* お届け希望日時 */
dl.desire {

}
dl.desire dd > div {
	margin-bottom: 7px;
}
dl.desire dd label {
	display: inline-block;
	width: 28%;
	margin-left: 3px;
}
dl.desire dd .selectBox {
	width: 42%;
	background-position: 97% center;
	overflow: hidden;
	font-size: 11px;
	vertical-align: middle;
}
/* お支払い方法 */
.payment dd > p label {
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
	padding-bottom: 6px;
	font-size: 11px;
}
.payment dd > div {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 102%;
	position: relative;
	left: -1%;
	margin-top: 3px;
	margin-bottom: 20px;
}
.payment dd > div > div {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 102%;
	position: relative;
	left: -1%;
	padding: 13px;
	border: 1px solid #eaeaea;
	margin-bottom: 8px;
}
.payment dd > div > div p {
	margin-bottom: 7px;
} 
.payment dd > div div label {
	display: block;
	font-size: 11px;
	margin-bottom: 2px;
}
.payment dd > div input[type='text'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	font-size: 11px;
}
.p_cardnum input {
	width: 100%;
}
.p_scode01,
.p_scode02 {
	display: inline-block;
	width: 47%;
}
.p_scode01 input {
	width: 61%;
}
.p_scode02 input {
	width: 37%;
}
.p_scode02 span {
	margin: 0 5px;
	font-size: 15px;
}
.p_name input {
	width: 39%;
}
.p_name span {
	display: inline-block;
	width: 7%;
	font-size: 11px;
}
#creditForm {
	display: none;
}
.payment dd > div > p {
	padding: 0 10px;
	font-size: 11px;
	line-height: 16px;
}
.payment dd > div > p > span {
	display: block;
	text-decoration: underline;
	text-indent: 28px;
	margin: 6px 0 2px;
}
.payment dd > div > p > input {
	margin-left: 12px;
}
/* 備考・ご要望 */
.bikou p {
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 10px;
}
.bikou p a {
	color: #789415;
}
.bikou textarea {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	padding: 4px 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	font-size: 11px;
	resize: none;
	width: 102%;
	position: relative;
	left: -1%;
	height: 114px;
}
/* ボタン */
#submit_back01 {
	display: block;
	margin: 8px auto 6px;
	-webkit-appearance: none;
	border: none;
	border-radius: 0px;
	width: 97%;
	height: 45px;
	color: #fff;
	font-size: 13px;
	background-color: #8cb302;
}
#submit_back02 {
	display: block;
	margin: 0 auto 20px;
	-webkit-appearance: none;
	border: none;
	border-radius: 0px;
	width: 97%;
	height: 30px;
	color: #fff;
	font-size: 13px;
	background-color: #939393;
}



/* ----------
	step2
---------- */
h2#exform_step2  {
	background: none;
	text-indent: 0px;
}
.ic_step2 {
	border: none !important;
	margin-bottom: 0 !important;
}
#grayArea {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 97%;
	padding: 18px;
	margin: 0 auto;
	background-color: #eeeeee;
	margin-bottom: 18px;
}
#grayArea dl {
	clear: both;
	font-size: 12px;
}
#grayArea dt,
#grayArea dd {
	padding: 0 !important;
}
#grayArea dt {
	display: block;
	background-color: #eeeeee !important;
	float: left;
}
#grayArea dd {
	display: block;
	float: right;
}
/* A */
#grayAreaA {
	line-height: 13px;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 7px;
	height: 38px;
}
#grayAreaA dt span {
	display: block;
}
#grayAreaA dt label {
	font-size: 10px;
	position: relative;
	top: -2px;
}
#grayAreaA dd {
	margin-top: 1px;
}
#grayAreaA dd span {
	color: #ff1600;
}
/* B */
#grayAreaB {
	height: 38px;
}
/* C */
/* D */
#grayAreaC,
#grayAreaD {
	height: 19px;
}
/* E */
#grayAreaE {
	height: 25px;
}
/* F */
#grayAreaF {
	height: 15px;
	padding-top: 10px;
	border-top: 1px solid #d6d6d6;
	margin-top: 10px;
	color: #ff1600;
	font-weight: bold;
}



/* ----------
	step3
---------- */
#order_step3 h2 {
	width: 97%;
	margin: 0 auto 2px;
	border: none;
	font-size: 16px;
}
#order_step3 > ol {
	width: 97%;
	height: 35px;
	padding: 0;
	margin: 0px auto 17px;
	display: table;
	table-layout: fixed;
	background: url('../img/common/step3.png') no-repeat left top;
	background-size: 100% 100%;
}
#order_step3 > ol li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-indent: 10px;
	font-size: 12px;
}
#order_step3 > ol li#step_current {
	color: #789415;
}
/* thanksArea */
#thanksArea {
	text-align: center;
	color: #789415;
	margin-bottom: 0px;
}
#thanksArea > div {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 97%;
	margin: 0 auto;
	background-color: #ecf1d6;
	padding: 31px 25px 22px;
	margin-bottom: 14px;
}
#thanksArea > div p#thanksArea_top {
	line-height: 11px;
	font-size: 11px;
	margin-bottom: 30px;
}
#thanksArea > div p#thanksArea_top:before,
#thanksArea > div p#thanksArea_top:after {
	content: '';
	display: inline-block;
	border-top: 1px solid #789415;
	width: 19%;
	position: relative;
	top: -3px;
	margin: 0 2px;
}
#thanksArea > div h3 {
	line-height: 24px;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 20px;
}
#thanksArea_text {
	color: #383838;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	margin-bottom: 21px;
}
#thanksArea > div > div#thanksArea_border {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 257px;
	height: 35px;
	margin: 0 auto 20px;
	border: 5px solid #f6f8eb;
	color: #383838;
	font-size: 11px;
	line-height: 25px; 
}
#thanksArea_footer {
	color: #383838;
	font-size: 11px;
	text-align: left;
}
div#thanksArea_teltime {
	width: 257px;
	margin: 0 auto;
}
#thanksArea_time {
	color: #383838;
	font-size: 11px;
	text-align: left;
}
#thanksArea_time span {
	display: inline-block;
	text-indent: 55px;
}
#thanksArea_back a {
	display: block;
	background-color: #8cb301;
	width: 97%;
	margin: 0 auto 25px !important;
	height: 32px;
	padding-top: 8px;
	color: #fff;
	font-size: 13px;	
	text-align: center;
}