@charset "utf-8";



#qualityArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#qualityArea p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#qualityArea img {
	max-width: 100%;
	height: auto;
}
.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#qualityArea .red {
	color: #ff0000;
}

#qualityArea h3.bdb {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 9px;
	border-bottom: 1px solid #d9d9d9;
	padding-left: 1.5%;
}
#qualityArea .title_banner {
	margin-top: -15px;
}

#qualityArea .result_check {
	margin: 20px 0;
	padding: 3% 1.5%;
	background: #f2f6db;
}
#qualityArea .result_check p {
	width: 100%;
	margin: 10px 0 0;
	font-size: 9px;
	line-height: 14px;
}
#qualityArea .result_check .image {
	float: right;
	padding-left: 5px;
	width: 111px;
}
#qualityArea .result_check h3 {
	font-size: 11px;
	line-height: 17px;
}


#qualityArea .flow_top {
	background: #f6f5ee;
	padding: 2% 1.5%;
}
#qualityArea .flow_top .image {
	float: right;
	width: 27%;
}
#qualityArea .flow_top ul {
	width: 70%;
	float: left;
}
#qualityArea .flow_top ul li {
	margin-top: 20px;
	padding: 2% 2.5%;
	background: #fff;
	border: 1px solid #eeece0;
	position: relative;
}
#qualityArea .flow_top ul li p {
	font-size: 9px;
	margin-bottom: 0;
	width: 100%;
	line-height: 14px;
}
#qualityArea .flow_top ul.w100 {
	width: 100%;
}
#qualityArea .flow_top ul.w100 li:first-child {
	margin-top: 20px;
}
#qualityArea .flow_top ul li:before {
	content: url(../img/quality/arrow_grey.png);
	position: absolute;
	bottom: -22px;
	left: 75px;
	z-index: 999;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
}
#qualityArea .flow_top ul li:first-child {
	margin-top: 0;
}
#qualityArea .flow_top ul li h4 {
	font-size: 12px;
}
#qualityArea .flow_bottom {
	background: #f2f6db;
	padding: 3% 1.5%;
}

#qualityArea .flow_bottom ul li:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#qualityArea .flow_bottom ul li {
	width: 100%;
	background: #fff;
	margin-top: 20px;
	position: relative;
	display: table;
	min-height: 45px;
	border: 1px solid #edecde;
}
#qualityArea .flow_bottom ul li:before {
	content: url(../img/quality/arrow_green.png);
	position: absolute;
	top: -19px;
	left: 75px;
	z-index: 999;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
}
#qualityArea .flow_bottom ul li:first-child {
	margin-top: 0;
}
#qualityArea .flow_bottom ul li:first-child:before {
	content: none;
}
#qualityArea .flow_bottom ul li .image {
	float: right;
	width: 100px;
}
#qualityArea .flow_bottom ul li h4 {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	padding-left: 2.5%;
}
#qualityArea .flow_bottom ul li h4.circle {
	position: relative;
	padding-left: 42px;
}
#qualityArea .flow_bottom ul li h4.circle span {
	background: url(../img/quality/circle01.png) no-repeat center;
	-webkit-background-size: 32px 32px;
	background-size: 32px 32px;
	width: 32px;
	padding: 9px 0 7px;
	font-size: 9px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 7px;
	left: 5px;
}
#qualityArea .flow_bottom ul li p {
	font-size: 9px;
	margin: 0;
	line-height: 14px;
}
#qualityArea .flow_bottom ul li.cnt_dl {
	background: none;
	border: none;
}
#qualityArea .flow_bottom ul li.cnt_dl dl {
	overflow: hidden;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dt {
  float: left;
  width: 11%;
  background: #fff;
  border: 1px solid #edecde;
  min-height: 70px;
  display: table;
  padding-left: 2.5%;
}
}
#qualityArea .flow_bottom ul li.cnt_dl dl dt h4 {
	display: table-cell;
	vertical-align: middle;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dd {
	float: right;
	width: 85%;
	background: #fff;
	border: 1px solid #edecde;
	display: table;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dd p {
	padding-left: 2.5%;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dd .text {
	display: table-cell;
	vertical-align: middle;
}
#qualityArea .flow_bottom ul li.cnt_dl dl dd .text h5 {
	font-size: 12px;
	padding-left: 2.5%;
}
#qualityArea .flow_bottom ul li.cnt_dl.dl2 dl dt {
	width: 24%;
} 
#qualityArea .flow_bottom ul li.cnt_dl.dl2 dl dd {
	width: 72%;
} 



#qualityArea .flow01_top dl {
	margin-top: 20px;
}
#qualityArea .flow01_top dl:first-child {
	margin-top: 0;
}
#qualityArea .flow01_top dl dt {
	float: right;
	width: 100px;
	padding-left: 3%;
}
#qualityArea .flow01_top dl dd.mt0 {
	margin-top: 0;
}
#qualityArea .flow01_top dl dt.pt0 {
	padding-top: 0;
}
#qualityArea .flow01_top dl dd {
	padding: 2% 2.5%;
	margin-right: 105px;
	background: #fff;
	border: 1px solid #eeece0;
	position: relative;
}
#qualityArea .flow01_top dl dd:before {
	content: url(../img/quality/arrow_grey.png);
	position: absolute;
	bottom: -22px;
	left: 75px;
	z-index: 999;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
}
#qualityArea .flow01_top dl dd p {
	font-size: 9px;
	margin-bottom: 0;
	width: 100%;
	line-height: 14px;
}