@charset "utf-8";

#regular_purchaseArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#regular_purchaseArea p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#regular_purchaseArea .regular_bloc .btn_area {
	width: 97%;
	margin: 0 auto 25px;
}
#regular_purchaseArea .regular_bloc .btn_area span.tel img {
	max-width: 100%;
	height: auto;
}
#regular_purchaseArea .regular_bloc h3 {
	width: 97%;
	margin: 0 auto 15px;
	height: 50px;
	line-height: 18px;
	font-size: 14px;
	font-weight: normal;
	background-color: #ecf1d6;
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: 60px 50px;
	background-size: 60px 50px;
}
#regular_purchaseArea .regular_bloc h3 span {
	padding: 3px 2% 0 70px;
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#regular_purchaseArea .regular_bloc h3.point01 {
	background-image: url(../img/common/ico_point01.png);
}
#regular_purchaseArea .regular_bloc h3.point02 {
	background-image: url(../img/common/ico_point02.png);
}
#regular_purchaseArea .regular_bloc h3.point03 {
	background-image: url(../img/common/ico_point03.png);
}
#regular_purchaseArea .regular_bloc .image {
	text-align: center;
	margin-bottom: 15px;
}
#regular_purchaseArea .regular_bloc .btn_area a {
	display: block;
	height: 30px;
	background: url('../img/common/nextArrow.png') no-repeat 75% center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
	background-color: #939393;
	margin-bottom: 10px;
	font-size: 13px;
	color: #fff;
	line-height: 30px;
	text-align: center;
}


