@charset "utf-8";
ul#pankuzulist {
	border: none;
}
#reichaWrap img {
	max-width: 100%;
	height: auto;
}


#reichaWrap .title_bloc h2 {
	border: none;
	margin-bottom: 10px;
}
#reichaWrap .title_bloc p {
	font-size: 10px;
	margin: 0 1.5% 25px;
}

#reichaWrap ol.cnt_list {
	margin: 10px 1.5%;
}
#reichaWrap ol.cnt_list li {
	font-size: 10px;
	padding: 0 0 0 22px;
}
#reichaWrap ol.cnt_list li:first-child {
	background: url(../img/reicha/ico_list01.png) no-repeat 1.5% 0;
	-webkit-background-size: 14.5px;
	background-size: 14.5px;
}
#reichaWrap ol.cnt_list li+li {
	background: url(../img/reicha/ico_list02.png) no-repeat 1.5% 0;
	-webkit-background-size: 14.5px;
	background-size: 14.5px;
}
#reichaWrap ol.cnt_list li:last-child {
	background: url(../img/reicha/ico_list03.png) no-repeat 1.5% 0;
	-webkit-background-size: 14.5px;
	background-size: 14.5px;
}
#reichaWrap .bloc01 {
	margin-bottom: 22px;
}
#reichaWrap p.attention {
	margin: 0 3% 25px;
	font-size: 10px;
}

#reichaWrap .cta_bloc {
	margin: 0 1.5% 22px;
	border: 5px solid #d6e9f2;
	position: relative;
}
#reichaWrap .cta_bloc .inner {
	padding: 18px 8px 10px 10px;
}
#reichaWrap .cta_bloc .limited {
	position: absolute;
	top: -11px;
	right: 4%;
}
#reichaWrap .cta_bloc .inner .image {
	float: left;
}
#reichaWrap .cta_bloc .inner .text_bloc {
	padding-left: 135px;
	min-height: 104px;
}
#reichaWrap .cta_bloc .inner .text_bloc h3 {
	margin-bottom: 5px;
}
#reichaWrap .cta_bloc .inner .text_bloc p.detail {
	font-size: 9px;
	line-height: 1.3;
}
#reichaWrap .cta_bloc .inner .text_bloc p.price {
	text-align: right;
	font-size: 15px;
}
#reichaWrap .cta_bloc .inner .text_bloc p.price span.mini {
	font-size: 10px;
}
#reichaWrap .cta_bloc .inner .btn_bloc a {
	display: block;
	width: 115px;
	margin: 10px auto 0;
	padding: 5px 0 4px;
	text-align: center;
	font-size: 10px;
	color: #fff;
	background: #8cb302;
	border-radius: 3px;
	clear: both;
}

#reichaWrap .recommend_wrap {
	margin: 0 1.5%;
} 
#reichaWrap .recommend_wrap .recommend_item ul {
	overflow: hidden;
	margin-bottom: 25px;
}
#reichaWrap .recommend_wrap .recommend_item ul li {
	display: inline-block;
	width: 32%;
	vertical-align: top;
} 
#reichaWrap .recommend_wrap .recommend_item ul li .image {
	margin-bottom: 8px;
}
#reichaWrap .recommend_wrap .recommend_item ul li .text {
	font-size: 9px;
	line-height: 1.2;
}
#reichaWrap .recommend_wrap .recommend_item ul li h4 {
	font-size: 12px;
	line-height: 1.3;
	margin: 3px 0;
}


















