@charset "utf-8";

#reissueArea h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#reissueArea p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 5px auto 20px;
}

#reissueArea dl dt {
	font-size: 12px;
	padding: 5px 1.5%;
	background: #ededed;
	font-size: 12px;
}
#reissueArea dl dd {
	padding: 12px 1.5% 13px 1.5%;
	overflow: hidden;
}

#reissueArea dl span.required {
	padding-left: 10px;
	color: #ff0000;
	font-size: 11px;
}
#reissueArea dl dd input[type="text"],#reissueArea dl dd input[type="email"],#reissueArea dl dd input[type="password"] {
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	-webkit-appearance: none;
	height: 25px;
	line-height: 25px;
	padding: 0 1.5%;
	border-radius: 3px;
}
#reissueArea dd div.name {
	float: left;
	width: 50%;
}
#reissueArea dd div.name span {
	min-width: 25px;
	padding-top: 6px;
	float: left;
}
#reissueArea div .name {
	min-width: 25px;
	padding-top: 6px;
	display: block;
	float: left;
}
#reissueArea .short {
	width: 26%;
}
#reissueArea .middle {
	width: 75%;
}
#reissueArea .long {
	width: 95%;
}
#reissueArea input[type="submit"] {
	width: 97%;
	margin: 0 auto;
	display: block;
	background: #8cb302;
	color: #fff;
	border: none;
	padding: 14px 0 12px;
	border-radius: 0;
	-webkit-appearance: none;
	font-size: 13px;
}

#reissueArea dl dd.row_date {
	  padding: 12px 5% 13px 5%;
}
#reissueArea dl dd.row_date div.selectBox {
	float: left;
	width: 26% !important;
}
#reissueArea dl dd.row_date span.txt {
	float: left;
	padding: 5px 2px;
}
#reissueArea dl dd.row_date div select {
	border: 1px solid #dbdbdb;
	padding: 0 1.5%;
	background: #fff;
	height: 27px;
	width: 100%;
}

#reissueArea dl dd.row_date .selectBox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	float: left;
	width: 26%;
	height: 25px;
	padding: 2px 0 0 7px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: inset 0px 0px 2px #e0e0e0;
	box-shadow: inset 1px 1px 1px #e0e0e0;
	background-image: url('../img/common/select_icon.png');
	background-repeat: no-repeat;
	background-size: 6.5px 10.5px;
	background-position: 90% center;
	line-height: 2;
}
#reissueArea dl dd.row_date .selectBox.select01 {
	left: 5%;
}
#reissueArea dl dd.row_date .selectBox.select02 {
	left: 32%;
}
#reissueArea dl dd.row_date .selectBox.select03 {
	left: 60%;
}

#reissueArea dl dd.row_pass input[type="text"] {
	width: 90%;
	display: block;
	margin: 0 auto 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*step3*/
#reissueArea .reissue_thanks {
	padding: 25px 0;
	margin: 0 1.5% 35px;
	text-align: center;
	background: #ecf1d6;
}
#reissueArea .reissue_thanks .sub_tit {
	margin-bottom: 20px;
	color: #789415;
	font-size: 11px;
	display: inline-block;
	position: relative;
}

#reissueArea .reissue_thanks h3 {
	margin-bottom: 10px;
	color: #789415;
	font-size: 17px;
	font-weight: normal;
}
#reissueArea .reissue_thanks p {
	margin-bottom: 30px;
	font-size: 12px;
}
#reissueArea .reissue_thanks .btn {
	margin: 0 auto;
	display: inline-block;
	width: 80%;
}
#reissueArea .reissue_thanks .btn a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	background: #8cb202;
}