@charset "utf-8";
ul#pankuzulist {
	border: none;
}
#shinmushichaWrap img {
	max-width: 100%;
	height: auto;
}

#shinmushichaWrap .title_bloc {
	margin: 20px 1.5% 25px;
}
#shinmushichaWrap .title_bloc h2 {
	border: none;
	margin-bottom: 20px;
}
#shinmushichaWrap .title_bloc h3 {
	margin-bottom: 10px;
}
#shinmushichaWrap .title_bloc p {
	font-size: 10px;
}

#shinmushichaWrap .point_bloc h3 {
	margin: 15px 0;
}
#shinmushichaWrap .point_bloc .text_bloc {
	margin: 0 1.5%;
	font-size: 10px;
}
#shinmushichaWrap .point_bloc .text_bloc ol {
	color: #41931a;
	font-size: 12px;
	margin: 3px 0;
}
#shinmushichaWrap .point_bloc .text_bloc p.mt15 {
	margin-top: 15px;
}
#shinmushichaWrap .point_bloc .text_bloc .award_bloc {
	margin: 15px 0 30px;
	padding-left: 75px;
	background: url(../img/shinmushicha/img_award.png) no-repeat 8px top;
	-webkit-background-size: 60.5px 76.5px;
	background-size: 60.5px 76.5px;
}
#shinmushichaWrap .point_bloc .text_bloc .award_bloc h4 {
	margin-bottom: 3px;
}
#shinmushichaWrap .point_bloc .text_bloc .award_bloc p {
	line-height: 1.5;
}

#shinmushichaWrap .point_bloc.point02 {
	margin-bottom: 25px;
}
#shinmushichaWrap .point_bloc.point02 h3 {
	text-align: center;
	margin: 15px auto 10px;
} 
#shinmushichaWrap .point_bloc.point02 .text_bloc ul {
	overflow: hidden;
	margin: 0 1.5%;
}
#shinmushichaWrap .point_bloc.point02 .text_bloc ul li {
	float: left;
	width: 50%;
	line-height: 1.5;
}
#shinmushichaWrap .point_bloc.point02 .bloc02 {
	position: relative;
	top: -8px;
} 
#shinmushichaWrap .point_bloc.point02 .text_bloc .bloc02 p.text {
	padding-top: 30px;
}

#shinmushichaWrap .bottom_wrap {
	margin-bottom: 30px;
}

#shinmushichaWrap .item_wrap .item_bloc {
	background: #e9f5bf;
	padding: 7px 0 15px;
}
#shinmushichaWrap .item_wrap .item_bloc p.title {
	margin-bottom: 10px;
}
#shinmushichaWrap .item_wrap .item_bloc .bloc_top {
	overflow: hidden;
	margin: 0 1.5% 10px;
}
#shinmushichaWrap .item_wrap .item_bloc .bloc_top .image {
	float: right;
	padding-left: 3px;
}
#shinmushichaWrap .item_wrap .item_bloc .bloc_top .text_bloc {
	padding-top: 10px;
}
#shinmushichaWrap .item_wrap .item_bloc .bloc_top .text_bloc h3 {
	margin-bottom: 8px;
}
#shinmushichaWrap .item_wrap .item_bloc .bloc_top .text_bloc p.volume {
	font-size: 9px;
	text-align: right;
}
#shinmushichaWrap .item_wrap .item_bloc .bloc_top .text_bloc p.volume span.price {
	font-size: 12px;
	font-weight: bold;
	padding: 0 3px;
}
#shinmushichaWrap .item_wrap .item_bloc .bloc_top .text_bloc p.detail {
	font-size: 9px;
	line-height: 1.4;
}
#shinmushichaWrap .item_wrap .item_bloc .btn a {
	display: block;
	margin: 0 auto;
	padding: 5px 0 3px;
	width: 115px;
	text-align: center;
	color: #fff;
	background: #8cb302;
	border-radius: 3px;
}
#shinmushichaWrap .item_wrap .item_bloc.bloc02 {
	background: #fff;
}
#shinmushichaWrap .btn_cta {
	margin: 18px 0 35px;
	text-align: center;
}













