@charset "utf-8";
ul#pankuzulist {
	border: none;
}
#shinmushicha_sceneWrap img {
	max-width: 100%;
	height: auto;
}

#shinmushicha_sceneWrap .title_bloc {
	margin: 20px 1.5% 20px;
}
#shinmushicha_sceneWrap .title_bloc h2 {
	border: none;
}

#shinmushicha_sceneWrap h3.scene_title {
	margin: 0 1.5% 10px;
}
#shinmushicha_sceneWrap .scene_wrap {
	margin: 0 1.5% 30px;
}
#shinmushicha_sceneWrap .scene_wrap ul {
	overflow: hidden;
	margin-left: -1px;
}
#shinmushicha_sceneWrap .scene_wrap ul li {
	float: left;
	width: 33%;
	margin-left: 1px;
}


#shinmushicha_sceneWrap .item_wrap .item_bloc p.title {
	margin-bottom: 10px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_top {
	overflow: hidden;
	margin: 0 1.5% 10px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_top .image {
	float: right;
	padding-left: 3px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_top .text_bloc {
	padding-top: 10px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_top .text_bloc h3 {
	margin-bottom: 8px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_top .text_bloc p.volume {
	font-size: 9px;
	text-align: right;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_top .text_bloc p.volume span.price {
	font-size: 12px;
	font-weight: bold;
	padding: 0 3px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_top .text_bloc p.detail {
	font-size: 9px;
	line-height: 1.4;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_bottom {
	overflow: hidden;
	margin: 0 1.5% 15px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_bottom .left {
	width: 46%;
	float: left;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_bottom .right {
	width: 50%;
	float: right;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_bottom h4 {
	color: #e4b450;
	font-size: 9px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	font-weight: normal;
	background: url(../img/shinmushicha_scene/dot_line_item.png) no-repeat bottom;
	-webkit-background-size: 155px 2px;
	background-size: 155px 2px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .bloc_bottom p {
	font-size: 9px;
}
#shinmushicha_sceneWrap .item_wrap .item_bloc .btn a {
	display: block;
	margin: 0 auto 25px;
	padding: 5px 0 3px;
	width: 115px;
	text-align: center;
	color: #fff;
	background: #8cb302;
	border-radius: 3px;
}
#shinmushicha_sceneWrap .story01 {
	padding-left: 1.5%;
	margin-bottom: 8px;
}
#shinmushicha_sceneWrap .story02 {
	margin-bottom: 50px;
}
#shinmushicha_sceneWrap .story03 .image {
	margin-bottom: 12px;
}
#shinmushicha_sceneWrap .story03 p {
	margin: 0 1.5% 12px;
	font-size: 10px;
	line-height: 1.5;
}
#shinmushicha_sceneWrap .btn_cta {
	text-align: center;
	margin: 25px 0;
}

