@charset "utf-8";

.sitemapWrap h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
.sitemapWrap .map_bloc {
	width: 97%;
	margin: 0 auto 25px;
}
.sitemapWrap .map_bloc h3 {
	font-size: 15px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 6px 0 3px 5px;
	margin-bottom: 12px;
}
.sitemapWrap .map_bloc ul li {
	margin-bottom: 8px;
}
.sitemapWrap .map_bloc ul li a {
	color: #383838;
	padding-left: 18px;
	background: url(../img/sitemap/map_arrow_lv1.png) no-repeat 7px center;
	-webkit-background-size: 5px 8.5px;
	background-size: 5px 8.5px;
	font-size: 12px;
}
.sitemapWrap .map_bloc ul li a:hover {
	color: #789415;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.sitemapWrap .map_bloc ul li ul.level2 {
	margin-top: 8px;
}
.sitemapWrap .map_bloc ul li ul.level2 li a {
	margin-left: 15px;
	padding-left: 13px;
	background: url(../img/sitemap/map_arrow_lv2.png) no-repeat 3px center;
	-webkit-background-size: 5.5px 10px;
	background-size: 5.5px 10px;
}
