@charset "utf-8";

main h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
main section h3 {
	width: 97%;
	margin: 15px auto 9px;
	font-size: 14px;
	border-bottom: 1px solid #d9d9d9;
}
main section p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 10px;
}
main section:last-child {
	margin-bottom: 50px;
}
p#ceo_text {
	text-align: right;
	margin-top: -4px;
	margin-bottom: 10px;
}

.table_wrap {
	margin-top: 22px;
}
.table_wrap table {
	width: 100%;
}
.table_wrap table tr th {
	background: #ededed;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	font-weight: normal;
	padding: 5px 0;
}
.table_wrap table tr td {
	text-align: left;
	padding: 5px 3%;
	border-bottom: 1px solid #e5e5e5;
}
.centerTable {
	border-right: 1px solid #e5e5e5;
	width: 28%;
}