@charset "utf-8";

.cnt_inn {
	width: 97%;
	margin: 0 auto 8px;
}
.cnt_inn img {
	max-width: 100%;
	height: auto;
}
.btn {
	width: 97%;
	margin: 0 auto 40px;
}
.btn a {
	display: block;
	background: url('../img/common/nextArrow.png') no-repeat 70% center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
	background-color: #8cb202 !important;
	color: #fff;
	font-size: 13px;
	padding: 8px 0 8px 33%;
}