@charset "utf-8";

#tokushoWrap h2 {
	font-size: 16px;
	border: none;
	margin: 0 auto 15px;
	width: 97%;
}
#tokushoWrap p {
	font-size: 12px;
	line-height: 16px;
	width: 97%;
	margin: 0 auto 20px;
}
#tokushoWrap a {
	color: #789415;
}

#tokushoWrap dl {
	display: table;
	width: 100%;
}
#tokushoWrap dl#first_dl {
	border-top: 1px solid #e5e5e5;
} 
#tokushoWrap dl dt,#tokushoWrap dl dd {
	display: table-cell;
	vertical-align: middle;
	padding: 5px 1.5%;
	border-bottom: 1px solid #e5e5e5;
}
#tokushoWrap dl dt {
	border-right: 1px solid #e5e5e5;
	width: 33%;
}