@charset "utf-8";
ul#pankuzulist {
	border: none;
}
#trialset_campaignWrap img {
	max-width: 100%;
	height: auto;
}

#trialset_campaignWrap .cta_bloc {
	position: relative;
	text-align: center;
	background: url(../img/trialset_campaign/bg_cta.jpg) no-repeat;
	-webkit-background-size: cover;   
	background-size: cover;
}
#trialset_campaignWrap .cta_bloc h3 {
	padding: 15px 0;
}
#trialset_campaignWrap .cta_bloc ul li {
	margin-bottom: 2px;
}
#trialset_campaignWrap .cta_bloc .btn {
	margin-top: 15px;
}
#trialset_campaignWrap .cta_bloc p.attention {
	font-size: 9px;
	padding: 3px 0 8px;
}

#trialset_campaignWrap .point_wrap {
	margin-top: 28px;
	background: url(../img/trialset_campaign/bg_point.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 5px;
}
#trialset_campaignWrap .point_wrap h3 {
	text-align: center;
	padding: 40px 0 15px;
}

#trialset_campaignWrap .point_wrap .point_bloc {
	margin-bottom: 10px;
	padding: 15px 0;
	background: rgba(255,255,255,0.9);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
#trialset_campaignWrap .point_wrap .point_bloc h4 {
	text-align: center;
	margin-bottom: 10px;
}
#trialset_campaignWrap .point_wrap .point_bloc .text_bloc {
	overflow: hidden;
	padding: 0 5%;
	line-height: 1.5;
}
#trialset_campaignWrap .point_wrap .point_bloc .text_bloc p {
	font-size: 9px;
}
#trialset_campaignWrap .point_wrap .point_bloc .text_bloc p.mt15 {
	margin-top: 15px;
}
#trialset_campaignWrap .point_wrap .point_bloc .text_bloc p span {
	color: #41931a;
}
#trialset_campaignWrap .point_wrap .point_bloc .text_bloc ol {
	color: #41931a;
	font-size: 9px;
}
#trialset_campaignWrap .point_wrap .point_bloc .text_bloc span.image {
	float: right;
}
#trialset_campaignWrap .point_wrap .point_bloc.bloc02 span.image {
	width: 145px;
}
#trialset_campaignWrap .point_wrap .point_bloc.bloc03 .text_bloc p {
	padding-right: 110px;
}
#trialset_campaignWrap .point_wrap .point_bloc.bloc03 span.image {
	padding-right: 5px;
}

#trialset_campaignWrap .kyusu_wrap {
	margin-top: 22px;
}
#trialset_campaignWrap .kyusu_wrap .text {
	text-align: center;
	margin: 18px 0 30px;
}

#trialset_campaignWrap .cta_bloc.cta_bottom {
	margin-top: 110px;
}
#trialset_campaignWrap .cta_bloc.cta_bottom .title_cta_bottom {
	position: absolute;
	top: -80px;
	margin: 0 auto;
	left: 0;
	right: 0;
}




